
{extend name='public/layout' /}

{block name='content'}
<div class="container other-wrap">
<link type="text/css" href="/static/js/photo/css/prettyPhoto.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/storage/qiniuoss/qiniuplayer.min.css">

<link rel="stylesheet" type="text/css" href="/jl/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/jl/css/component.css" />
        <script src="/jl/js/modernizr.custom.js"></script>

    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.lazyload.js"></script>
<div class="bread-crumbs line-n">

    <div class="container fix">

        <div class="b-l">

            您当前的位置：<a href="{:url('Index/index')}">首页</a> &gt; <a href="{:url('Second/index')}">房源列表</a> &gt; {$info.title}</div>

    </div>
   

</div>


<link type="text/css" href="/static/js/photo/css/prettyPhoto.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/storage/qiniuoss/qiniuplayer.min.css">

<!-- 楼盘详情 S-->
<div class="house_detail" style="width:486px;float:left;height:420px;padding-bottom:0px;">
    <div class="comWidth">
        <!-- main_info S -->
        <div class="main_info" style="margin-bottom:0px">
            
            <div class="con_box clearfix" style="height:430px;float:left;">
                <div class="leftArea" style="width:486px;height:430px;">
                    <!-- 轮播图 S -->
                    <!--<div class="l_slide" style="width:486px;">
                        <ul class="bigImg" style="width:486px;">
                            {if condition="$storage_open eq 1 and $info['video']"}
                            <li style="height:396px;">
                                <video id="qiniu-video" class="video-js vjs-big-play-centered"></video>
                            </li>
                            {/if}
                            {notempty name='info.file'}
                            {volist name='info.file' id='vo'}
                            <li>
                                <a href="javascript:;"><img src="{$vo.url}" alt="{$vo.title}" width="486"></a>
                                
                            </li>

                            




                            {/volist}
                            {else /}
                            <li>
                                <a href="javascript:;"><img src="{$info.img}" alt="{$info.title}" width="486"></a>
                            </li>
                            {/notempty}
                        </ul>
                        <div class="smallScroll" style="width:486px;">
                            <a class="sPrev" href="javascript:void(0)">←</a>
                            <div class="smallImg">
                                <ul>
                                    {if condition="$storage_open eq 1 and $info['video']"}
                                    <li style="position:relative;">
                                        <a href="javascript:;">
                                            <img src="{:thumb($info['img'],160,80)}" alt="视频" />
                                        </a>
                                        <img src="/static/images/video.png" class="video-play" alt="">
                                    </li>
                                    {/if}
                                    {notempty name='info.file'}
                                    {volist name='info.file' id='vo'}
                                    <li>
                                        <a href="javascript:;"><img src="{:thumb($vo['url'],160,80)}" alt="{$vo.title}"></a>
                                    </li>
                                    {/volist}
                                    {else /}
                                    <li>
                                        <a href="javascript:;"><img src="{:thumb($info['img'],160,80)}" alt="{$info.title}"></a>
                                    </li>
                                    {/notempty}
                                </ul>
                            </div>
                            <a class="sNext" href="javascript:void(0)">→</a>
                        </div>
                    </div>-->
					
<style type="text/css">
*{ margin:0; padding:0; list-style:none;}
img{ border:0;}

.ban{ width:500px; height:420px;  overflow:hidden;}
.ban2{ width:486px; height:330px; position:relative; overflow:hidden;}
.ban2 ul{ position:absolute; left:0; top:0;}
.ban2 ul li{ width:486px; height:330px;}
.prev{ float:left; cursor:pointer;}
.num{ height:82px;overflow:hidden; width:430px; position:relative;float:left;}
.min_pic{ padding-top:10px; width:486px;}
.num ul{ position:absolute; left:0; top:0;}
.num ul li{ width:80px; height:60px; margin-right:5px; padding:1px;}
.num ul li.on{ border:1px solid red; padding:0;}
.prev_btn1{ width:16px; text-align:center; height:18px; margin-top:23px; margin-right:13px; cursor:pointer; float:left;}
.next_btn1{  width:16px; text-align:center; height:18px; margin-top:23px;cursor:pointer;float:right;}
.prev1{ position:absolute; top:220px; left:20px; width:28px; height:51px;z-index:9;cursor:pointer;}
.next1{ position:absolute; top:220px; right:20px; width:28px; height:51px;z-index:9;cursor:pointer;}
.mhc{ background:#000; width:100%;opacity:0.5;-moz-opacity:0.5;filter:alpha(Opacity=50); position:absolute; left:0; top:0; display:none;}
.pop_up{ width:500px; height:500px; padding:10px; background:#fff; position:fixed; -position:absolute; left:50%; top:50%; margin-left:-255px; margin-top:-255px; display:none; z-index:99;}
.pop_up_xx{ width:40px; height:40px; position:absolute; top:-40px; right:0; cursor:pointer;}
.pop_up2{ width:500px; height:500px; position:relative; overflow:hidden;}
.pop_up2{ width:500px; height:500px; position:relative; overflow:hidden; float:left;}
.pop_up2 ul{ position:absolute; left:0; top:0;}
.pop_up2 ul li{ width:500px; height:500px; float:left;}
</style>
<div class="ban" id="demo1">
<div class="ban2" id="ban_pic1">
<!--<div class="prev1" id="prev1"><img src="./hd/index_tab_l.png" width="28" height="51" alt=""></div>
<div class="next1" id="next1"><img src="./hd/index_tab_r.png" width="28" height="51" alt=""></div>-->
<ul style="width: 5000px; height: 5000px; left: -1500px;">
<!-- <li style="float: left;"><a href="javascript:;"><img src="./hd/b1.jpg" width="486" height="330" alt=""></a></li>
<li style="float: left;"><a href="javascript:;"><img src="./hd/b2.jpg" width="486" height="330" alt=""></a></li>
<li style="float: left;"><a href="javascript:;"><img src="./hd/b3.jpg" width="486" height="330" alt=""></a></li>
<li style="float: left;"><a href="javascript:;"><img src="./hd/b4.jpg" width="486" height="330" alt=""></a></li>
<li style="float: left;"><a href="javascript:;"><img src="./hd/b5.jpg" width="486" height="330" alt=""></a></li>
<li style="float: left;"><a href="javascript:;"><img src="./hd/b1.jpg" width="486" height="330" alt=""></a></li>
 -->
{notempty name='info.file'}
{volist name='info.file' id='vo'}
    <li style="float: left;"><a href="javascript:;"><img src="{$vo.url}" width="486" height="330" alt="{$vo.title}"></a></li>
{/volist}
{else /}
<li style="float: left;"><a href="javascript:;"><img src="{$info.img}" width="486" height="330" alt="{$info.title}"></a></li>
{/notempty}

</ul>
</div>
<div class="min_pic">
<div class="prev_btn1" id="prev_btn1"><img src="./hd/feel3.png" width="9" height="18" alt=""></div>
<div class="num clearfix" id="ban_num1">
<ul style="width: 870px; height: 820px; left: 0px;">
<!-- <li class="" style="float: left;"><a href="javascript:;"><img src="./hd/s1.jpg" width="80" height="60" alt=""></a></li>
<li style="float: left;" class=""><a href="javascript:;"><img src="./hd/s2.jpg" width="80" height="60" alt=""></a></li> 
<li style="float: left;" class=""><a href="javascript:;"><img src="./hd/s3.jpg" width="80" height="60" alt=""></a></li>
<li style="float: left;" class=""><a href="javascript:;"><img src="./hd/s4.jpg" width="80" height="60" alt=""></a></li>
<li style="float: left;" class=""><a href="javascript:;"><img src="./hd/s5.jpg" width="80" height="60" alt=""></a></li>
<li style="float: left;" class=""><a href="javascript:;"><img src="./hd/s1.jpg" width="80" height="60" alt=""></a></li> -->
{notempty name='info.file'}
{volist name='info.file' id='vo'}

<li style="float: left;" class=""><a href="javascript:;"><img src="{:thumb($vo['url'],160,80)}" width="80" height="60" alt="{$vo.title}"></a></li>
{/volist}
{else /}

<li style="float: left;" class=""><a href="javascript:;"><img src="{:thumb($info['img'],160,80)}" width="80" height="60" alt="{$info.title}"></a></li>
{/notempty}
</ul>
</div>
<div class="next_btn1" id="next_btn1"><img src="./hd/feel4.png" width="9" height="18" alt=""></div>
</div>
</div>

<script src="./hd/pictabby.js"></script>
<script type="text/javascript">
jq('#demo1').banqh({
	box:"#demo1",//总框架
	pic:"#ban_pic1",//大图框架
	pnum:"#ban_num1",//小图框架
	prev_btn:"#prev_btn1",//小图左箭头
	next_btn:"#next_btn1",//小图右箭头
	pop_prev:"#prev2",//弹出框左箭头
	pop_next:"#next2",//弹出框右箭头
	prev:"#prev1",//大图左箭头
	next:"#next1",//大图右箭头
	pop_div:"#demo2",//弹出框框架
	pop_pic:"#ban_pic2",//弹出框图片框架
	pop_xx:".pop_up_xx",//关闭弹出框按钮
	mhc:".mhc",//朦灰层
	autoplay:true,//是否自动播放
	interTime:5000,//图片自动切换间隔
	delayTime:400,//切换一张图片时间
	pop_delayTime:400,//弹出框切换一张图片时间
	order:0,//当前显示的图片（从0开始）
	picdire:true,//大图滚动方向（true为水平方向滚动）
	mindire:true,//小图滚动方向（true为水平方向滚动）
	min_picnum:5,//小图显示数量
	pop_up:true//大图是否有弹出框
})
</script>

					
					
					
					
					
                    <!-- 轮播图 E -->
                </div>
              
            </div>
        </div>
        <!-- main_info E -->
       
     
       
    </div>
</div>
<!-- 楼盘详情 E-->
<script src="/static/storage/qiniuoss/qiniuplayer.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/photo/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="__JS__/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="__JS__/l_slide.js"></script>
<script type="text/javascript" src="__JS__/scroll_nav.js"></script>
<script type="text/javascript">
    $(function(){
        var storage = "{$storage_open}",video = "{$info['video']}" && storage == 1 ? true : false;
        var options = {
            controls: true,
            url:  "{:getVideoUrl($info['video'])}",
            type: 'hls',
            poster : "{$info.img}",
            width  : 670,
            height : 396,
            preload: true,
            autoplay: false // 如为 true，则视频将会自动播放
        };
        // 判断播放器是否存在,渲染页面时如果为观看时间该元素才会存在
        video && new QiniuPlayer('qiniu-video', options);
        $("#photo:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});
        $('.J_dialog').on('click',function(){
            var me=$(this),w = 750,h = 400,house_id=me.data('id'),model = me.data('model'),type = me.data('type'),url = me.data('uri');
            url = url + '?house_id='+house_id+'&type='+type+'&model='+model;
            layer.open({
                type: 2,
                title: false,
                fix:true,
                move:false,
                area: [w+'px', h+'px'],
                shade: 0.8,
                closeBtn: 1,
                shadeClose: true,
                content: url
            });
        });
        $('.J_fydp').on('click',function(){
            var me=$(this),w = 750,h = 400,house_id=me.data('id'),model = me.data('model'),type = me.data('type'),url = me.data('uri');
            url = url + '?house_id='+house_id+'&type='+type+'&model='+model;
            layer.open({
                type: 2,
                title: false,
                fix:true,
                move:false,
                area: [w+'px', h+'px'],
                shade: 0.8,
                closeBtn: 1,
                shadeClose: true,
                content: url
            });
        });
    });
</script>
    <div class="housing-info fix">

        

        <div class="info-s fl">

            <div class="title">{$info.title}</div>

                        <div class="box-01 rel mb5">

                <div class="txt-s">

                    <div class="mb5">

                        <span style="width: 242px; display: inline-block;">起拍价：<span class="s-1">￥{$info.qipai|raw}万</span> </span>

                        <span>市场价：￥{$info.price|raw}</span>

                    </div>
                    <div class="mb5">

                        <span style="width: 242px; display: inline-block;">均价：￥{$info.junjia|raw}万</span>

                        <span>差价：￥{$info.chajia|raw}万</span>

                    </div>

                    <div class="fix">

                        <div class="fl" style="width: 245px;">

                            捡漏指数：

                            <span>
                            
                                {if $info.marketprice eq 1}
                            

                                <img src="/static/images/img-14.png">
                                
                                {/if}
                                
                                
                                {if $info.marketprice eq 2}
                            

                                <img src="/static/images/img-14.png">
                                
                                <img src="/static/images/img-14.png">
                                
                                {/if}
                                
                                {if $info.marketprice eq 3}
                            

                                <img src="/static/images/img-14.png">
                                
                                <img src="/static/images/img-14.png">
                                <img src="/static/images/img-14.png">
                                
                                {/if}
                                
                                {if $info.marketprice eq 4}
                            

                                <img src="/static/images/img-14.png">
                                
                                <img src="/static/images/img-14.png">
                                <img src="/static/images/img-14.png">
                                <img src="/static/images/img-14.png">
                                
                                {/if}
                                
                                {if $info.marketprice eq 5}
                            

                                <img src="/static/images/img-14.png">
                                <img src="/static/images/img-14.png">
                                <img src="/static/images/img-14.png">
                                <img src="/static/images/img-14.png">
                                <img src="/static/images/img-14.png">
                                
                                {/if}

                                

                            </span>

                        </div>

                        <div class="fl">

                            保证金：{$info.baozheng}

                        </div>

                    </div>



                </div>

                

            </div>

            <div class="box-02 fix mb15" style="margin-top:20px;">

                <div>
{if $info.toilet==''}
                    <span>{$info.room}室{$info.living_room}厅</span>
{else}
<span>{$info.toilet}</span>
{/if}
                    {$info.floor}/{$info.total_floor}层                </div>

                <div>

                    <span>{:getLinkMenuName(4,$info['orientations'])}</span>

                    朝向                </div>

                <div>

                    <span>{$info.acreage}{:config('filter.acreage_unit')}</span>

                    {$estate.years}年                </div>

            </div>

            <div class="box-03 mb10">

                <div class="fix">

                    <div class="fl" style="width: 248px;">小区名称：{$estate.title}</div> 　　　　　

                    <span class="fl"> 编号：{$info.bianhao}</span>

                </div>

                <div class="fix">

                    <div class="fl" style="width: 248px;">

                      所在区域：{$citys}　

                    </div>　

                    <span class="fl">

                      阶段：{$jieduans.name}                      

                    </span>

                </div>
                
                {if $info.fcstatus=='175'}
                <div class="fix" style="padding-top:20px; padding-bottom:20px;">

                    <div class="fl" style="width: 248px;color: #414141;font-size: 26px;padding: 0 5px;">

                      成交价：{$info.cjprice}<span style="font-size:14px;color:#777777;">万元</span>

                    </div>　

                    

                </div>
                {elseif $info.fcstatus=='172'}
                <div id="reciprocal1">开拍截止时间：<span class='s-1'><em>拍卖已中止</em></span></div>
                {elseif $info.fcstatus=='174'}
                <div id="reciprocal1">开拍截止时间：<span class='s-1'><em>拍卖已暂缓</em></span></div>
                {elseif $info.fcstatus=='173'}
                <div id="reciprocal1">开拍截止时间：<span class='s-1'><em>拍卖已撤回</em></span></div>
                {else}
                <div id="reciprocal"></div>
                {/if}

                                
<input type="text" name="username" id="username" value="{$info.kptime}" style="display:none;">
                
                <script type="text/javascript">

                   //显示保证金截止时间

                   var int;
                   var TimeStr=document.getElementById('username').value;

                   // var TimeStr="2019-06-17 10:00:00";

                   var fullDate = TimeStr.split(" ")[0].split("-");

                   var fullTime = TimeStr.split(" ")[1].split(":");



                   var Deadline =new Date(fullDate[0], fullDate[1]-1, fullDate[2], (fullTime[0] != null ? fullTime[0] : 0), (fullTime[1] != null ? fullTime[1] : 0), (fullTime[2] != null ? fullTime[2] : 0));

                   //var Deadline = (new Date("2017/09/03 10:00:00")).getTime();

                   function GetReciprocalTime() {

                       var nowdate = new Date();  //开始时间

                       var date = Deadline - nowdate.getTime();   //时间差的毫秒数

                       if (date > 0) {

                           //计算出相差天数

                           var days = Math.floor(date / (24 * 3600 * 1000))

                           //计算出小时数

                           var leave1 = date % (24 * 3600 * 1000)    //计算天数后剩余的毫秒数

                           var hours = Math.floor(leave1 / (3600 * 1000))

                           //计算相差分钟数

                           var leave2 = leave1 % (3600 * 1000)        //计算小时数后剩余的毫秒数

                           var minutes = Math.floor(leave2 / (60 * 1000))

                           //计算相差秒数

                           var leave3 = leave2 % (60 * 1000)      //计算分钟数后剩余的毫秒数

                           var seconds = (leave3 / 1000).toFixed(1)

                           var str = "开拍截止时间：<span class='s-1'><em>" + days + "</em> 天 <em>" + hours + "</em> 时 <em>" + minutes + "</em> 分 <em>" + seconds + "</em> 秒</span>";

                           $("#reciprocal").html(str);

                       }

                       else {

                           window.clearInterval(int);

                           $("#reciprocal").html("开拍截止时间：<span class='s-1'><em>已结束，流拍</em></span>");

                       }

                   };

                   $(document).ready(function () {

                       int=setInterval(function () {

                           GetReciprocalTime();

                       }, 100);

                   });

                </script>

                                <div class="rel">

                   <div>开拍时间：<span class="s-2">{$info.kptime}</span></div>

                   <div style="position:absolute; right:60px; top:0px;">

                     <font color="#d91615" size="+2">{$info.weiguan}</font>人围观
                      
                   </div>

                </div>

            </div>
            

            <div class="box-04 fix">

                <div class="box-s fix fl">
  
                  <!-- <a href="javascript:void(0);" class="btn appoint J_dialog" data-id="{$info.id}" data-model="second_house" data-type="1" data-uri="{:url('Dialog/subscribe')}">

                    <span class="icon fl"><img src="/static/images/img-78.png" alt="" ></span>

                    <span class="txt fl" style="color:#333">预约看房</span>

                  </a> -->
                  <span class="icon fl"><img src="/static/images/img-79.png" alt=""></span>

                   
                    <span class="btn appoint J_dialog txt fl" data-id="{$info.id}" data-type="1" data-model="second_house" data-uri="{:url('Dialog/subscribe')}">预约看房</span>

                </div>

                <div class="box-s fix fl ml20">

                  <!-- <a href="javascript:void(0)" onclick="ActOpt(4);"> -->

                    <span class="icon fl"><img src="/static/images/img-79.png" alt=""></span>

                    <!-- <span class="txt fl" data-id="{$info.id}" data-model="second_house" data-uri="{:url('Api/follow')}" style="color:#333">我要关注</span> -->
                    <span class="collect_btn follow txt fl" data-id="{$info.id}" data-model="second_house" data-uri="{:url('Api/follow')}">
                    {if $gzfang gt 0 }
                      已关注
                    {else}
                    关注房源
                    {/if}
                    </span>
      
                  <!-- </a> -->

                </div>

                <div class="box-s fix fl ml20 box-erwm">

                    <span class="icon fl"><img src="/static/images/199.png" alt="" ></span>

                    <a href="/tools/index.html" class="txt fl col-d91615" target="_blank" style="color:#616161;">贷款计算器</a>

                </div>

                

            </div>

                    </div>

        <div class="other-s fr">

                      <div class="top-s">

                <div class="pic"><a href="">
                <!-- <img src="{:getAvatar($info['broker_id'],180)}"> -->
                <img src="/uploads/avatar/{$info['broker_id']}/avatar.jpg" >

                </a></div>

                <div class="name">

                    <div>

                       <span>{$info.contacts.contact_name}</span> 法拍专员                    </div>

                    法拍服务从业经验{$nianxian.history_complate}年

                </div>

            </div>

            
            <!--<a href="http://wpa.qq.com/msgrd?v=3&uin={$qq[0]}&site=qq&menu=yes" target="_blank" class="online db rel">-->
            <a href="{:url('Ajax/consults')}?id={$info.broker_id}&houseid={$info.id}" target="_blank" class="online db rel" style="display:none;">
            在线咨询</a>
                    
                                      
        
                  
                  <a href="{$pinglun.kflj}&houseid={$info.id}&housetitle={$info.title}&houseimg={$info.img}&chattype=2" target="_blank" class="online db rel">在线咨询</a>
                  <!-- <a href="{$info.online_consulting}&houseid={$info.id}&housetitle={$info.title}&houseimg={$info.img}&chattype=2" target="_blank" class="online db rel">在线咨询</a> -->
                  
                  
                 

                  <script>

                  $('.online').hover(function(){

              $(this).children('.erwm-a').toggle()

            })

            </script>

                        <div class="tel" style="font-size:16px;">{$pinglun.lxtel}</div>
                        <div class="tel" style="background:url(/static/images/pj.jpg) no-repeat 12px 15px;"><a href="{:url('Broker/comment',['id'=>$info.broker_id])}" style="color:#ffb700;">我要点评</a></div>
                        <!-- <div style="border-bottom: 1px solid #d6d6d6;height: 50px;line-height: 50px;color: #d91615;font-size: 18px;padding-left: 40px;display:none"><a href="{:url('Broker/comment',['id'=>$info.broker_id])}" style="color:red;">我要点评</a></div> -->
                        {if $pdfpy.model eq 4}
                        <div class="tel" style="background:url(/static/images/pj.jpg) no-repeat 12px 15px;"><span class="btn appoint J_fydp txt fl" data-id="{$info.id}" data-type="1" data-model="second_house" data-uri="{:url('Dialog/fydp')}" style="color:#ffb700;">房源点评</span></div>
                        {/if}


                  </div>

    </div>



<!--房源情况-->

<div class="housing-pic">

                <div class="index-title mb20" style=" margin-bottom:-15px">

            <div class="en">Housing situation</div>

           

        </div>


            </div>



<style type="text/css">
.tabby-head div {
               
                width: 160px;
                height: 60px;
                line-height:60px;
                margin: 0;
                float: left;
                text-align: left;
                font-size:24px;
                font-family:"微软雅黑"
            }
            
            .tabby-content {
              
                width: 1200px;
                height: auto;
                background:#f3f3f3;
                padding:10px;
                margin:0 auto
                
            }
            
            .tabby-content div{
                display: none;
            }
            
            .selectedby {
             color:#d91615;
            }
            
            .tabby-content .showby{
                display: block;
            }
        </style>
<style>

        ul li {
            list-style: none;
        }

        .track-list {
            margin:0px 20px;
            padding-left: 5px;
            position: relative;
        }
        
        .track-list li {
            position: relative;
            padding: 9px 0 0 20px;
            line-height: 18px;
            border-left: 1px solid #e3e3e3;
            color: #111;
        }
        
/*      .track-list li.first {
            color: red;
            padding-top: 0;
            border-left-color: #fff;
        }*/
        
        .track-list li .node-icon {
            position: absolute;
            left: -6px;
            top: 50%;
            width: 11px;
            height: 11px;
            background: #e3e3e3;
            border-radius:2em
        }
        
        .track-list li.first .node-icon {
            background-position: 0 -72px;
        }
        
        .track-list li .time {
            margin-right: 20px;
            position: relative;
            padding-top: 0;
            display: inline-block;
            vertical-align: middle;
        }
        
        .track-list li .txt {
            position: relative;
            padding-top: 0;
            display: inline-block;
            vertical-align: middle;
            line-height:30px
        }
        b{ margin:0px 50px; line-height:35px}
/*      .track-list li.first .time {
            margin-right: 20px;
        }
        
        .track-list li.first .txt {
            max-width: 600px;
        }
*/
</style>
        <div class="tabby-head" style=" width:1200px; margin:0 auto; height:60px">
            <div id="tabby1" onMouseOver="changetabby1()" class="selectedby">房源情况</div>
            <div id="tabby2" onMouseOver="changetabby2()">拍卖公告</div>
            <div id="tabby3" onMouseOver="changetabby3()">成交案例</div>
        </div>
        
        <div class="tabby-content" style="margin-bottom:20px">
            <div id="c1" class="showby" style=" width:100%; height:auto; min-height:100px; background:#fff;margin:0;padding-left:0">
            
            <ul style="width:99%; height:auto; padding:8px; margin:0">
            <li style="float:left; width:48%; list-style-type:none; height:45px; line-height:45px; border-bottom:1px solid #e3e3e3; border-left:none">房源瑕疵</li>
            <li style="float:right; width:48%; list-style-type:none; height:45px; line-height:45px; border-bottom:1px solid #e3e3e3;border-left:none">欠费情况</li>
            </ul>

            <ul style="width:99%; height:auto; padding:8px; margin:0">
            <li style="float:left; width:48%; list-style-type:none; height:30px; line-height:30px;border-left:none">{$info.xiaci}</li>
            <li style="float:right; width:48%; list-style-type:none; height:30px; line-height:30px;border-left:none">{$info.qianfei}</li>
            </ul>

            </div>
            
            <div id="c2">
            <ul style="width:99%; background:#fff; height:auto;padding:5px; margin:0">
            
            {$info.info|raw}
            
            </ul>
            
            
            
            
            
            </div>
            
            <div id="c3" >
            
            
            <ul style="width:99%; height:45px; padding:8px; margin:0;">
            <li style=" width:99%; list-style-type:none; height:45px; line-height:45px; border-bottom:1px solid #e3e3e3; font-size:16px; font-weight:bold;border-left:none">交易记录</li>
            
            </ul>
            <!--交易记录-->
  {if $info.jieduan gt 161}
            
                <ul>
                    <!--<li class="first">
                        <i class="node-icon"></i>
                        <span class="time">变卖流拍</span>
                        <span class="txt">{$info.bianstime} 变卖开始时间  流拍价<br />{$info.bianetime}  变卖结束时间  {$info.bianprice}万</span>
                        
                    </li>-->
                    {if $info.jieduan eq 163}
                    <li>
                        <i class="node-icon"></i>
                        <span class="time">二拍流拍</span>
                        <span class="txt"><b>二拍结束时间：{$info.twoetime}</b>        <b>流拍价：{$info.twoprice}万</b></span>
                    </li>
                    <li>
                        <i class="node-icon"></i>
                        <span class="time">一拍流拍</span>
                        <span class="txt"><b>一拍结束时间：{$info.oneetime}</b>        <b>流拍价：{$info.oneprice}万</b></span>
                    </li>
                    {/if}
                     {if $info.jieduan eq 162}
                    <li>
                        <i class="node-icon"></i>
                        <span class="time">一拍流拍</span>
                        <span class="txt"><b>一拍结束时间：{$info.oneetime}</b>        <b>流拍价：{$info.oneprice}万</b></span>
                    </li>
{/if}
                </ul>
            

{/if}




<!--同小区成交记录-->
{if $tcou}
        <ul style="width:99%; height:45px; padding:8px; margin:0">
            <li style="float:left; width:99%; list-style-type:none; height:45px; line-height:45px; border-bottom:1px solid #e3e3e3; font-size:16px; font-weight:bold;border-left:none">同小区成交记录</li>
            
            </ul>
                <ul>
                {volist name='tong' id='tvo'}
                    <li class="first" style="width:99%;height:70px">
                        <i class="node-icon"></i>
                        <span class="time">2019-06-10</span>
                        <span class="txt"><b style="font-size:15px">{$tvo.title}</b><br /><b>{$tvo.room}室{$tvo.living_room}厅&nbsp;&nbsp;{$tvo.floor}/{$tvo.total_floor}层&nbsp;&nbsp;{:getLinkMenuName(4,$tvo['orientations'])}</b> <b>{$tvo.years}年建成</b>  <b>{$tvo.acreage}平米</b>  <b>成交价：{$tvo.cjprice}万</b>   <b>单价：{$tvo.average_price|raw}</b></span>
                        
                    </li>
                     
                     {/volist}
                     
                    
                    

                </ul>
            
{/if}



<!--二手房成交记录-->
{if $tcou}
        <ul style="width:99%; height:45px; padding:8px; margin:0">
            <li style="float:left; width:99%; list-style-type:none; height:45px; line-height:45px; border-bottom:1px solid #e3e3e3; font-size:16px; font-weight:bold;border-left:none">二手房成交记录</li>
            
            </ul>
                <ul>
                {volist name='tong' id='tvo'}
                    <li class="first" style=" width:99%; height:70px">
                        <i class="node-icon"></i>
                        <span class="time">2019-06-10</span>
                        <span class="txt"><b style="font-size:15px">{$tvo.title}</b><br /><b>{$tvo.room}室{$tvo.living_room}厅&nbsp;&nbsp;{$tvo.floor}/{$tvo.total_floor}层&nbsp;&nbsp;{:getLinkMenuName(4,$tvo['orientations'])}</b> <b>{$tvo.years}年建成</b>  <b>{$tvo.acreage}平米</b>  <b>成交价：{$tvo.cjprice}万</b>     <b>单价：{$tvo.average_price|raw}</b></span>
                        
                    </li>
                    
                     {/volist}
                     
                    
                    

                </ul>
            
{/if}



            
            
            </div>
            <div style="clear:both"></div>
        </div>


<div style="clear:both"></div>

<script type="text/javascript">

var tabby1 = document.getElementById('tabby1'),
                tabby2 = document.getElementById('tabby2'),
                tabby3 = document.getElementById('tabby3'),
                c1 = document.getElementById('c1'),
                c2 = document.getElementById('c2'),
                c3 = document.getElementById('c3');

            function changetabby1() {
                tabby1.className = 'selectedby';
                tabby2.className = '';
                tabby3.className = '';
                c1.className = 'showby track-list'
                c2.className = '';
                c3.className = '';
            }

            function changetabby2() {
                tabby1.className = '';
                tabby2.className = 'selectedby';
                tabby3.className = '';
                c1.className = '';
                c2.className = 'showby track-list';
                c3.className = '';
            }

            function changetabby3() {
                tabby1.className = '';
                tabby2.className = '';
                tabby3.className = 'selectedby';
                c1.className = ''
                c2.className = '';
                c3.className = 'showby track-list';
            }

</script>






<!--房源情况-->

        

<link rel="stylesheet" href="/static/home/css/reset.css">
                
        <div class="community-intr" style="height:205px;display:none">

          <div class="index-title mb25">

              <div class="en">Housing source characteristics</div>

              <div class="ch">房源特色</div>
              
          </div>

          <div class="house_link clearfix">
            <div style="width:150px;height: 40px;line-height: 40px;float: left;">房源标签</div>
            <!-- <div style="display: block;width: 120px;height: 40px;line-height: 40px;text-align: center;color: #fff;background: #222222;margin-right: 20px;float: left;"> -->
              {php}$tag = array_filter(explode(',',$info['tags']));{/php}
              {notempty name='tag'}
              {volist name='tag' id='val'}
              {if condition="is_numeric($val)"}
              <!-- <em> -->
              <div style="display: block;width: 120px;height: 40px;line-height: 40px;text-align: center;color: #fff;background: #222222;margin-right: 20px;float: left;">



              {:getLinkMenuName(14,$val)}
              </div>
              <!-- </em> -->
              {else /}
              <!-- <em> -->
              
              {$val}
              <!-- </em> -->
              {/if}
              {/volist}
              {/notempty}
            <!-- </div> -->
                  
          </div>
          <p class="good" style="height: 40px;line-height: 40px;">暂无房源介绍</p>


        </div>
        {if $models gt 0}
        <div class="community-intr" style="height:275px;">
        {else}
        <div class="community-intr" style="height:275px;display:none;">
        {/if}
        <div class="index-title mb25">

            <div class="en">Recommendation of Fapai Commissioner</div>

            <div class="ch">推荐法拍专员</div>

        </div>

        <div class="houseList_wrap leftArea cm_leftArea" style="margin-top:0px;width:100%">
                
                <div class="agent_list">
                    <ul class="clearfix">
                    {foreach $gl as $val}
                        <li style="padding:0px; margin-bottom:10px; border-bottom:1px #f5f5f5 solid; border:none">

                        <div>
                        <span class="l_img fl" style="width:10%; height:110px">
                        <img src="{:getAvatar($val['id'],90)}" alt="{$val.nick_name}" style="margin-top:0px">
                        </span>
                        <span class="r_con fr" style="width:90%;height:100px">
                        <span class="row clearfix">
                            <p class="name fl">{$val.nick_name}</p>
                            <!-- <ul class="star_list fl">
                                <li class="on"></li>
                                <li class="on"></li>
                                <li class="on"></li>
                                <li class="on"></li>
                                <li class="on"></li>
                            </ul> -->
                            <p class="good_rate fl" style="color:red;margin-left:15px;"><b style="color:red;">{$val.lxtel}</b></p>
                            
                             <a href="{:url('Ajax/consults')}?id={$val.id}&houseid={$val.house_id}" style="height:30px; float:right;" style="display:none;"><p class="good_rate fl" style="color:red;margin-left:15px;"><b style="color:#fff;padding: 10px 20px;background: #ff6600;border-radius: 2em;">在线咨询</b></p></a>
                             
                             <a href="{$info.online_consulting}" style="height:30px; float:right;"><p class="good_rate fl" style="color:red;margin-left:15px;"><b style="color:#fff;padding: 10px 20px;background: #ff6600;border-radius: 2em;">在线咨询</b></p></a>
                             
                              
                            <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
                            
                        </span>
                        <span class="row clearfix">
                            <p>
                            {$val.house_name}
                            <!-- 我带看过此房。本家润园，经典的两居，户型方正，无浪费面积，业主诚意出售。此房是中高间楼层，采光充足，看房方便。精装修，主卧室次卧室都有定制的橱柜，次卧室飘窗业主已经改成书桌，美观实用。小区有民防公园，尽我所能为您找到舒心的家！ -->
                            
                            </p>
                        </span>
                        
                        
                        
                        </span>
                        </div>
                        </li>
                        {/foreach}

                        
                    </ul>
                </div>
            </div>
        </div>

    

<div style="clear:both"></div>

  {if $info.jieduan gt 161}
    <div class="community-intr" style="margin-top:20px; display:none">


        <div class="index-title mb25">

            <div class="en">Transaction Record</div>

            <div class="ch">交易记录<span></span>  </div>

        </div>


        <div class="main fix">

            <div class="pic fl" style="width:100%">
      
      
      
      
      <div class="container" style="width:1110px;min-width:1110px">
      <div class="main" style="padding:0px">
        <ul class="cbp_tmtimeline">
                  
                  
    
             
          <!-- <li>
            <time class="cbp_tmtime" datetime="2019-02-21 18:30">
            <span>{$info.bianstime}</span><span style="font-size:1.5rm">变卖流拍</span> </time>
            <div class="cbp_tmicon cbp_tmicon-screen"></div>
            <div class="cbp_tmlabel">
              
              <p>
                
      <style>
      tr{height:30px; line-height:30px}
      
      </style>          
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>{$info.bianstime}</td>
                  <td>变卖开始时间</td>
                  <td>流拍价</td>
                </tr>
                <tr>
                  <td>{$info.bianetime}</td>
                  <td>变卖结束时间</td>
                  <td>{$info.bianprice}万</td>
                </tr>
              </table>

              </p>
            </div>
          </li> -->
              
    



                
      {if $info.jieduan eq 163}
                      
              
              <li>
            <time class="cbp_tmtime" datetime="2018-12-21 12:04">
            <span>{$info.twostime}</span><span>二拍流拍</span> </time>
            <div class="cbp_tmicon cbp_tmicon-screen"></div>
            <div class="cbp_tmlabel">
              
              <p>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>{$info.twostime}</td>
                  <td>二拍开始时间</td>
                  <td>流拍价</td>
                </tr>
                <tr>
                  <td>{$info.twoetime}</td>
                  <td>二拍结束时间</td>
                  <td>{$info.twoprice}万</td>
                </tr>
              </table>
              </p>
            </div>
          </li>

          <li>
            <time class="cbp_tmtime" datetime="2018-12-21 12:04">
            <span>{$info.onestime}</span><span>一拍流拍</span> </time>
            <div class="cbp_tmicon cbp_tmicon-screen"></div>
            <div class="cbp_tmlabel">
              
              <p>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>{$info.onestime}</td>
                  <td>一拍开始时间</td>
                  <td>流拍价</td>
                </tr>
                <tr>
                  <td>{$info.oneetime}</td>
                  <td>一拍结束时间</td>
                  <td>{$info.oneprice}万</td>
                </tr>
              </table>
              </p>
            </div>
          </li>
          
      {/if}
          




          
          
          {if $info.jieduan eq 162}
                     
                    
          <li>
            <time class="cbp_tmtime" datetime="2018-12-21 12:04">
            <span>{$info.onestime}</span><span>一拍流拍</span> </time>
            <div class="cbp_tmicon cbp_tmicon-screen"></div>
            <div class="cbp_tmlabel">
              
              <p>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>{$info.onestime}</td>
                  <td>一拍开始时间</td>
                  <td>流拍价</td>
                </tr>
                <tr>
                  <td>{$info.oneetime}</td>
                  <td>一拍结束时间</td>
                  <td>{$info.oneprice}万</td>
                </tr>
              </table>
              </p>
            </div>
          </li>
  
          {/if}
  
  
  
          
        </ul>
      </div>
    </div>

            </div>

            

        </div>

    </div>
  {/if}


{if $tcou}
<div class="community-intr" style="margin-top:20px; display:none">

        <div class="index-title mb25">

            <div class="en">Transaction Record</div>

            <div class="ch">同小区成交记录<span></span>  </div>

        </div>

        <div class="main fix">

            <div class="pic fl" style="width:100%">
              
             
              
              
              
              
               <div class="container" style="width:1110px;min-width:1110px">
            <div class="main" style="padding:0px">
                <ul class="cbp_tmtimeline">
                  
                  
                  
                  {volist name='tong' id='tvo'}
                       
              <li>
                        <time class="cbp_tmtime" datetime="2018-12-21 12:04">
                        <span>12:04</span><span>2019-05-01</span> </time>
                        <div class="cbp_tmicon cbp_tmicon-screen"></div>
                        <div class="cbp_tmlabel">
                            <h2 style="font-size:1.3em">{$tvo.title}</h2>
                            <p>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>{:getCityName($tvo['city'])}  {$tvo.acreage}平米</td>
    <td>单价：{$tvo.average_price|raw}</td>
  </tr>
</table>
                            </p>
                        </div>
                    </li>
                      {/volist}
                
              
  
  
  
                    
                </ul>
            </div>
        </div>
              
              
              
            </div>

            

        </div>

    </div>

{/if}


{if $info.pano_url}
<div class="community-intr" style="margin-top:20px">

        <div class="index-title mb25">

            <div class="en">Panoramic view</div>

            <div class="ch">全景看房<span></span>  </div>

        </div>

        <div class="main fix">

            <div class="pic fl" style="width:100%">
              
             
              
              
              
              
            {notempty name='info.pano_url'}

                    <div class="desc">
                        <iframe src="{$info.pano_url}" width="100%" height="550" scrolling="no" frameborder="0"></iframe>

                    </div>
               
                {/notempty}
              
              
              
            </div>

            

        </div>

    </div>
{/if}





<div class="community-intr">

        <div class="index-title mb25">

            <div class="en">Auction process</div>

            <div class="ch">小区介绍<span>/ 我们为你精选</span>  
            <!-- <span class="collect_btn follow fr" style="width:100px;height:30px; line-height:30px;color:#ff6600;margin-left:30px;" data-id="{$estate.id}" data-model="estate" data-uri="{:url('Api/follow')}">
              <img src="/img/gzxq.jpg" style="width:20px; height:20px;vertical-align: middle;    margin-top: -6px;"> -->
              {if $guanzhu gt 0}
                <span class="collect_btn follow fr" style="width:100px;height:30px; line-height:30px;color:#ff6600;margin-left:30px;" data-id="{$estate.id}" data-model="estate" data-uri="{:url('Api/follow')}">
                <img src="/img/gzxq.jpg" style="width:20px; height:20px;vertical-align: middle;    margin-top: -6px;">已关注
                </span>
              {else}
              <span class="collect_btn follow fr" data-id="{$estate.id}" data-model="estate" data-uri="{:url('Api/follow')}">
              关注小区
              </span>
              {/if}
            </div>
            <!-- <span class="collect_btn follow fr" data-id="{$estate.id}" data-model="estate" data-uri="{:url('Api/follow')}">关注888小区{$estate.id}</span> -->
        </div>

        <div class="main fix">

            <div class="pic fl"><img src="/static/images/nopic.jpg" data-original="{$estate.img}" class="lazy" alt="{$estate.title}"></div>

            <div class="info-s fr">

                <div class="title mb10">

                    <span>{$estate.title}</span>

                    （本小区共有拍卖房{$counts}套）                </div>

                <div>

                    <table>

                        <tr>

                            <td><div class="txt-s">建筑年代：<span>{$estate.years}年</span></div></td>

                            <td><div class="txt-s">建筑面积：<span>{$estate.data.area_build}</span></div></td>

                        </tr>

                        <tr>

                            <td><div class="txt-s">所在版块：<span>{$citys}</span></div></td>

                            <td><div class="txt-s">总户数：<span>{$estate.data.plan_number}</span></div></td>

                        </tr>

                        <tr>

                            <td><div class="txt-s">容积率：<span>{$estate.data.volume_ratio}</span></div></td>

                            <td><div class="txt-s">停车位：<span>{$estate.data.parking_space}</span></div></td>

                        </tr>

                        <tr>

                            <td><div class="txt-s">物业费用：<span>{$estate.data.property_fee}</span></div></td>

                            <td><div class="txt-s">绿化率：<span>{$estate.data.greening_rate}</span></div></td>

                        </tr>

                        <tr>

                            <td colspan="2"><div class="txt-s">详细地址：<span>{$estate.address} </span></div></td>

                        </tr>

                        <tr>

                            <td colspan="2"><div class="txt-s">物业公司：<span>{$estate.data.property_company}</span></div></td>

                        </tr>

                        <tr>

                            <td colspan="2"><div class="txt-s">开发商：<span>{$estate.data.developer}</span></div></td>

                        </tr>

                    </table>

                </div>

            </div>

        </div>

    </div>
<!-- 楼盘详情 S-->
<div class="house_detail">
    <div class="comWidth">
        
  
        
        <!-- con_wrap -->
        <div class="con_wrap clearfix">
            <!-- 周边配套 S-->
            {include file='public/peitao' /}
            <!-- 周边配套 E-->
            
          
          
           <!-- 同小区房源 S -->

            <div class="similar_house floor" style="display:none;">
                <div class="title clearfix">
                    <h2>同小区房源</h2>
                </div>
                <div class="con_box">
                    <ul class="list clearfix">
                        {php}$estate_id=$info['estate_id'];{/php}
                        {fang:lists table='second_house' where='estate_id=$estate_id and status=1' field='id,title,room,living_room,acreage,price,img' order='id desc' limit='4' id='data'}
                        <li>
                            <a href="{:url('Second/detail',['id'=>$data['id']])}" title="{$data.title}">
                                <div class="img">
                                    <img src="/static/images/nopic.jpg" data-original="{$data.img}" class="lazy" alt="{$data.title}">
                                </div>
                                <h5 class="name">{$data.title}</h5>
                                <div class="ft_con clearfix">
                                    <p class="type_area fl">{$data.room}室{$data.living_room}厅-{$data.acreage}{:config('filter.acreage_unit')}</p>
                                    <p class="price fr"><strong>{$data.price|raw}</strong></p>
                                </div>
                            </a>

                        </li>
                        {/fang:lists}
                    </ul>
                </div>
            </div>
            <!-- 同小区房源 E -->
            
             <!-- 感兴趣的房源 S -->
            <div class="similar_house floor" style="margin-top:30px;">
                <div class="index-title mb25">
                    <div class="en">Seal the premises recommended</div>
                    <div class="ch">捡漏房源推荐</div>
                </div>
                <div class="con_box" style="margin-top:-25px;">
                    <ul class="list clearfix">
                        {volist name='sames_price_house' id='vo'}
                        <li>
                            <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">
                                <div class="img">
                                    <img src="{$vo.img}" data-original="{$vo.img}" class="lazy" alt="{$vo.title}">
                                    <!-- <img src="/static/images/nopic.jpg" data-original="{$vo.img}" class="lazy" alt="{$vo.title}"> -->
                                </div>
                                
                                
                                
                                {if $vo.fcstatus eq 170}
                                
                                <div style="float:right; margin-top:-192px; z-inde:555; position: absolute;"><img src="/static/images/status/status1.png" style="width:104px;height:43px;"></div>
                                {/if}
                                
                                
                                
                                
                                
                                
                                
                                <h5 class="name">{$vo.title}</h5>
                                <div class="ft_con clearfix" >
                                    <!--<p class="type_area fl">{$vo.room}室{$vo.living_room}厅-{$vo.acreage}{:config('filter.acreage_unit')}</p>-->
                                    <p class="type_area fl" style="font-size:14px; width:49%;">面积：{$vo.acreage}{:config('filter.acreage_unit')}</p>
                                    <!--<p class="price fr"><strong>{$vo.price|raw}</strong></p>-->
                                    <p class="type_area fl" style="font-size:14px; width:49%">市场价：￥{$vo.price|raw}</p>
                                    
                                    <p class="type_area fl" style="font-size:14px;width:96%">起拍价：￥{$vo.qipai|raw}万</p>
                                    
                                    <p class="type_area fl" style="font-size:14px; width:96%">开拍时间：{$vo.kptime|raw}</p>
                                    
                                    <p class="type_area fl" style="font-size:14px; width:96%"><span style="float:left;">捡漏指数：</span>
                                    
                                                                        
                                    {if $vo.marketprice eq 1}
                            

                                <img src="/static/images/img-14.png" style="width:20px; height:20px;float:left;">
                                
                                {/if}
                                
                                
                                {if $vo.marketprice eq 2}
                            

                                <img src="/static/images/img-14.png" style="width:20px; height:20px; float:left;">
                                
                                <img src="/static/images/img-14.png" style="width:20px; height:20px;float:left;">
                                
                                {/if}
                                
                                {if $vo.marketprice eq 3}
                            

                                <img src="/static/images/img-14.png" style="width:20px; height:20px;float:left;">
                                
                                <img src="/static/images/img-14.png" style="width:20px; height:20px;float:left;">
                                <img src="/static/images/img-14.png" style="width:20px; height:20px;float:left;">
                                
                                {/if}
                                
                                {if $vo.marketprice eq 4}
                            

                                <img src="/static/images/img-14.png" style="width:20px; height:20px;float:left;">
                                
                                <img src="/static/images/img-14.png" style="width:20px; height:20px;float:left;">
                                <img src="/static/images/img-14.png" style="width:20px; height:20px;float:left;">
                                <img src="/static/images/img-14.png" style="width:20px; height:20px;float:left;">
                                
                                {/if}
                                
                                {if $vo.marketprice eq 5}
                            

                                <img src="/static/images/img-14.png" style="width:20px; height:20px;float:left;">
                                
                                <img src="/static/images/img-14.png" style="width:20px; height:20px;float:left;">
                                <img src="/static/images/img-14.png" style="width:20px; height:20px;float:left;">
                                <img src="/static/images/img-14.png" style="width:20px; height:20px;float:left;">
                                <img src="/static/images/img-14.png" style="width:20px; height:20px;float:left;">
                                
                                {/if}

                                    
                                    
                                    
                                    
                                    </p>
                                    
                                </div>
                            </a>
                        </li>
                        {/volist}

                    </ul>
                </div>
            </div>
            <!-- 感兴趣的房源 E -->
            
            
            
            
            
           
            <!-- 感兴趣的房源 S -->
            <div class="similar_house floor" style="display:none;">
                <div class="title clearfix">
                    <h2>感兴趣的房源</h2>
                </div>
                <div class="con_box">
                    <ul class="list clearfix">
                        {volist name='same_price_house' id='vo'}
                        <li>
                            <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">
                                <div class="img">
                                    <img src="/static/images/nopic.jpg" data-original="{$vo.img}" class="lazy" alt="{$vo.title}">
                                </div>
                                <h5 class="name">{$vo.title}</h5>
                                <div class="ft_con clearfix">
                                    <p class="type_area fl">{$vo.room}室{$vo.living_room}厅-{$vo.acreage}{:config('filter.acreage_unit')}</p>
                                    <p class="price fr"><strong>{$vo.price|raw}</strong></p>
                                </div>
                            </a>
                        </li>
                        {/volist}

                    </ul>
                </div>
            </div>
            <!-- 感兴趣的房源 E -->
        </div>
    </div>
</div>
  
</div>
<!-- 楼盘详情 E-->



{/block}