
{extend name='public/page_list' /}
{block name='css'}
<link rel="stylesheet" type="text/css" href="__CSS__/reset.css">
<link rel="stylesheet" type="text/css" href="/homeStatic/css/common_orig.css?v=1">
<link rel="stylesheet" type="text/css" href="/homeStatic/css/homeList.css?v=1">
<link rel="stylesheet" type="text/css" href="/homeStatic/css/swiper.min.css">
<link rel="stylesheet" type="text/css" href="__CSS__/css.css">
{/block}
{block name='js'}
<script src="/homeStatic/js/swiper.jquery.min.js"></script>
<script src="/homeStatic/js/swiper.min.js"></script>
<script src="/homeStatic/js/jquery.waypoints.min.js"></script>
<script src="/homeStatic/js/homeList.js?v=1"></script>

<script src="__STATIC__/layui/layui.js"></script>
{/block}
{block name='content'}

<!-- 搜索栏 S -->
<div class="searBar " style="margin-top: 70px;">
    <div class="comWidth">
        <div class="sear_box">
            <form action="{:url('Second/index')}" style="display: flex;">
                <div class="ipt_area">
                    <input type="text" style="width: 600px;height: 48px;" name="keyword" id="keyword" autocomplete="off" placeholder="输入小区名称或房源名称" data-uri="{:url('Ajax/searchSecond')}" class="ipt" value="{$keywords}" onClick='showhidediv("baip")';>
                    <span class="placeholder">输入小区名称或房源名称</span>
                    <ul id="search-box">
                    </ul>
                </div>
                <div class="btn_area">
                    <input type="submit" class="sbm_btn"  value="搜索">
                </div>
            </form>
        </div>
        <!--<a href="{:url('Map/second')}" rel="nofollow" class="map_btn fr">地图找房</a>-->
    </div>
    <script type="text/javascript">
        function showhidediv(id){
            var sbtitle=document.getElementById(id);
            if(sbtitle){
                if(sbtitle.style.display=='block'){
                    sbtitle.style.display='none';
                }else{
                    sbtitle.style.display='block';
                }
            }
        }
    </script>

    <style>
        .saleDetail li{
            padding:5px 0;
        }
    </style>
    <div class="comWidth clearfix">
        <div id="baip">
            <ul class="saleDetail" style="padding-left:10px;">
                <li style="color: #666;padding-top:5px;padding-bottom:5px;">搜索历史</li>
            </ul>
            <ul class="saleDetail history" style="padding-left:10px;"></ul>
            <div class="Storage"></div>
            <div class="h80"></div>
            <div class="btnEmpty" style="padding-left:10px;padding-top:5px;padding-bottom:5px;">清空历史搜索</div>
        </div>
    </div>
    <script  type="text/javascript" src="/static/home/js/jquery-2.1.4.min.js"></script>
    <script>
        var ItemName = "";  //localStorage的getItem 和 setItem的数组名字，主要用来做不同界面调用各自的历史记录。
        var menuHistory   = new Object();
        $(function(){
            initLocalStorageArg("hi_001");
        });
        $(document).delegate(".history>li","click",function(){
            $("#keyword").val($(this).text());
        });
        /**
         * 初始化相关参数，界面js调用
         * menucode：可以是js的名字
         */
        function initLocalStorageArg(menucode){
            //苹果手机不兼容出现input无法取值以下是解决方法
            $('.history>li').click(function(){
                var div = $(this).text();
                $('#keyword').val(div);
            });
            ItemName = "hist_"+menucode;
            initlocalStorage();
            showHistDom();
        }
        /**
         * 历史数据展示
         */
        function showHistDom(){
            $(".history").html("");
            for(  var i=0 ; i<menuHistory.length;i++){
                $(".history").append('<li style="display: block;">'+menuHistory[i]+'</li>')
            }
        }
        /**
         * 获取指定的localStorageobj对象，并转成Array对象。
         */
        function initlocalStorage(){
            var localStorageobj = localStorage.getItem(ItemName);
            if(localStorageobj){
            }else{
                localStorage.setItem( ItemName,"[]");
                localStorageobj = localStorage.getItem(ItemName);
            }
            menuHistory=JSON.parse( localStorageobj);
        }

        /**
         * 执行记录历史数据
         */
        function recordHist(){
            initlocalStorage();
            var value = $("#keyword").val();
            // if(!value){ //这里判断输入的value是否合法，也可以用自己的判断方式
            //   alert("你未输入搜索内容");
            //   return false;
            // }
            //输入的内容localStorage有记录
            if($.inArray(value,menuHistory)>=0){
                var keyval = Object.keys(menuHistory).filter(function(x){return menuHistory[x] == value}).toString() ;
                menuHistory.splice(Number(keyval), 1); //splice(index,1):index代表value值在数组中对应到下标，1：表示删除
            }else {
                if (menuHistory.length > 9) {
                    menuHistory.pop();
                }else {
                }
            }
            menuHistory.unshift(value);
            localStorage.removeItem(ItemName);
            localStorage.setItem( ItemName,JSON.stringify(menuHistory)); // 因为localStorage的value不能直接放数组，所以转换程json串后，再set
            showHistDom();
        }
        //清除记录功能
        $(".btnEmpty").click(function(){
            localStorage.setItem( ItemName,JSON.stringify([]));
            initlocalStorage();
            showHistDom();
        });
        /*执行搜索的一种方式，绑定回车键*/
        $("#keyword").on("keypress",function(e){
            var keycode=e.keyCode;
            if(keycode=='13'){
                recordHist();
            }
        });
        $("#huiches").click(function(){
            recordHist();
        });
    </script>
</div>
<style type="text/css">
    .seleBar .item {
        height:35px;
    }
    .housing-filtering .box-cont .box .s-box span {
        display: inline-block;
        margin: 0 5px;
    }
    .fix:after {
        content: " ";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        font-size: 0;}
    .cm_leftArea {
        width: 1200px;
    }
</style>
<!-- 搜索栏 E -->
<!-- 楼盘列表 S-->
<div class="cm_house">
    <div class="comWidth">
        <!-- 页面标识 S-->
        <div class="page_tit">
            <a href="javascript:;" rel="nofollow">您的位置：</a>
            <a href="{:url('Index/index')}">首页</a> &gt;
            <a href="javascript:void(0);">房源列表</a>
        </div>
        <!-- 页面标识 E-->
        <!-- 筛选栏 S -->
        <div class="seleBar">
            {notempty name='metro'}
            <div class="search-tab clearfix">
                <a href="{:getUrl('Second/index','search_type',[],1)}" title="按区域查询" {if condition="$search.search_type eq 1"}class="active"{/if}><i class="iconfont" {if $search.search_type.id eq 1 } style="color: #fff" {/if}>&#xe609;</i>按区域查询</a>
                <a href="{:getUrl('Second/index','search_type',[],2)}" title="按地铁查询" {if condition="$search.search_type eq 2"}class="active"{/if}><i class="iconfont"  {if $search.search_type.id eq 1 } style="color: #fff" {/if}>&#xe61e;</i>按地铁查询</a>
            </div>
            {/notempty}
            <div class="box">
                {if condition="$search.search_type eq 2"}
                <div class="item clearfix">
                    <h3>地铁:</h3>
                    <ul class="list">
                        <li><a href="{:getUrl('Second/index','metro',$param,0)}" rel="nofollow" {if condition="$search.metro eq 0"}class="active"{/if}>全部</a></li>
                        {volist name='metro' id='vo'}
                        <li><a href="{:getUrl('Second/index','metro',$param,$vo['id'])}" {if condition="$search.metro eq $vo['id']"}class="active"{/if}>{$vo.name}</a></li>
                        {/volist}
                    </ul>
                </div>
                {notempty name='metro_station'}
                <div class="item clearfix">
                    <h3>站点:</h3>
                    <ul class="list">
                        <li><a href="{:getUrl('Second/index','metro_station',$param,0)}" rel="nofollow" {if condition='$search.metro_station eq 0'}class="active"{/if}>全部</a></li>
                        {volist name='metro_station' id='vo'}
                        <li><a href="{:getUrl('Second/index','metro_station',$param,$vo['id'])}" {if condition="$search.metro_station eq $vo['id']"}class="active"{/if}>{$vo.name}</a></li>
                        {/volist}
                    </ul>
                </div>
                {/notempty}
                {else /}
                <div class="item clearfix">
                    <h3>区域:</h3>
                    <ul class="list">
                        <li style=" margin-left: 20px;"><a href="{:getUrl('Second/index','area',$param,0)}" rel="nofollow" {if condition="$search.area eq $cityId"}class="active"{/if}>全部</a></li>
                        {volist name='area' id='vo'}
                        <li style=" margin-left: 20px;"><a href="{:getUrl('Second/index','area',$param,$vo['id'])}" {if condition="$search.area eq $vo['id']"}class="active"{/if}>{$vo.name}</a></li>
                        {/volist}
                    </ul>
                </div>
                {notempty name='rading'}
                <div class="item clearfix">
                    <h3>商圈:</h3>
                    <ul class="list">
                        <li><a href="{:getUrl('Second/index','area',$param,$param['area'])}" rel="nofollow" {if condition='$search.rading eq 0'}class="active"{/if}>全部</a></li>
                        {volist name='rading' id='vo'}
                        <li><a href="{:getUrl('Second/index','area',$param,$vo['id'])}" {if condition="$search.rading eq $vo['id']"}class="active"{/if}>{$vo.name}</a></li>
                        {/volist}
                    </ul>
                </div>
                {/notempty}
                {/if}
                <div class="item clearfix">
                    <h3>形式:</h3>
                    <ul class="list">
                        <li><a href="{:getUrl('Second/index','type',$param,0)}" rel="nofollow" {if condition='$search.type eq 0'}class="active"{/if}>全部</a></li>
                        {volist name='house_type' id='vo'}
                        <li><a href="{:getUrl('Second/index','type',$param,$key)}" {if condition="$search.type eq $key"}class="active"{/if}>{$vo.name}</a></li>
                        {/volist}

                    </ul>
                </div>
                <div class="item clearfix">
                    <h3>类型:</h3>
                    <ul class="list">
                        <li><a href="{:getUrl('Second/index','types',$param,0)}" rel="nofollow" {if condition='$search.types eq 0'}class="active"{/if}>全部</a></li>
                        {volist name='types' id='vo'}
                        <li><a href="{:getUrl('Second/index','types',$param,$key)}" {if condition="$search.types eq $key"}class="active"{/if}>{$vo.name}</a></li>
                        {/volist}

                    </ul>
                </div>

                <div class="item clearfix">
                    <h3>总价:</h3>
                    <ul class="list">
                        <li><a href="{:getUrl('Second/index','qipai',$param,0)}" rel="nofollow" {if condition='$search.qipai eq 0'}class="active"{/if}>全部</a></li>
                        {volist name=':getSecondPrice()' id='vo'}
                        <li><a href="{:getUrl('Second/index','qipai',$param,$key)}" {if condition='$search.qipai eq $key'}class="active"{/if}>{$vo.name}</a></li>
                        {/volist}
                        <li>
                            <form action="{:url('Second/index')}">
                                <div class="s-box fix">
                                    <input type="text" class="zprice1" name="zprice1" id="zprice1" value="{$search.zprice1}" data-uri="{:url('Ajax/searchSecond')}" style="width: 50px; border:1px solid #ccc;">
                                    <span>——</span>
                                    <input type="text" class="zprice2" name="zprice2" id="zprice2" value="{$search.zprice2}"  data-uri="{:url('Ajax/searchSecond')}" style="width: 50px;border:1px solid #ccc;">
                                    <span>万元</span>
                                    <input type="submit" name="" value="搜索" class="zprice" style="background:#C73126;border:1px solid #C73126;     margin-left: 10px;color:#fff;">
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <div id="box" style="display:none">

                    <div class="item clearfix">
                        <h3>面积:</h3>
                        <ul class="list">
                            <li><a href="{:getUrl('Second/index','acreage',$param,0)}" rel="nofollow" {if condition='$search.acreage eq 0'}class="active"{/if}>全部</a></li>
                            {volist name=':getAcreage()' id='vo'}
                            <li><a href="{:getUrl('Second/index','acreage',$param,$key)}" {if condition='$search.acreage eq $key'}class="active"{/if}>{$vo.name}</a></li>
                            {/volist}
                            <li>
                                <form action="{:url('Second/index')}">
                                    <div class="s-box fix">
                                        <input type="text" class="zmianji1" name="zmianji1" id="zmianji1" value="{$search.zmianji1}" data-uri="{:url('Ajax/searchSecond')}" style="width: 50px; border:1px solid #ccc;">
                                        <span>——</span>
                                        <input type="text"  class="zmianji2" name="zmianji2" id="zmianji2" value="{$search.zmianji2}" data-uri="{:url('Ajax/searchSecond')}" style="width: 50px;border:1px solid #ccc;">
                                        <span>平米</span>
                                        <input type="submit" name="" value="搜索" class="zmianji" style="background:#CF2924;border:1px solid #CF2924;     margin-left: 10px; color:#fff;">
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div class="item clearfix">
                        <h3>户型:</h3>
                        <ul class="list">
                            <li><a href="{:getUrl('Second/index','room',$param,0)}" rel="nofollow" {if condition='$search.room eq 0'}class="active"{/if}>全部</a></li>
                            {volist name=':getRoom()' id='vo'}
                            <li><a href="{:getUrl('Second/index','room',$param,$key)}" {if condition='$search.room eq $key'}class="active"{/if}>{$vo}</a></li>
                            {/volist}
                        </ul>
                    </div>
                    <div class="item clearfix">
                        <h3>阶段:</h3>
                        <ul class="list">
                            <li><a href="{:getUrl('Second/index','jieduan',$param,0)}" rel="nofollow" {if condition='$search.jieduan eq 0'}class="active"{/if}>全部</a></li>
                            {volist name='jieduan' id='vo'}
                            <li><a href="{:getUrl('Second/index','jieduan',$param,$vo['id'])}" {if condition="$search.jieduan eq $vo['id']"}class="active"{/if}>{$vo.name}</a></li>
                            {/volist}
                            {if condition="$search.is_free eq 0"}
                            <li><a href="{:getUrl('Second/index','is_free',$param,1)}"><b>自由购</b></a></li>
                            {else /}
                            <li><a href="{:getUrl('Second/index','is_free',$param,0)}" class="active"><b>自由购</b></a></li>
                            {/if}
                        </ul>
                    </div>
                    <div class="item clearfix">
                        <h3>状态:</h3>
                        <ul class="list">
                            <li><a href="{:getUrl('Second/index','fcstatus',$param,0)}" rel="nofollow" {if condition='$search.fcstatus eq 0'}class="active"{/if}>全部</a></li>
                            {volist name='fcstatus' id='vo'}
                            <li><a href="{:getUrl('Second/index','fcstatus',$param,$vo['id'])}" {if condition="$search.fcstatus eq $vo['id']"}class="active"{/if}>{$vo.name}</a></li>
                            {/volist}
                        </ul>
                    </div>
                </div>
                <div class="item clearfix" style="display:none;">
                    <h3>标签:</h3>
                    <ul class="list">
                        <li><a href="{:getUrl('Second/index','tags',$param,0)}" rel="nofollow" {if condition='$search.tags eq 0'}class="active"{/if}>全部</a></li>
                        {volist name='tags' id='vo'}
                        <li><a href="{:getUrl('Second/index','tags',$param,$key)}" {if condition='$search.tags eq $key'}class="active"{/if}>{$vo.name}</a></li>
                        {/volist}
                    </ul>
                </div>
                <div class="item clearfix" style="display:none;">
                    <form action="#">
                        <h3>更多:</h3>
                        <ul class="list" id="select">
                            <li>
                                <select name="house_type" id="house_type">
                                    <option value="0" data-uri="{:getUrl('Second/index','type',$param,0)}">房源类型</option>
                                    {volist name='house_type' id='vo'}
                                    <option value="{$vo.id}" data-uri="{:getUrl('Second/index','type',$param,$vo['id'])}" {if condition="$search.type eq $vo['id']"}selected="selected"{/if}>{$vo.name}</option>
                                    {/volist}
                                </select>
                            </li>
                            <li>
                                <select name="orientations" id="orientations">
                                    <option value="0" data-uri="{:getUrl('Second/index','orientations',$param,0)}">朝向</option>
                                    {volist name='orientations' id='vo'}
                                    <option value="{$vo.id}" data-uri="{:getUrl('Second/index','orientations',$param,$vo['id'])}" {if condition="$search.orientations eq $vo['id']"}selected="selected"{/if}>{$vo.name}</option>
                                    {/volist}
                                </select>
                            </li>
                            <li>
                                <select name="renovation" id="renovation">
                                    <option value="0" data-uri="{:getUrl('Second/index','renovation',$param,0)}">装修程度</option>
                                    {volist name='renovation' id='vo'}
                                    <option value="{$vo.id}" data-uri="{:getUrl('Second/index','renovation',$param,$vo['id'])}" {if condition="$search.renovation eq $vo['id']"}selected="selected"{/if}>{$vo.name}</option>
                                    {/volist}
                                </select>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <div style="text-align:center"><input name="" type="button"  value="显示更多"  id="btn" onclick="btn()"  style=" width:130px;color: #606060;border: solid 1px #b7b7b7;background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));border-radius: 2em; padding:5px 10px; margin:5px"></div>
        <!-- 筛选栏 E -->
        <div class="main clearfix">
            <!-- 二手房列表 S-->
            <div class="houseList_wrap leftArea cm_leftArea">
                <div class="head clearfix">
                    <div class="tabButtons">
                        <img src="/homeStatic/img/tabMenuH.png" id="fangpai-shu-btn" alt="" />
                        <img src="/homeStatic/img/tabMenu.png" id="fangpai-lie-btn" id="" alt="" />
                    </div>
                    <div class="tab sort-tab fr" style="display:black; float:right;">
                        <ul>
                            <li style="margin-left:0px;"><a href="{:getUrl('Second/index','sort',$param,0)}" style="background:none;" {if condition='$search.sort eq 0'}class="active" style="text-align:center;" {/if}>全部房源</a></li>
                            <li ><a href="{:getUrl('Second/index','sort',$param,7)}" style="background:none;" {if condition='$search.sort eq 7'}class="active"{/if}>最新发布</a></li>
                            <li><a href="{:getUrl('Second/index','sort',$param,8)}" style="background:none;" {if condition='$search.sort eq 8'}class="active"{/if}>捡漏房源</a></li>
                            {if condition='$search.sort eq 1'}
                            <li><a href="{:getUrl('Second/index','sort',$param,2)}" class="active up">房屋总价</a></li>
                            {elseif condition='$search.sort eq 2'}
                            <li><a href="{:getUrl('Second/index','sort',$param,1)}" class="active down">房屋总价</a></li>
                            {else /}
                            <li><a href="{:getUrl('Second/index','sort',$param,1)}">房屋总价</a></li>
                            {/if}
                            {if condition='$search.sort eq 3'}
                            <li ><a href="{:getUrl('Second/index','sort',$param,4)}" class="active up">房屋单价</a></li>
                            {elseif condition='$search.sort eq 4'}
                            <li ><a href="{:getUrl('Second/index','sort',$param,3)}" class="active down">房屋单价</a></li>
                            {else /}
                            <li><a href="{:getUrl('Second/index','sort',$param,3)}">房屋单价</a></li>
                            {/if}
                            {if condition='$search.sort eq 5'}
                            <li><a href="{:getUrl('Second/index','sort',$param,6)}" class="active up">房屋面积</a></li>
                            {elseif condition='$search.sort eq 6'}
                            <li><a href="{:getUrl('Second/index','sort',$param,5)}" class="active down">房屋面积</a></li>
                            {else /}
                            <li><a href="{:getUrl('Second/index','sort',$param,5)}">房屋面积</a></li>
                            {/if}

                            <!-- <li><a href="{:getUrl('Second/index','sort',$param,9)}" style="background:none;" {if condition='$search.sort eq 9'}class="active"{/if}>推荐房源</a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="fangpai-shu-list-content">
                    <div class="fangpai-shu-list-content-left">
                        <!--块-->
                        <ul class="fangpai-shu-list">
                            {volist name='lists' id='vo' empty='暂无数据'}
                            <li>
                                <div class="fangpai-shu-list-img">
                                    <a href="{:url('Second/detail',['id'=>$vo.id])}" target="_blank">
                                    <img src="{$vo.img}" onerror="javascript:this.src='/static/images/noimg.jpg'" alt="{$vo.title}">
                                    </a>
                                </div>
                                <h3 class="fangpai-shu-list-title">{$vo.title}</h3>
                                <div class="fangpai-shu-list-info">
                                    <span>{$vo.estate_name}</span>|<span>{:getLinkMenuName(29,$vo['toilet'])}</span>|<span>
                                    {if strstr($vo.acreage,'.')}
                                        <span class="info">{$vo.acreage}{:config('filter.acreage_unit')}</span>
                                      {else}
                                        <span class="info">{$vo.acreage}.00{:config('filter.acreage_unit')}</span>
                                    {/if}
                                </span>|<span>{:getLinkMenuName(4,$vo['orientations'])}向</span>|<span>{$vo['floor']}/{$vo['total_floor']}层</span>
                                </div>
                                <div class="fangpai-shu-list-money">
                                    <div class="fangpai-shu-list-left">
                                        <p><span>{$vo.qipai}</span>万
                                            <b>市场价：{$vo.price|raw}</b>
                                        </p>
                                    </div>
                                    <div class="fangpai-shu-list-right">
                                        {if $vo.fydp_num gt 0 }
                                            <div class="fangpai-shu-list-shoucang">
                                                <p><img src="/homeStatic/img/hongxin.png" alt=""></p>
                                                <p><span>收藏11</span></p>
                                            </div>
                                        {else}
                                            <div class="fangpai-shu-list-shoucang">
                                                <p><img src="/homeStatic/img/jrcj.png" alt=""></p>
                                                <p><span>收藏</span></p>
                                            </div>
                                        {/if}
                                        <!--<div class="box-s fix fl ml20">-->
                                            <!--<span class="icon fl"><img src="/static/images/img-79.png" alt=""></span>-->
                                            <!--<span class="collect_btn follow txt fl" data-id="{$vo.id}" data-model="second_house" data-uri="{:url('Api/follow')}">-->
                                               <!--{if $vo.fydp_num gt 0 }-->
                                                  <!--已关注-->
                                                <!--{else}-->
                                                <!--关注房源-->
                                                <!--{/if}-->
                                            <!--</span>-->
                                        <!--</div>-->
                                        <!--<span class="collect_btn follow txt fl" data-id="{$vo.id}" data-model="second_house" data-uri="{:url('Api/follow')}">-->
                                        <!--{if $vo.fydp_num gt 0 }已收藏{else} 收藏{/if}-->
                                        <!--</span>-->
                                        <div class="fangpai-shu-list-zixun">
                                            <p><img src="./homeStatic/img/jrcj.png" alt=""></p>
                                            <p><span>咨询</span></p>
                                        </div>
                                    </div>
                                </div>
                                {if condition="$vo.fcstatus eq 169"}
                                <!--进行中-->
                                    <div class="fangpai-shu-list-absolute">
                                        {:getLinkMenuName(27,$vo['fcstatus'])}
                                    </div>
                                {elseif condition="$vo.fcstatus eq 170"}
                                <!--预告中-->
                                    <div class="fangpai-shu-list-absolute-lan">
                                        {:getLinkMenuName(27,$vo['fcstatus'])}
                                    </div>
                                {else /}
                                <!--已成交-->
                                <div class="fangpai-shu-list-over">
                                    <span style="display: none">{$vo.id}</span>
                                    {:getLinkMenuName(27,$vo['fcstatus'])}
                                </div>
                                {/if}
                                {if condition="$vo.is_free eq 1"}
                                <div class="fangpai-shu-list-left-absolute">
                                    自由购
                                </div>
                                {/if}

                            </li>
                            {/volist}
                        </ul>
                        <ul class="fangpai-lie-list">
                            {volist name='lists' id='vo' empty='暂无数据'}
                            <li>
                                <span style="display: none">{$vo.id}</span>
                                <div class="fangpai-lie-list-img">
                                    <a href="{:url('Second/detail',['id'=>$vo.id])}" target="_blank">
                                        <img src="{$vo.img}" onerror="javascript:this.src='/static/images/noimg.jpg'" alt="{$vo.title}">
                                    </a>
                                </div>
                                <div class="fangpai-lie-list-content">
                                    <div class="fangpai-lie-list-content-title">
                                        <h3>{$vo.title}</h3>
                                        <span class="fangpai-lie-list-content-title-red">{:getLinkMenuName(26,$vo['types'])}</span>
                                        <span class="fangpai-lie-list-content-title-blue">{:getLinkMenuName(25,$vo['jieduan'])}</span>
                                    </div>
                                    <div class="fangpai-lie-list-info">
                                        <span>{$vo.estate_name}</span>|<span>{:getLinkMenuName(29,$vo['toilet'])}</span>|<span>
                                            {if strstr($vo.acreage,'.')}
                                                <span class="info">{$vo.acreage}{:config('filter.acreage_unit')}</span>
                                              {else}
                                                <span class="info">{$vo.acreage}.00{:config('filter.acreage_unit')}</span>
                                            {/if}
                                        </span>|<span>{:getLinkMenuName(4,$vo['orientations'])}向</span>|<span>{$vo['floor']}/{$vo['total_floor']}层</span>
                                    </div>
                                    <div class="fangpai-lie-list-time">
                                        <span>开拍时间：{$vo.kptime}</span>
                                        <p><b>{$vo.qipai}</b>万</p>
                                    </div>
                                    <div class="fangpai-lie-list-footer">
                                        <div class="fangpai-lie-list-footer-left">
                                            <div class="fangpai-lie-list-shoucang">
                                                <p><img src="./homeStatic/img/jrcj.png" alt=""></p>
                                                <p><span>收藏</span></p>
                                            </div>
                                            <div class="fangpai-lie-list-zixun">
                                                <p><img src="./homeStatic/img/jrcj.png" alt=""></p>
                                                <p><span>咨询</span></p>
                                            </div>
                                        </div>
                                        <div class="fangpai-lie-list-danjia">
                                            <span>单价：{$vo.average_price|raw}</span>
                                            <span>市场价：{$vo.price|raw}</span>
                                        </div>
                                    </div>
                                </div>
                                <!--todo 旗帜颜色问题/已结束在中间-->
                                {if condition="$vo.fcstatus eq 169"}
                                <div class="fangpai-heng-list-absolute">
                                    {:getLinkMenuName(27,$vo['fcstatus'])}
                                </div>
                                {elseif condition="$vo.fcstatus eq 170"}
                                <div class="fangpai-heng-list-absolute-lan">
                                    {:getLinkMenuName(27,$vo['fcstatus'])}
                                </div>
                                {else /}
                                <div class="fangpai-heng-list-absolute-over">
                                    <span style="display: none">{$vo.id}</span>
                                    {:getLinkMenuName(27,$vo['fcstatus'])}
                                </div>
                                {/if}
                                {if condition="$vo.is_free eq 1"}
                                <div class="fangpai-shu-list-left-absolute">
                                    自由购
                                </div>
                                {/if}
                                <!--<div class="fangpai-heng-list-absolute-over">-->
                                    <!--已结束-->
                                <!--</div>-->
                            </li>
                            {/volist}
                        </ul>
                        <div class="fangpai-shu-tuijian">
                            <h2>推荐小区</h2>
                            <div class="tuijian-swiper-container">
                                <div class="swiper-wrapper">
                                    {volist name='quality_estate' id='vo'}
                                    <div class="swiper-slide">
                                        <span style="display: none">{$vo.id}</span>
                                        <div class="tuijian-slide-detail">
                                            <img src="{$vo.img}" alt="">
                                            <p>{$vo.title}</p>
                                            <div class="tuijian-slide-detail-info">
                                                <span>拍卖房源<b>{$vo.second_total}</b>套 </span>
                                                <span class="tuijian-slide-detail-info-color">{$vo.price}元/㎡</span>
                                            </div>
                                        </div>
                                    </div>
                                    {/volist}
                                </div>
                                <div class="tuijian-swiper-scrollbar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="fangpai-shu-list-content-right">
                        <div class="fangpai-shu-list-content-right-map">
                            <a href="/map/second.html?mod5=6"><img src="/homeStatic/img/dituzhaofang98.png" alt=""></a>
                            <p><a href="/map/second.html?mod5=6">试试地图找房</a></p>
                        </div>
                        <div class="fangpai-shu-list-content-right-title">
                            <span>热门问答</span>
                            <span></span>
                        </div>
                        <ul class="fangpai-shu-list-content-right-wenda">
                            {volist name='answer' id='vo' empty='暂无数据'}
                            <li>
                                <p><a href="{:url('News/detail',['id'=>$vo.id])}" target="_blank">{$vo.title}</a></p>
                                <span>{$vo.hits}个浏览/{$vo.create_time|date="Y-m-d"}</span>
                            </li>
                            {/volist}
                        </ul>
                        <div class="fangpai-shu-list-content-right-title">
                            <span>热门百科</span>
                            <span><a href="/news.html?mod=5">更多</a></span>
                        </div>
                        <ul class="fangpai-shu-list-content-right-baike">
                            {volist name='hot_news' id='vo' empty='暂无数据'}
                            <li>
                                <p><a href="{:url('News/detail',['id'=>$vo.id])}" target="_blank">{$vo.title}</a></p>
                            </li>
                            {/volist}
                        </ul>
                        <div class="fangpai-shu-list-content-right-title">
                            <span>房拍网公众号</span>
                            <span></span>
                        </div>
                        <div class="fangpai-shu-list-content-right-gongzhonghao">
                            <img src="{$site.weixin_qrcode}" alt="">
                            <p>扫一扫</p>
                            <p>关注我们</p>
                        </div>
                    </div>
                </div>
                {notempty name='pages'}
                <div class="page_list clearfix">
                    {$pages|raw}
                </div>
                {/notempty}
            </div>
        </div>
    </div>
</div>
<!-- 楼盘列表 S-->

<script type="text/html" id="template">
    {{# for(var i = 0, len = d.length; i < len; i++){ }}
    <li>
        <a href="{{d[i].url}}" target="_blank">
            <span>
                 {{d[i].title}}
            </span>
            <span class="address">
                {{d[i].address}}
            </span>
        </a>
    </li>
    {{# } }}
</script>
<script type="text/javascript" src="__STATIC__/js/layer/laytpl.js"></script>
<script type="text/javascript">
    var btn1=document.getElementById('btn');
    var box1=document.getElementById('box');
    function btn(){ if(btn1.value=="收起"){box1.style.display='none';btn1.value="显示更多";
    }else{box1.style.display='';btn1.value="收起";
    }
    }
</script>
<script type="text/javascript">
    $(function(){
        $("#select select").on('change',function(){
            var uri = $(this).find("option:selected").data('uri');
            window.location.href = uri;
        });
        $("#keyword").on('keyup click',function(e){
            e.preventDefault();
            e.stopPropagation();
            var keyword = $(this).val(),url = $(this).data('uri'),box = $('#search-box');
            $.get(url,{keyword: $.trim(keyword)},function(result){
                if(result.code == 1)
                {
                    var gettpl = document.getElementById('template').innerHTML;
                    laytpl(gettpl).render(result.data, function(html){
                        $('#search-box').html(html);
                    });
                    box.show();
                }else{
                    box.hide();
                }
            });
        });
        $('body').on('click',function(){
            $('#search-box').hide();
        });
    })
</script>
{/block}


<script src="__STATIC__/js/plugins/jquery.lazyload.js"></script>
<script type="text/javascript" src="__JS__/common.js"></script>
<script src="__STATIC__/js/layer/layer.js"></script>
<script>
    $("img.lazy").lazyload({
        threshold : 100,
        effect : "fadeIn"
        //event: "scrollstop"
    });
    $(function(){
        $('.follow').on('click',function(){
            var house_id = $(this).data('id'),model = $(this).data('model'),url = $(this).data('uri'),me = $(this);
            $.post(url,{house_id:house_id,model:model},function(result){
                if(result.code == 1)
                {
                    layer.msg(result.msg,{icon:1});
                    if(me.hasClass('on'))
                    {
                        me.removeClass('on').text(result.text);
                    }else{
                        me.addClass('on').text(result.text);
                    }
                }else{
                    layer.msg(result.msg,{icon:2});
                }
            });
        });
    });
</script>
{/block}