{extend name='public/layout' /}

{block name='header'}

<!-- header-top S-->

<div class="header-top">

    <header id="header" class="h-list-head">

        <a href="javascript:;" class="go-back"></a>

       

        <div style="text-align:center;width:95%;color:#fff;font-size:18px;">金融服务</div>

        


    </header>

</div>

<div id="select_bg"></div>

<!-- header-top E-->

{/block}

{block name='content'}

<div class="main" style="background: #fff;">

    <!-- 小区项目细节 S-->

    <div class="" style="margin-top:2.56rem;">
    <div style="width:100%;height:150px; float:left;">
        <div style="width:50%; float:left;"><img src="../static/mobile/images/icon/aa.png"></div>
        <div style="width:47%; float:left;margin-left:3%;">
            <h3 style=" border-bottom:1px solid #eee;line-height:20px;">法拍网</h3>
            <div style="line-height:20px;font-size:12px;">贷款范围：<span style="color:red;">北京市70年产权</span></div>
            <div style="line-height:20px;font-size:12px;">贷款年限：<span style="color:red;">25年</span></div>
            <div style="line-height:20px;font-size:12px;">贷款成数：<span style="color:red;">首套：6.5</span></div>
            <div style="line-height:20px;font-size:12px;">贷款手续：<span style="color:red;">1.5%</span></div>
            <div style="line-height:20px;font-size:12px;">法拍贷专员：<span style="color:red;">张先生</span></div>
            <div style="line-height:20px;font-size:12px;">联系电话：<span style="color:red;">13051265555</span></div>
        </div>
    </div>
    <div style="width:100%;height:140px;  float:left;">
        <div style="width:50%; float:left;"><img src="../static/mobile/images/icon/bb.png"></div>
        <div style="width:47%; float:left;margin-left:3%;">
            <h3 style="border-bottom:1px solid #eee;line-height:20px;margin-top:15px;">抵押经营贷款</h3>
            <div style="line-height:20px;font-size:12px;">贷款利率：<span style="color:red;">4.35%起</span></div>
            <div style="line-height:20px;font-size:12px;">贷款额度：<span style="color:red;">10-5000万</span></div>
            <div style="line-height:20px;font-size:12px;">批贷时间：<span style="color:red;">3-5个工作日</span></div>
            <div style="line-height:20px;font-size:12px;border-bottom:1px solid #eee;">贷款期限：<span style="color:red;">1-20年</span></div>
        </div>
    </div>
     <div style="width:100%;height:140px; float:left;">
        <div style="width:50%; float:left;"><img src="../static/mobile/images/icon/cc.png"></div>
        <div style="width:47%; float:left;margin-left:3%;">
            <h3 style="border-bottom:1px solid #eee;line-height:20px;margin-top:15px;">应急贷</h3>
            <div style="line-height:20px;font-size:12px;">贷款利率：<span style="color:red;">2%/月起</span></div>
            <div style="line-height:20px;font-size:12px;">贷款额度：<span style="color:red;">200万</span></div>
            <div style="line-height:20px;font-size:12px;">批贷时间：<span style="color:red;">最快24小时</span></div>
            <div style="line-height:20px;font-size:12px;border-bottom:1px solid #eee;">贷款期限：<span style="color:red;">1-3个月</span></div>
        </div>
    </div>  



    </div>


</div>
{/block}