{extend file='public/layout' /}
{block name='content'}
<div class="layui-form" >
    <form name="layui-form" class="search-form" action="{:url('Badword/index')}" method="get" >
        <div class="layui-elem-quote">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-inline">
                        <select name="status">
                            <option value="">-所有-</option>
                            <option value="1" {eq name="search['status']" value="1"}selected="selected"{/eq}>启用</option>
                            <option value="0" {eq name="search['status']" value="0"}selected="selected"{/eq}>禁用</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">关键词</label>
                    <div class="layui-input-inline">
                        <input name="keyword" type="text" placeholder="输入关键词搜索" class="layui-input" size="25" value="{$search.keyword}" />
                    </div>
                    <button class="layui-btn layui-btn-normal">搜索</button>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="pad_lr_10" >
    <form class="layui-form" action="">
        <div class="layui-form layui-border-box layui-table-view">
            <div class="layui-table-header">
                <table class="layui-table list-table" cellspacing="0" cellpadding="0" border="0" data-uri="{:url('Badword/ajaxEdit')}">
                    <colgroup>
                        <col width="5%">
                        <col width="5%">
                        <col width="10%">
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                            <div class="layui-table-cell">
                                <input name="checkAll" lay-skin="primary" lay-filter="checkAll" type="checkbox">
                            </div>
                        </th>
                        <th>
                            <div class="layui-table-cell"><span>ID</span></div>
                        </th>
                        <th>
                            <div class="layui-table-cell"><span>敏感词</span></div>
                        </th>
                        <th>
                            <div class="layui-table-cell"><span>替换词</span></div>
                        </th>
                        <th width="80">
                            <span data-tdtype="order_by" data-field="ordid">敏感等级</span>
                        </th>
                        <th>
                            <div class="layui-table-cell"><span>状态</span></div>
                        </th>
                        <th>
                            <div class="layui-table-cell" align="center"><span>操作</span></div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name="list" id="val"}
                    <tr>
                        <td>
                            <div class="layui-table-cell laytable-cell-checkbox">
                                <input lay-skin="primary" lay-filter="checkOne" value="{$val.id}" type="checkbox" />
                            </div>
                        </td>
                        <td>
                            <div class="layui-table-cell">
                                {$val.id}
                            </div>
                        </td>
                        <td>
                            <div class="layui-table-cell">
                                {$val.word}
                            </div>
                        </td>
                        <td>
                            <div class="layui-table-cell">
                                {$val.replace_word}
                            </div>
                        </td>
                        <td>
                            <div class="layui-table-cell">
                                {$val.level}
                            </div>
                        </td>
                        <td class="kaifazhe-switch">
                            <div class="layui-table-cell">
                                <input type="checkbox" name="switch" lay-filter="switchStatus" lay-skin="switch" data-field="status" data-id="{$val.id}" value="{$val.status}" lay-text="正常|禁用" {if condition="$val.status eq 1"}checked{/if}>
                            </div>
                        </td>
                        <td align="center">
                            {:rights($options,$val['id'],$val['word'])}
                        </td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="kaifazhe-fix-bottom layui-clear">
            <div class="kaifazhe-list-option layui-fl">
                <input name="checkAll" lay-filter="checkAll" lay-skin="primary" title="全选/取消" type="checkbox">
                <button type="button" lay-submit lay-filter="optionAll" data-msg="确定要删除所选项目么？" data-uri="{:url('delete')}" class="layui-btn layui-btn-danger layui-btn-sm">删除</button>
            </div>
            <div id="pages" class="layui-layout-right">
                {$pages|raw}
            </div>
        </div>
    </form>
</div>
{/block}
