{extend name='user/public/layout' /}
{block name='content'}
<link rel="stylesheet" href="__CSS__/swiper.min.css">

<div class="main" style="background: none;">
    {include file='user/subscribe/nav' /}
    <div class="house-show-box">
        <ul>
            {volist name='lists' id='vo' empty='暂无数据'}
            <li>
                <div class="pic">
                    <a href="{:url('Shops/detail',['id'=>$vo['id']])}" title="{$vo.title}">
                        <img src="{$vo.img}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.estate_name}" />
                    </a>
                </div>
                <div class="intro-text">
                    <h4>
                        <a href="{:url('Shops/detail',['id'=>$vo['id']])}" title="{$vo.title}">
                            {$vo.estate_name}
                        </a>
                    </h4>
                    <p class="price"><span>{:getCityName($vo['city'],'-')}</span><span class="price-num">{if condition="$vo.price gt 0"}<em>{$vo.price}</em>万{else /}面议{/if}</span></p>
                    <p class="detail-text">{:getLinkMenuName(18,$vo['type'])} {$vo.acreage}{:config('filter.acreage_unit')} {:getLinkMenuName(8,$vo['renovation'])}</p>
                    <p>
                        <span class="delete" data-id="{$vo.id}" data-model="shops">删除</span>
                    </p>
                </div>
            </li>
            {/volist}
        </ul>
    </div>
    <div class="page_list">
        {$pages|raw}
    </div>
</div>
{/block}