<style>

html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 1200px;}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-width: 1200px;
}


  .footer {
  height: 245px;
    padding:0px;
  background: url("../images/27.jpg") no-repeat center bottom;
  position: relative; }    

  .footer .tops {
    padding-top: 53px; }
    .footer .tops .left {
      background: url("../images/27.png") no-repeat right bottom;
      padding-right: 80px; }
      .footer .tops .left h1 {
        font-size: 40px;
        color: #fff; }
      .footer .tops .left p {
        font-size: 26px;
        color: #fff; }
    .footer .tops .content {
      padding-left: 77px;
      background: url("../images/27.png") no-repeat right bottom;
      padding-right: 80px; }
      .footer .tops .content h5 {
        font-size: 14px;
        color: #ffffff;
        font-weight: normal; }
      .footer .tops .content span {
        font-size: 36px;
        color: #d91615; }
      .footer .tops .content p {
        font-size: 12px;
        color: #ABABAB; }
    .footer .tops .right {
      position: relative; }
      .footer .tops .right .wx {
        width: 131px;
        float: left; }
        .footer .tops .right .wx img {
          float: right; }
        .footer .tops .right .wx span {
          width: 20px;
          background: #d9d9d9;
          padding: 6px;
          line-height: 1.2;
          display: inline-block;
          font-size: 14px;
          color: #666666;
          height: 83px;
          text-align: center;
          margin-left: 4px; }
  .footer .copyright {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 49px;
    line-height: 49px;
    background: #d91615; }
    .footer .copyright a {
      color: #fff;
      font-size: 12px; }
    .footer .copyright span {
      color: #fff;
      margin: 0px 3px; }
    .footer .copyright .fr {
      color: #fff;
      font-size: 12px; }


</style>

<div class="footer" style="background: url(/img/27.jpg) no-repeat center bottom;">
  <div class="container auto fix">
      <div class="tops fix">
          <div class="fl left">
              <p style="font-size: 40px;color: #fff;"><b>房拍网</b></p>
              <p>您值得信赖的房产拍卖网站</p>
          </div>
          <div class="content fl">
              <h5>全国服务资讯热线：</h5>
              <span class="db">400 677 0028</span>
              <p>地址：北京市东城区朝阳门银河SOHO D座11层51102</p>
          </div>
          <div class="right fr" style="display:none;">
                             <div class="wx fl ml20">
                    <span>微信服务号</span>
                    <img width="95" height="95"  src="{$site.weixin_qrcode}" style="display: block;">
                </div>
                              <div class="wx fl ml20">
                    <span>网站二维码</span>
                    <img width="95" height="95"  src="{$site.weixin_qrcode}" style="display: block;">
                </div>
                        </div>
      </div>
      <div class="copyright fix" style="background:#00AC56">
          <div class="container auto fix">
              <div class="fl">
                                    <a href="/single-aboutus.html" rel="nofollow">加入我们</a><span>|</span>
                                    <a href="/single-contacts.html" rel="nofollow">联系我们</a><span>|</span>
                                    <a href="/single-huiyuanquanyi.html">法拍房贷款</a><span>|</span>
                                    <a href="/single-yonghuxieyi.html" rel="nofollow">用户注册协议</a>
                                    
              </div>
              <div class="fr">北京房拍在线网络科技有限公司 版权所有 京ICP备11017857号</div>
          </div>
      </div>
  </div>
</div>

<style type="text/css">


.floating_ck{position:fixed;right:20px;top:30%;z-index:999999}
.floating_ck dl dd{position:relative;width:80px;height:80px;background-color:#00AC56;border:solid 3px #e3e3e3;text-align:center;background-repeat:no-repeat;border-radius: 5em;background-position:center 20%;cursor:pointer;margin-bottom: 8px;}
.floating_ck dl dd:hover{background-color:#33a033;border:solid 3px #e3e3e3;}
.floating_ck dl dd:hover .floating_left{display:block;}
.consult{background-image:url(/kf/images/img-21.png);}
.words{background-image:url(/kf/images/img-22.png);}
.quote{background-image:url(/kf/images/img-23.png);}
.qrcord{background-image:url(/kf/images/img-24.png); }
.return{background-image:url(/kf/images/fanhui.png);}
.floating_ck dd span{color:#fff;display:block;padding-top:50px; font-size:13px}
.floating_left{position:absolute;left:-180px;top:0px;width:160px;border-radius: 1em;height:80px;background-color:#33a033;border:solid 3px #e3e3e3;display:none;}
.floating_left a{color:#fff;line-height:80px;}
.floating_ewm{height:260px;top:-180px;}
.floating_ewm i{background-image:url(/kf/images/erweima.png);display:block;width:145px;height:145px;margin:auto;margin-top:7px;background-size:100%}
.floating_ewm p{color:#fff;margin-top:5px;}
.floating_ewm .qrcord_p01{font-size:12px;line-height:20px;}
.floating_ewm .qrcord_p02{font-size:18px;}
</style>

<script type="text/javascript" src="/kf/js/top.js"></script>
  
  
<div class="floating_ck">
	<dl>
    	<dt></dt>
        <dd class="consult" style="display:none">
        	<span>APP下载</span>
        	<div class="floating_left" style="display:none"><a href="">下载官方APP</a></div>
        </dd>
        <a href="/erf-39-0-0-0-0-0-0-0-0-0-0-7-1/types/0/jieduan/0/fcstatus/0.html" rel="nofollow" style="color:#fff"><dd class="words">
        	<span>今日新增</span>
            <div class="floating_left" style="display:none">浏览今日新增房源</div>
        </dd></a>
       <a href="/erf-39-0-0-0-0-0-0-0-0-0-0-0-1/types/0/jieduan/0/fcstatus/175.html" rel="nofollow" style="color:#fff"> <dd class="quote">
        	<span>今日成交</span>
            <div class="floating_left" style="display:none">浏览今日成交房源</div>
        </dd></a>
        <dd class="qrcord">
        	<span>官方微信</span>
            <div class="floating_left floating_ewm">
            	<i></i>
                <p class="qrcord_p01">扫一扫<br>关注我们</p>
                <p class="qrcord_p02">全国免费服务热线<br>400-677-0028</p>
            </div>
        </dd>
        <dd class="return">
        	<span onClick="gotoTop();return false;" style="">返回顶部</span>
        </dd>
    </dl>
</div>




