<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房拍网</title>
    <meta name="keywords" content="{$seo.keys}" />
    <meta name="description" content="{$seo.desc}" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <script>
        var browser = {
            versions: function() {
                var u = navigator.userAgent, app = navigator.appVersion;
                return {     //移动终端浏览器版本信息
                    trident: u.indexOf('Trident') > -1, //IE内核
                    presto: u.indexOf('Presto') > -1, //opera内核
                    webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                    gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                    mobile: !!u.match(/AppleWebKit.*Mobile.*/), //是否为移动终端
                    ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                    android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或uc浏览器
                    iPhone: u.indexOf('iPhone') > -1, //是否为iPhone或者QQHD浏览器
                    iPad: u.indexOf('iPad') > -1, //是否iPad
                    webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
                };
            } (),
            language: (navigator.browserLanguage || navigator.language).toLowerCase()
        };
        if (browser.versions.mobile) {
            window.location.href = "{:config('mobile_domain')}"+window.location.pathname;
        }
    </script>
    
    <link rel="stylesheet" type="text/css" href="__CSS__/reset.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/common.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/input.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/css.css">
    <script src="__STATIC__/js/jquery.min.js"></script>
</head>
<body>
<!-- topBar S -->
<div class="topBar">
    <div class="comWidth clearfix">
        <div class="logo fl">
            <a href="{:url('Index/index')}" title="{$site.title}">
                <img src="{$site.pc_logo_white}" alt="{$site.title}" />
            </a>
        </div>
        <div class="fl sele_city">
            <a href="javascript:;"  class="sele_city_btn">{$cityInfo['name']}<img src="__IMG__/icon/icon15.png" alt="" class="icon"></a>
            <div class="city_list clearfix">
                <i class="city-close">关闭</i>
                {volist name='top_nav_city.city' id='vo'}
                <dl class="clearfix">
                    <dt class="bold">{$key}</dt>
                    {volist name='vo' id='val'}
                    <dd {if condition="$val.is_hot eq 1"}class="hot"{/if}><a href="{:url($controller.'/index@'.$val['domain'])}" title="{$val.name}">{$val.name}</a></dd>
                    {/volist}
                </dl>
                {/volist}
            </div>
        </div>
        <div class="navBar fl">
            <ul class="nav_list fl">
                {volist name='menu' id='vo'}
                {if condition='$vo.pos eq 1'}
                <li {if condition="$vo['model'] eq $cur_url"}class="active"{/if}>
                    <a href="{$vo['url']}" title="{$vo.title}"  target="{$vo.open_type}">{$vo.title}</a>
                    {present name="vo['_child']"}
                    <ul>
                        {volist name="vo['_child']" id="val"}
                        <li><a href="{$val.url}" title="{$val.title}" target="{$val.open_type}">{$val.title}</a></li>
                        {/volist}
                    </ul>
                    {/present}
                </li>
                {/if}
                {/volist}
            </ul>
        </div>
        <div class="log_link fr">
            {notempty name='userInfo'}
            <!-- 已登录状态 -->
            <div class="loged">
                <div class="user_info">
                    <img src="{:getAvatar($userInfo['id'],30)}" width="30" height="30" alt="">
                    <span class="name">{:hideStr($userInfo['nick_name'])}</span>
                </div>
                <div class="slide_tog" style="display:none;">
                    <a href="{:url('user.index/index')}">用户中心</a>
                    <a href="{:url('Login/logout')}">退出登录</a>
                </div>
            </div>
            {else /}
            <!-- 未登录状态 -->
            <div class="not_log">
                <a href="{:url('Login/index')}">登录</a>
                /
                <a href="{:url('Login/register')}">注册</a>
            </div>
            {/notempty}
        </div>
    </div>
</div>
<!-- topBar E -->


{block name='content'}
<div class="map_house">
    <!-- 筛选 和 搜索 S-->
    <div class="sele_sear clearfix">
        <div class="comWidth">
            <div class="sear fl">
                <div class="ipt_area fl">
                    <input type="text" class="ipt" id="keyword" placeholder="输入小区名称">
                    <span class="placeholder">输入小区名称</span>
                </div>
                <div class="btn_area fl">
                    <button class="btn search-keyword"></button>
                </div>
            </div>
            <div class="sele_list fl">
                <form action="">
                    <div class="item fl" id="select_city" data-uri="{:url('Ajax/getCityPoint')}">
                        <input type="hidden" name="city" id="city" value="" />
                        <select class="J_city_select" data-pid="0" data-uri="{:url('Ajax/ajaxGetchilds')}" data-selected="">
                        </select>
                    </div>
                    <div class="item fl">
                        <select name="price" id="price">
                            <option value="0">价格</option>
                            {volist name=':getSecondPrice()' id='vo'}
                            <option value="{$key}">{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="item fl">
                        <select name="acreage" id="acreage">
                            <option value="0">面积</option>
                            {volist name=':getAcreage()' id='vo'}
                            <option value="{$key}">{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="item fl">
                        <select name="room" id="room">
                            <option value="0">户型</option>
                            {volist name=':getRoom()' id='vo'}
                            <option value="{$key}">{$vo}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="item fl">
                        <select name="renovation" id="renovation">
                            <option value="0">装修</option>
                            {volist name='renovation' id='vo'}
                            <option value="{$vo.id}">{$vo.name}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="item  fl">
                        <button type="button" class="btn search-btn" data-uri="{:url('Map/getSecondLists')}">搜索</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 筛选 和 搜索 E-->

    <div class="main">
        <!-- 左边地图 S -->
        <div class="l_box ">
            <div class="map">
                <div id="map"></div>
            </div>
        </div>
        <!-- 左边地图 E -->
        <!-- 右边区域内容 S -->
        <div class="r_box">
            <!-- 楼盘列表 S -->
            <div class="house_list">
                <div class="hd clearfix">
                    <ul class="fl tab sort">
                        <li>
                            <a href="javascript:;" data-sort="0" class="active df">默认</a>
                        </li>
                        <li >
                            <a href="javascript:;" data-sort="1" class="price down">总价</a>
                        </li>
                        <li>
                            <a href="javascript:;" data-sort="3" class="time down">面积</a>
                        </li>
                    </ul>
                    <span class="b_l"></span>
                </div>
                <ul class="bd" id="lists">
                </ul>
            </div>
            <!-- 楼盘列表 E -->

        </div>
        <!-- 右边区域内容 E -->
    </div>
</div>
<script type="text/html" id="template">
    {{# for(var i = 0, len = d.length; i < len; i++){ }}

    <li class="clearfix">
        <a href="{{d[i].url}}" target="_blank" title="{{d[i].title}}">
            <div class="img fl f_con">
                <img src="{{d[i].img}}" onerror="this.src='/static/images/nopic.jpg'" width="130" height="90" alt="">
            </div>
            <div class="c_con fl">
                <div class="t clearfix">
                    <h3>{{d[i].title}}</h3>
                </div>
                <div class="c">
                    <span>{{d[i].estate_name}} {{d[i].room}}室{{d[i].living_room}}厅 {{d[i].acreage}}{:config('filter.acreage_unit')} {{d[i].renovation}}</span>
                </div>
                <div class="b clearfix">
                    {{# for(var j in  d[i]['tags']){ }}
                    <span class="item item{{j*1+1}}">{{d[i]['tags'][j]}}</span>
                    {{# } }}
                </div>
            </div>
            <div class="r_con fl">
                <p class="price"><strong>{{d[i].price}}</strong></p>
            </div>
        </a>
    </li>
    {{# } }}
</script>
<script src="__STATIC__/js/layer/laytpl.js"></script>
<script src="__STATIC__/js/plugins/jquery.linkmenu.js"></script>
<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak={:config('baidu_map_ak')}"></script>
<script type="text/javascript" src="__JS__/map.js"></script>
<script type="text/javascript">
    $(function(){
        $('.J_city_select').cate_select({field:'city',parent_id:'select_city',top_option:'选择区域',id:'J_city_select'});
        var lng = '{$lng}';
        var lat = '{$lat}';
        BMapApplication.init({'lng' : lng, 'lat' : lat, 'mapContainerId' : 'map'});
        BMapApplication.requestUrl = $('.search-btn').data('uri');
        BMapApplication.requestParam = getParam();
        BMapApplication.getMap();
        //按条件筛选
        $('.search-btn').on('click',function(){
            BMapApplication.viewArea = true;
            BMapApplication.requestParam = getParam();
            BMapApplication.getData();
        });
        $('.search-keyword').on('click',function(){
            var keyword = $('#keyword').val();
            BMapApplication.viewArea = false;//全局搜索
            BMapApplication.requestNum = 0;
            BMapApplication.requestParam = {keyword:keyword};
            BMapApplication.getData();
        });
        //排序
        $('.sort a').on('click',function(){
            var sort = parseInt($(this).attr('data-sort'));
            $(this).addClass('active').parent().siblings().find('.active').removeClass('active');
            if($(this).hasClass('up'))
            {
                $(this).removeClass('up').addClass('down');
            }else if($(this).hasClass('down')){
                $(this).removeClass('down').addClass('up');
            }
            switch(sort)
            {
                case 0:
                    break;
                case 1:
                    sort = 2;
                    break;
                case 2:
                    sort = 1;
                    break;
                case 3:
                    sort = 4;
                    break;
                case 4:
                    sort = 3;
                    break;
                default :
                    sort = 90;
                    break;
            }
            BMapApplication.requestParam = getParam();
            BMapApplication.getData();
            $(this).attr('data-sort',sort);
        });
    });
    function getParam()
    {
        var city = $('#city').val(),price = $('#price').val(),room = $('#room').val(),acreage = $('#acreage').val(),
                renovation = $('#renovation').val();
        var sort  = $('.sort').find('.active').attr('data-sort');
        var param = {
            area : city,
            price : price,
            acreage  : acreage,
            room  : room,
            renovation : renovation,
            sort   : sort
        };
        return param;
    }
    $('#select_city').on('change','.J_city_select',function(){
        var city = $(this).val();
        var  url = $('#select_city').data('uri');
        var param = {
          city : city
        };
        $.get(url,param,function(result){
            if(result.code == 1)
            {
                BMapApplication.requestParam.city = city;
                BMapApplication.setCenter(result.data.lng,result.data.lat,result.data.name);
                BMapApplication.getData();
            }
        });
    });
</script>
{/block}
<script src="__STATIC__/js/plugins/jquery.lazyload.js"></script>
<script type="text/javascript" src="__JS__/common.js"></script>
<script src="__STATIC__/js/layer/layer.js"></script>
<script>
    $("img.lazy").lazyload({
        threshold : 100,
        effect : "fadeIn"
        //event: "scrollstop"
    });
    $(function(){
       $('.follow').on('click',function(){
           var house_id = $(this).data('id'),model = $(this).data('model'),url = $(this).data('uri'),me = $(this);
           $.post(url,{house_id:house_id,model:model},function(result){
               if(result.code == 1)
               {
                   layer.msg(result.msg,{icon:1});
                   if(me.hasClass('on'))
                   {
                       me.removeClass('on').text(result.text);
                   }else{
                       me.addClass('on').text(result.text);
                   }
               }else{
                   layer.msg(result.msg,{icon:2});
               }
           });
       });
    });
</script>
</body>
</html>