{extend name='public/layout' /}

{block name='content'}
<link type="text/css" href="/static/js/photo/css/prettyPhoto.css" rel="stylesheet" />

<!-- 页面标识 S-->
<div class="page_tit">
    <div class="comWidth clearfix">
        <a href="javascript:;" rel="nofollow">您的位置：</a>
        <a href="{:url('Index/index')}">首页</a> &gt;
        <a href="{:url('Rental/index')}">租房</a> &gt;
        <a href="javascript:void(0);">{$info.title}</a>
    </div>
</div>
<!-- 页面标识 E-->
<!-- 楼盘详情 S-->
<div class="house_detail">
    <div class="comWidth">
        <!-- main_info S -->
        <div class="main_info">
            <div class="hd_box clearfix">
                <h2 class="fl">{$info.title}</h2>
                <span class="collect_btn follow fr" data-id="{$info.id}" data-model="rental" data-uri="{:url('Api/follow')}">关注房源</span>
            </div>
            <div class="con_box clearfix">
                <div class="leftArea">
                    <!-- 轮播图 S -->
                    <div class="l_slide">
                        <ul class="bigImg">
                            {notempty name='info.file'}
                            {volist name='info.file' id='vo'}
                            <li>
                                <a href="javascript:;"><img src="{$vo.url}" alt="{$vo.title}"></a>
                            </li>
                            {/volist}
                            {else /}
                            <li>
                                <a href="javascript:;"><img src="{$info.img}" alt="{$info.title}"></a>
                            </li>
                            {/notempty}
                        </ul>
                        <div class="smallScroll">
                            <a class="sPrev" href="javascript:void(0)">←</a>
                            <div class="smallImg">
                                <ul>
                                    {notempty name='info.file'}
                                    {volist name='info.file' id='vo'}
                                    <li>
                                        <a href="javascript:;"><img src="{:thumb($vo['url'],160,80)}" alt="{$vo.title}"></a>
                                    </li>
                                    {/volist}
                                    {else /}
                                    <li>
                                        <a href="javascript:;"><img src="{:thumb($info['img'],160,80)}" alt="{$info.title}"></a>
                                    </li>
                                    {/notempty}
                                </ul>
                            </div>
                            <a class="sNext" href="javascript:void(0)">→</a>
                        </div>
                    </div>
                    <!-- 轮播图 E -->
                </div>
                <div class="rightArea">
                    <div class="price clearfix">
                        <span><strong>{$info.price|raw}</strong></span><span>（{:getLinkMenuName(11,$info['pay_type'])}）</span>
                    </div>
                    <ul class="col_3_list clearfix">
                        <li>
                            <p class="tit">{:getLinkMenuName(10,$info['rent_type'])}</p>
                            <p class="txt">租赁方式</p>
                        </li>
                        <li>
                            <p class="tit">{$info.acreage}{:config('filter.acreage_unit')}</p>
                            <p class="txt">面积</p>
                        </li>
                        <li>
                            <p class="tit">{$info.room}室{$info.living_room}厅{$info.toilet}卫</p>
                            <p class="txt">户型</p>
                        </li>
                        <li>
                            <p class="tit">{:getLinkMenuName(8,$info['renovation'])}</p>
                            <p class="txt">装修</p>
                        </li>
                        <li>
                            <p class="tit">{:getLinkMenuName(7,$info['floor'])}/{$info.total_floor}</p>
                            <p class="txt">楼层</p>
                        </li>
                        <li>
                            <p class="tit">{:getLinkMenuName(4,$info['orientations'])}</p>
                            <p class="txt">朝向</p>
                        </li>
                    </ul>
                    <div class="col_1 clearfix">
                        <span class="label">小区 : </span><span class="desc">{$estate.title}</span>
                    </div>
                    <div class="col_1 clearfix">
                        <span class="label">位置 : </span><span class="desc">{$info.address}</span>
                    </div>
                    <div class="agent_info clearfix" style="margin-top:30px;">
                        <img src="{:getAvatar($info['broker_id'],90)}" width="68" height="68" alt="" class="per_img fl">
                        <div class="c_con fl">
                            <div class="row clearfix">
                                <p class="name fl">{$info.contacts.contact_name}</p>
                                <!--ul class="star_list fl">
                                    <li class="on"></li>
                                    <li class="on"></li>
                                    <li class="on"></li>
                                    <li class="on"></li>
                                    <li class="off"></li>
                                </ul-->
                            </div>
                            <div class="row">
                                <p class="phone">{$info.contacts.contact_phone}</p>
                            </div>
                        </div>
                        <div class="r_con fr">
                            <a href="http://wpa.qq.com/msgrd?v=3&uin={$qq[0]}&site=qq&menu=yes" target="_blank" class="btn consult">在线咨询</a>
                            <a href="javascript:void(0);" class="btn appoint J_dialog" data-id="{$info.id}" data-model="rental" data-type="1" data-uri="{:url('Dialog/subscribe')}">预约看房</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- main_info E -->
        <!-- 锚链接导航 S -->
        <div class="scroll_nav_wrap">
            <div class="scroll_nav">
                <div class="comWidth clearfix">
                    <ul>
                        <li class="active"><a href="javascript:;">房源概况</a></li>
                        {notempty name='info.pano_url'} <li><a href="javascript:;">全景看房</a></li>{/notempty}
                        <li><a href="javascript:;">房源照片</a></li>
                        <li><a href="javascript:;">小区简介</a></li>
                        <li><a href="javascript:;">周边配套</a></li>
                        <li><a href="javascript:;">同小区房源</a></li>
                        <li><a href="javascript:;">你可能感兴趣的房源</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- 锚链接导航 E -->
        <div class="con_wrap clearfix">
            <div class="leftArea cm_leftArea">
                <!-- 房源概况 S-->
                <div class="house_general floor">
                    <div class="title clearfix">
                        <h2>房源概况</h2>
                    </div>
                    <!-- 周边配套 S-->
                    <div class="house_support clearfix">
                        <h4>房屋配套</h4>
                        <ul>
                            {php}$val = getLinkMenuCache(12);{/php}
                            {php}$support = array_filter(explode(',',$info['supporting']));{/php}
                            {volist name='support' id='vo'}
                            <li>
                                <div class="icon_img">
                                    <img src="__IMG__/icon2/{$val[$vo]['alias']}.png" alt="" class="icon">
                                </div>
                                <p>{$val[$vo]['name']}</p>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                    <!-- 周边配套 E-->
                    <!-- 房屋两点 S -->
                    <div class="bright_sopt clearfix">
                        <h4>房屋介绍</h4>
                        <div class="desc">
                            {$info.info|raw}
                        </div>
                    </div>
                    <!-- 房屋两点 E -->
                </div>
                <!-- 房源概况 E-->
                {notempty name='info.pano_url'}
                <div class="house_general floor">
                    <div class="title clearfix">
                        <h2>全景看房</h2>
                    </div>
                    <div class="desc">
                        <iframe src="{$info.pano_url}" width="100%" height="550" scrolling="no" frameborder="0"></iframe>

                    </div>
                </div>
                {/notempty}
                <!-- 房源照片 S-->
                <div class="house_picture floor">
                    <div class="title clearfix">
                        <h2>房源照片</h2>
                    </div>
                    <ul class="list list_box clearfix" id="photo">
                        {volist name='info.file' id='vo'}
                        <li>
                            <a href="{$vo.url}" title="{$vo.title}" rel="prettyPhoto[]">
                                <img src="/static/images/nopic.jpg" data-original="{:thumb($vo['url'],430,250)}" class="lazy" width="432" height="253">
                                <div class="mask">
                                    <p class="name">{$vo.title}</p>
                                    <div class="opacity"></div>
                                </div>
                            </a>
                        </li>
                        {/volist}
                    </ul>
                </div>
                <!-- 房源照片 E-->
                <!-- 小区简介 S -->
                <div class="cmnt_profile floor">
                    <div class="title clearfix">
                        <h2>小区简介</h2>
                    </div>
                    <div class="con_box clearfix">
                        <div class="l_box fl">
                            <p class="cmnt_name">{$estate.title}</p>
                            <ul class="pro_list clearfix">
                                <li>
                                    <span class="tit">参考均价</span>
                                    <span class="txt">{$estate.price}{:config('filter.second_price_unit')}</span>
                                </li>
                                <li>
                                    <span class="tit">建筑类型</span>
                                    <span class="txt">{$estate.data.building_type}</span>
                                </li>
                                <li>
                                    <span class="tit">建筑年代</span>
                                    <span class="txt">{$estate.years}</span>
                                </li>
                                <li>
                                    <span class="tit">产权年限</span>
                                    <span class="txt">{$estate.data.property_right}</span>
                                </li>
                                <li>
                                    <span class="tit">总户数</span>
                                    <span class="txt">{$estate.data.plan_number}</span>
                                </li>
                                <li>
                                    <span class="tit">物业费</span>
                                    <span class="txt">{$estate.data.property_fee}</span>
                                </li>
                                <li>
                                    <span class="tit">绿化率</span>
                                    <span class="txt">{$estate.data.greening_rate}</span>
                                </li>
                                <li>
                                    <span class="tit">停车位</span>
                                    <span class="txt">{$estate.data.parking_space}</span>
                                </li>
                            </ul>
                            <div class="ft_desc clearfix">
                                <span><a href="{:url('Second/index',['estate_id'=>$info['estate_id']])}" title="{$estate.title}在售二手房">在售二手房源（{$info.second_total}套）</a></span>
                                <span><a href="{:url('Rental/index',['estate_id'=>$info['estate_id']])}" title="{$estate.title}在租房源">在租房源（{$info.total}套）</a></span>
                            </div>
                        </div>
                        <div class="r_box fr">
                            <img src="/static/images/nopic.jpg" data-original="{$estate.img}" class="lazy" alt="{$estate.title}">
                        </div>
                    </div>
                </div>
                <!-- 小区简介 E -->

            </div>
            <div class="rightArea cm_rightArea ">
                <!-- 推荐房源 S -->
                <div class="rcmd_house mt_73">
                    <div class="title">
                        <h3>附近房源</h3>
                        <p class="b_l"></p>
                    </div>
                    <div class="con_box">
                        <ul class="clearfix">
                            {volist name='near_by_house' id='vo'}
                            <li>
                                <a href="{:url('Rental/detail',['id'=>$vo['id']])}" title="{$vo.title}">
                                    <div class="img">
                                        <img src="{$vo.img}" onerror="this.src='/static/images/nopic.jpg'" alt="{$vo.title}">
                                    </div>
                                    <div class="con">
                                        <div class="row clearfix">
                                            <p class="type_area fl">{$vo.room}室{$vo.living_room}厅-{$vo.acreage}{:config('filter.acreage_unit')}</p>
                                            <p class="price fr">{$vo.price|raw}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                </div>
                <!-- 推荐房源 E -->
                <!-- 购房宝典S -->
                <div class="buy_way mt_25">
                    <div class="title">
                        <h3>{:getCateName('articleCate',2)}</h3>
                        <p class="b_l"></p>
                    </div>
                    <div class="con_box">
                        <ul class="list">
                            {fang:lists table='article' where='cate_id=2 and status=1 and city=$cityId' field='id,title' order='create_time desc' limit='8' id='data'}
                            <li class="clearfix"><a href="{:url('News/detail',['id'=>$data['id']])}">{$data.title}</a></li>
                            {/fang:lists}
                        </ul>
                    </div>
                </div>
                <!-- 购房宝典E -->
            </div>
        </div>
        <!-- con_wrap -->
        <div class="con_wrap">
            <!-- 周边配套 S-->
            {include file='public/peitao' /}
            <!-- 周边配套 E-->
            <!-- 相似房源 S -->
            <div class="similar_house  floor">
                <div class="title clearfix ">
                    <h2>同小区房源</h2>
                </div>
                <div class="con_box">
                    <ul class="list clearfix">
                        {php}$estate_id=$info['estate_id'];{/php}
                        {fang:lists table='rental' where='estate_id=$estate_id and status=1' field='id,title,room,living_room,acreage,price,img' order='id desc' limit='4' id='data'}
                        <li>
                            <a href="{:url('Rental/detail',['id'=>$data['id']])}" title="{$data.title}">
                                <div class="img">
                                    <img src="/static/images/nopic.jpg" data-original="{$data.img}" class="lazy" alt="{$data.title}">
                                </div>
                                <h5 class="name">{$data.title}</h5>
                                <div class="ft_con clearfix">
                                    <p class="type_area fl">{$data.room}室{$data.living_room}厅-{$data.acreage}{:config('filter.acreage_unit')}</p>
                                    <p class="price fr"><strong>{$data.price|raw}</strong></p>
                                </div>
                            </a>
                        </li>
                        {/fang:lists}
                    </ul>
                </div>
            </div>
            <!-- 相似房源 E -->
            <!-- 感兴趣的房源 S -->
            <div class="similar_house floor">
                <div class="title clearfix">
                    <h2>感兴趣的房源</h2>
                </div>
                <div class="con_box">
                    <ul class="list clearfix">
                        {volist name='same_price_house' id='vo'}
                        <li>
                            <a href="{:url('Rental/detail',['id'=>$vo['id']])}" title="{$vo.title}">
                                <div class="img">
                                    <img src="/static/images/nopic.jpg" data-original="{$vo.img}" class="lazy" alt="{$vo.title}">
                                </div>
                                <h5 class="name">{$vo.title}</h5>
                                <div class="ft_con clearfix">
                                    <p class="type_area fl">{$vo.room}室{$vo.living_room}厅-{$vo.acreage}{:config('filter.acreage_unit')}</p>
                                    <p class="price fr"><strong>{$vo.price|raw}</strong></p>
                                </div>
                            </a>
                        </li>
                        {/volist}
                    </ul>
                </div>
            </div>
            <!-- 感兴趣的房源 E -->
        </div>
    </div>
</div>
<!-- 楼盘详情 E-->
<script type="text/javascript" src="__STATIC__/js/photo/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="__JS__/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="__JS__/l_slide.js"></script>
<script type="text/javascript" src="__JS__/scroll_nav.js"></script>
<script type="text/javascript">
    $(function(){
        $("#photo:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});
        $('.J_dialog').on('click',function(){
            var me=$(this),w = 750,h = 400,house_id=me.data('id'),model = me.data('model'),type = me.data('type'),url = me.data('uri');
            url = url + '?house_id='+house_id+'&type='+type+'&model='+model;
            layer.open({
                type: 2,
                title: false,
                fix:true,
                move:false,
                area: [w+'px', h+'px'],
                shade: 0.8,
                closeBtn: 1,
                shadeClose: true,
                content: url
            });
        });
    });
</script>
{/block}