{extend name="public/layout" /}
{block name='content'}
<!--列表-->
<form class="layui-form" action="">
    <div class="layui-form layui-border-box layui-table-view">
        <table id="tree-table" class="layui-table list-table" cellspacing="0" cellpadding="0" border="0" data-uri="{:url('ajaxEdit')}">
            <colgroup>
                <col width="10%">
                <col width="10%">
                <col width="40%">
                <col width="20%">
                <col width="20%">
            </colgroup>
            <thead>
            <tr>
                <th>
                    <div class="layui-table-cell">
                        <input name="checkAll" lay-skin="primary" lay-filter="checkAll" type="checkbox">
                    </div>
                </th>
                <th>
                    <div class="layui-table-cell"><span>状态</span></div>
                </th>
                <th>
                    <div class="layui-table-cell"><span>标题</span></div>
                </th>
                <th>
                    <div class="layui-table-cell"><span>网址</span></div>
                </th>
                <th>
                    <div class="layui-table-cell" align="center"><span>操作</span></div>
                </th>

            </tr>
            </thead>
            <tbody>
            {volist name="list" id="val"}
            <tr>
                <td>
                    <div class="layui-table-cell laytable-cell-checkbox">
                        <input lay-skin="primary" lay-filter="checkOne" value="{$val.id}" type="checkbox" />
                    </div>
                </td>
                <td>
                    <div class="layui-table-cell">
                        {if condition='$val.status eq 0'}
                        未采集
                        {elseif condition='$val.status eq 1'}
                        已采集
                        {else /}
                        已发布
                        {/if}
                    </div>
                </td>
                <td data-field="title" date-edit="true">
                    {$val.title}
                </td>
                <td>
                    <div class="layui-table-cell">
                        {$val.url}
                    </div>
                </td>
                <td>
                    <div class="layui-table-cell">
                        <a href="javascript:;" class="view">查看</a>
                    </div>
                </td>
            </tr>
            <tr id="table-{$val.id}" style="display:none;">
                <td colspan="5">
                    <textarea class="layui-textarea" style="width:100%;height:400px;">{php}print_r($val['data']);{/php}</textarea>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
    <div class="kaifazhe-fix-bottom layui-clear">
        <div class="kaifazhe-list-option layui-fl">
            <input name="checkAll" lay-filter="checkAll" lay-skin="primary" title="全选/取消" type="checkbox">
            <button type="button" lay-submit lay-filter="optionAll" data-msg="确定要删除所选项目么？" data-uri="{:url('delete')}" class="layui-btn layui-btn-danger layui-btn-sm">删除</button>
            <button type="button" lay-submit lay-filter="optionAll" data-msg="确定要导入所选项目么？" data-uri="{:url('import')}" class="layui-btn layui-btn-sm">导入选中</button>
            <button type="button" lay-submit lay-filter="importAll" data-msg="确定要导入全部项目么？" data-page="{$list->lastPage()}" data-uri="{:url('importAll',['c_id'=>$c_id])}" class="layui-btn layui-btn-sm">导入全部</button>

        </div>
        <div id="pages" class="layui-layout-right">
            {$pages|raw}
        </div>
    </div>
</form>
<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use(['jquery','form'], function(){
        var $ = layui.jquery,form = layui.form,page = 1;
        $('.view').on('click',function(){
           $(this).parents('tr').next().toggle();
        });
        form.on('submit(importAll)',function(){
            var url = $(this).data('uri'),msg = $(this).attr('data-msg'),totalPage = $(this).data('page');
            layer.confirm(msg,{icon:3,title:'提示信息'},function(index){
                layer.msg('操作中,请稍候……');
                getData(url,totalPage);
            });
        });
        function getData(url,totalPage)
        {
            $.get(url,{page : page},function(result){
                layer.closeAll();
                if(result.code == 1){
                    layer.msg(result.msg,{icon:1});
                    if(page <= totalPage)
                    {
                        getData(url,totalPage);
                    }
                    page++;
                }else if(result.code == 2){
                    layer.msg(result.msg,{icon:1},function(){
                        window.location.reload();
                    });
                }else{
                    layer.msg(result.msg,{icon:2});
                }
            });
        }
    });
</script>
{/block}
