{extend name='public/layout' /}

{block name='header'}

<!-- header-top S-->

<div class="header-top">

    <header id="header" class="h-list-head" style="background:#1aad19">

        <a href="javascript:;" class="go-back"></a>

        <div class="search-box">

            <!-- <input type="text" id="keyword" placeholder="小区名/商圈"> -->

<div class="wrapper">
            <!-- <div class="serInput">
                <input placeholder="小区名/商圈" autofocus="" id="keyword" onMouseMove='showhidediv("baip")';/>
                <i style="right: 0.3rem;"></i>

            </div> -->
            <div class="sear_box" style="">
            <form action="{:url('Jrcj/index')}">
                <div class="ipt_area fl" style=" background: #ffffff14; position:absolute; z-index:999;   width: 100%;  left: 14px;">
                    <input type="text" name="keyword" id="keyword" autocomplete="off" placeholder="输入小区名称或房源名称" data-uri="{:url('Ajax/searchSecond')}" class="ipt" style="padding-left: 10px;font-size: 15px;width: 80%;float:left;"  onClick='showhidediv("baip")';>
                    <input type="submit" name="" class="" id="huiches" value="搜索" style="float:left;padding-left:0px;width:10%;">
                    <ul id="search-boxs" style="  padding-left: 10px; background:#fff;">
                    </ul>
                </div>
            
            </form>
        </div>
            <!-- <span class="serCancel">取消</span> -->
        <script type="text/javascript">
 
    function showhidediv(id){
var sbtitle=document.getElementById(id);

if(sbtitle){
   if(sbtitle.style.display=='block'){

   sbtitle.style.display='none'; 
   
   }else{
   sbtitle.style.display='block';
   
   }

  
   
}

} 
</script>
        <div  id="baip" style="background:#fff;display:none; position: relative; z-index: 9;padding-top:1.3rem;">
        <ul class="saleDetail" style="background:#00AC56;height:0.6rem;padding-left:-5px;">
            
        </ul>
        <ul class="saleDetail">
            <li style="color: #666;padding-left:5px;">搜索历史</li>
        </ul>
        <ul class="saleDetail history"></ul>
        <div class="Storage"></div>
        <div class="h80"></div>
        <div class="btnEmpty">清空历史搜索</div>
        </div>
    </div>

<script  type="text/javascript" src="jquery-2.1.4.min.js"></script>
 
<script>
var ItemName = "";  //localStorage的getItem 和 setItem的数组名字，主要用来做不同界面调用各自的历史记录。
var menuHistory   = new Object();
$(function(){
  console.log(1111111111111111);
  initLocalStorageArg("hi_001");
  console.log(ItemName);
 
 
});
 
  $(document).delegate(".history>li","click",function(){
    $("#keyword").val($(this).text());
 
  });
 
  /**
   * 初始化相关参数，界面js调用
   * menucode：可以是js的名字
   */
  function initLocalStorageArg(menucode){
    //苹果手机不兼容出现input无法取值以下是解决方法
    $('.history>li').click(function(){
          var div = $(this).text();
          $('#keyword').val(div);
    });
    ItemName = "hist_"+menucode;
    initlocalStorage();
    showHistDom();
  }
 
 
  /**
   * 历史数据展示
   */
  function showHistDom(){
    $(".history").html("");
    for(  var i=0 ; i<menuHistory.length;i++){
        $(".history").append('<li style="display: block;padding-left:5px;">'+menuHistory[i]+'</li>')
      }
  }
 
 
/**
 * 获取指定的localStorageobj对象，并转成Array对象。
 */
function initlocalStorage(){
    var localStorageobj = localStorage.getItem(ItemName);
    if(localStorageobj){
    }else{
     localStorage.setItem( ItemName,"[]");
     localStorageobj = localStorage.getItem(ItemName);
    }
    menuHistory=JSON.parse( localStorageobj);
}
 
/**
 * 执行记录历史数据
 */
function recordHist(){
      initlocalStorage();
      var value = $("#keyword").val();
    //   alert(value);
    // if(!value){ //这里判断输入的value是否合法，也可以用自己的判断方式
    //   alert("你未输入搜索内容");
    //   return false;
    // }

    //输入的内容localStorage有记录
      if($.inArray(value,menuHistory)>=0){
         var keyval = Object.keys(menuHistory).filter(function(x){return menuHistory[x] == value}).toString() ;
         menuHistory.splice(Number(keyval), 1); //splice(index,1):index代表value值在数组中对应到下标，1：表示删除
         // alert(keyval);
      }else {
        if (menuHistory.length > 9) {
            menuHistory.pop();
        }else {
        }
      }
      menuHistory.unshift(value);
      localStorage.removeItem(ItemName);
      localStorage.setItem( ItemName,JSON.stringify(menuHistory)); // 因为localStorage的value不能直接放数组，所以转换程json串后，再set
 
      showHistDom();
}
 
 
//清除记录功能
 $(".btnEmpty").click(function(){
   localStorage.setItem( ItemName,JSON.stringify([]));
    initlocalStorage();
    showHistDom();
 });
 

 
 
/*执行搜索的一种方式，绑定回车键*/
  $("#keyword").on("keypress",function(e){
    var keycode=e.keyCode;
    if(keycode=='13'){
 
      recordHist();
 
 
    }
  });

$("#huiches").click(function(){
    
      recordHist();
 
 
   
  });
 
</script>

























            <!-- <input type="text"  id="keyword" > -->
<!-- <button id="search">搜索</button> -->
<!-- <p style="margin-top: .5rem;border-top: 1px solid #9A9A9A;font-family: '微软雅黑';">历史</p>
<div class="delete history" style="width: 100%;margin-top: -1rem;">
</div> -->
<!-- <div class="history" id="his-dele"><img src="img/icon_search_del.png" style="width:.98rem;height:.92rem;display: inline-block;" />清除记录</div> -->
<script>
            // $(document).delegate(".delete>div", "click", function() {
            //     $("#keyword").val($(this).text());
            // });

            // /*搜索记录相关*/
            // //从localStorage获取搜索时间的数组
            // var hisTime;
            // //从localStorage获取搜索内容的数组
            // var hisItem;
            // //从localStorage获取最早的1个搜索时间
            // var firstKey;

            // function init() {
            //     //每次执行都把2个数组置空
            //     hisTime = [];
            //     hisItem = [];
            //     //模拟localStorage本来有的记录
            //     //localStorage.setItem("a",12333);
            //     //本函数内的两个for循环用到的变量
            //     var i = 0
            //     for(; i < localStorage.length; i++) {
            //         if(!isNaN(localStorage.key(i))) {
            //             hisItem.push(localStorage.getItem(localStorage.key(i)));
            //             hisTime.push(localStorage.key(i));
            //         }
            //     }
            //     i = 0;
            //     //执行init(),每次清空之前添加的节点
            //     $(".delete").html("");
            //     for(; i < hisItem.length; i++) {
            //         //alert(hisItem);
            //         $(".delete").prepend('<div class="word-break" id=""style=" z-index: 1000;">' + hisItem[i] + '</div>')
            //     }
            // }
            // init();
            // $("#keyword").keydown(function(event){
            //     if((event.keyCode || event.which)==13){
                    
            //     }
            //     var value = $("#keyword").val();
            //     var time = (new Date()).getTime();


            // // $("#search").click(function() {
            // //     var value = $("#keyword").val();
            // //     var time = (new Date()).getTime();

            // //     if(!value) {
            // //         alert("请输入搜索内容");
            // //         return false;
            // //     }

            //     //输入的内容localStorage有记录
            //     if($.inArray(value, hisItem) >= 0) {
            //         for(var j = 0; j < localStorage.length; j++) {
            //             if(value == localStorage.getItem(localStorage.key(j))) {
            //                 localStorage.removeItem(localStorage.key(j));
            //             }
            //         }
            //         localStorage.setItem(time, value);
            //     }
            //     //输入的内容localStorage没有记录
            //     else {
            //         //由于限制了只能有6条记录，所以这里进行判断
            //         if(hisItem.length > 10) {
            //             firstKey = hisTime[0]
            //             localStorage.removeItem(firstKey);
            //             localStorage.setItem(time, value);
            //         } else {
            //             localStorage.setItem(time, value)
            //         }
            //     }
            //     init();
            //     //正式的时候要提交的！！！
            //     //$("#form1").submit()

            // });

            // //清除记录功能
            // $("#his-dele").click(function() {
            //     var f = 0;
            //     for(; f < hisTime.length; f++) {
            //         localStorage.removeItem(hisTime[f]);
            //     }
            //     init();
            // });
            // //苹果手机不兼容出现input无法取值以下是解决方法
            // $(function() {
            //     $('.word-break').click(function() {
            //         var div = $(this).text();
            //         $('#keyword').val(div);
            //     })
            //     //取到值以后button存储无法取值，这里强迫浏览器强行刷新可解决
            //     $('#search').click(function() {
            //         window.location.reload();
            //     })
            // })
        </script>













        </div>

        <a href="{:url('Map/second')}" class="map-find-room">地图找房</a>

    </header>

    <!-- 筛选 S -->
    <input type="text" id="sousuo" value="{$quyus}" style="display:none;">
    <input type="text" id="quyuz" value="{$quyuz}" style="display:none;">
    <!-- <input type="text" id="price" value="0" style="display:none;"> -->
   
<div class="lr-select-box">

        <div class="select_head" id="select_head">

            <div class="item" id="area" data-id="0">


                <span class="tit">区域</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>

            <div class="item" id="price" data-id="0">

                <span class="tit">价格</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>

            <div class="item" id="acreage" data-id="0">

                <span class="tit">面积</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>
            <!-- <div class="item" id="sort" data-id="0">

                <span class="tit">排序</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div> -->

            <div class="item">

                <span class="tit">更多</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>

        </div>

        <div class="select_body" id="select_body">

            <div class="item common">

                <div class="item_box">

                    <ul class="one-level" data-uri="{:url('Api/getCityChild')}">

                        <li data-id="0" class="active"><a href="javascript:;">不限</a></li>

                        {volist name='area' id='vo'}

                        <li data-id="{$vo.id}"><a href="javascript:;">{$vo.name}</a></li>

                        {/volist}

                    </ul>

                    <ul class="two-level">

                    </ul>

                </div>

            </div>

            <div class="item common">

                <div class="item_box attr">

                    <ul>

                        <li data-id="0" class="active"><a href="javascript:;">不限</a></li>

                        {volist name=':getSecondPrice()' id='vo'}

                        <li data-id="{$key}"><a href="javascript:;">{$vo.name}</a></li>

                        {/volist}

                    </ul>

                </div>



            </div>

            <div class="item common">

                <div class="item_box attr">

                    <ul>

                        <li data-id="0" class="active"><a href="javascript:;">不限</a></li>

                        {volist name=':getAcreage()' id='vo'}

                        <li data-id="{$key}"><a href="javascript:;">{$vo.name}</a></li>

                        {/volist}

                    </ul>

                </div>

            </div>

            <div class="item more"  id="more">

                <form action="">

                    <article class="select_area">


                        

                        <div class="tit">排序</div>

                        <section class="section" id="sort">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">总价从低到高</li>

                                <li data-id="2">总价从高到低</li>

                                <li data-id="3">均价从低到高</li>

                                <li data-id="4">均价从高到低</li>

                                <li data-id="5">面积低到高</li>

                                <li data-id="6">面积从高到低</li>

                            </ul>

                        </section>
                        <div class="tit">面积</div>

                        <section class="section" id="acreage">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">50-100㎡</li>

                                <li data-id="2">100-200㎡</li>

                                <li data-id="3">200-500㎡</li>

                                <li data-id="4">500-1000㎡</li>

                                <li data-id="5">1000以上㎡</li>

                            </ul>

                        </section>
                        <div class="tit">朝向</div>

                        <section class="section" id="orientations">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">东向</li>

                                <li data-id="2">东西</li>

                                <li data-id="3">东南</li>

                                <li data-id="4">东北</li>

                                <li data-id="5">西向</li>
                                <li data-id="6">南向</li>
                                <li data-id="7">南北</li>
                                <li data-id="8">南向</li>

                            </ul>

                        </section>

                        <section class="section" id="room">

                            <div class="tit">居室</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name=':getRoom()' id='vo'}

                                <li data-id="{$key}">{$vo}</li>

                                {/volist}

                            </ul>

                        </section>

                        <!-- <section class="section" id="tags">

                            <div class="tit">标签</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name='tags' id='vo'}

                                <li data-id="{$vo.id}">{$vo.name}</li>

                                {/volist}

                            </ul>

                        </section> -->
                        <div class="tit">拍卖阶段</div>
                        <section class="section" id="orientations">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">一拍</li>

                                <li data-id="2">二拍</li>

                                <li data-id="3">变卖</li>

                            </ul>

                        </section>
                        <section class="section" id="type">

                            <div class="tit">类型</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name='type' id='vo'}

                                <li data-id="{$vo.id}">{$vo.name}</li>

                                {/volist}

                            </ul>

                        </section>

                        <!-- <section class="section" id="renovation">

                            <div class="tit">装修</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name='renovation' id='vo'}

                                <li data-id="{$vo.id}">{$vo.name}</li>

                                {/volist}

                            </ul>

                        </section> -->

                    </article>

                    <article class="submit_area">

                        <input type="reset" id="more_reset" class="reset" value="清空条件">

                        <input type="button" id="search-btn" class="submit" value="确定">

                    </article>

                </form>

            </div>

        </div>

    </div>

    <!-- 筛选 E -->

    <ul id="search-lists" data-uri="{:url('Ajax/searchSecond')}"></ul>

   


</div>

<div id="select_bg"></div>

<!-- header-top E-->

{/block}

{block name='content'}


<div class="main" style="background: #fff;padding-top:4.5rem;">

    <!-- 二手房项目细节1 S-->

    <div class="old-house house-show-box" style=" overflow: auto;">

         <ul class="xinhao" id="lists" data-uri="{:url('Jrcj/getSecondLists')}" data-total="4">

                {volist name='lists' id='vo' empty='暂无数据'}

                <li>
                <!-- <h4 style="margin-top:-10px;margin-bottom:10px;">
                    <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}" style="font-size:18px;">{$vo.title}</a>
                </h4> -->

                <div class="pic" style="width:6rem;height:4rem;">

                    <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                        <img src="{:thumb($vo['img'],200,150)}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.estate_name}" />
                        {if $vo.fcstatus eq 169}
                        <div class="zzjx fix abs" style="float:right;top:0; right:0; z-inde:555; position: absolute;"><img src="/static/images/status/status2.png" original="/static/images/status/status2.png" style="width:60px;height:auto; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 170}
                        <div class="zzjx fix abs" style="float:right;top:0; right:0; z-inde:555; position: absolute;"><img src="/static/images/status/status1.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 171}
                        <div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status3.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 172}
                        <div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status4.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 173}
                        <div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status5.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 174}
                        <div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status6.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 175}
                        <div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status7.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>
                        {/if}
                      
                    </a>

                </div>

                <div class="intro-text" style="width:56%;">
                <div class="detail-text" style="color:#000;line-height:.8rem;overflow:hidden;height:20px;width:100%;"><a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}" style="color:#000;font-weight:bold;font-size:0.58rem;">{$vo.title}</a></div>
                    <p class="detail-text" style="color:#000;">面积：{$vo.acreage}{:config('filter.acreage_unit')}</p>
                    <!-- <p class="detail-text" style="color:#000;">市场价：{$vo.price|raw}</p> -->
                    <p class="detail-text" style="color:#000;">起拍价：{$vo.price|raw}(元/㎡)</p>
                    <p class="detail-text" style="color:#000;">捡漏指标：
                    
                    
                    {if $vo.marketprice eq 1}
                            

                               <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                {/if}
                                
                                
                                {if $vo.marketprice eq 2}
                            

                               <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                               <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                {/if}
                                
                                {if $vo.marketprice eq 3}
                            

                               <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                               <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                               <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                {/if}
                                
                                {if $vo.marketprice eq 4}
                            

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                {/if}
                                
                                {if $vo.marketprice eq 5}
                            

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                {/if}
                    
                    
                    
                    
                    
                    
                    
                    
                    </p>
                  
                    <p class="detail-text" style="color:#000;">开拍时间：{$vo['kptime']|date="Y-m-d H:i:s"}</p>
                    <p class="good">
                        {php}$tag = array_filter(explode(',',$vo['tags']));{/php}
                        {notempty name='tag'}
                        {volist name='tag' id='val'}
                        {if condition="is_numeric($val)"}
                        <em>{:getLinkMenuName(14,$val)}</em>
                        {else /}
                        <em>{$val}</em>
                        {/if}
                        {/volist}
                        {/notempty}
                        {php}$estate_id=$vo['estate_id'];{/php}
                    {fang:lists table='estate' where='id=$estate_id' field='years'  id='answer'}
                        <em>{$answer.years}年</em>
                    {/fang:lists}

                    </p>

                </div>

            </li> 

              

                {/volist}



            </ul>
            <div class="load-bar" id="loadmore" style="text-align:center; margin-top:8px;">
                        <a href="javascript:;" class="user-pl-more-btn loadmore"  data-type="1">加载更多</a>
                    </div>
                
                <div class="load-bar" id="tip">
                </div>
        <!-- xq 记录页码-->
        <input type="hidden" pi-status="1" class="h_pageindex" value="1" />

        <div class="load-more" style="height:100px;">

            {notempty name='pages'}

            <a href="javascript:;" id="load-more">加载更多</a>

            {else /}

            <p>数据加载完成</p>

            {/notempty}

        </div>

    </div>

    <!--二手房项目细节 E-->



    {include file='public/footer' /}

</div>
<script type="text/javascript">
    var totalHeight = $(document).height();//整个文档高度
    var totalHeight1=100;
    var seeHeight = $(window).height();//浏览器可视窗口高度
    
    //console.log(totalHeight);
    
    
    var thisBodyHeight = $(document.body).height();//浏览器当前窗口文档body的高度
    var totalBodyHeight = $(document.body).outerHeight(true);//浏览器当前窗口文档body的总高度 包括border padding margin
    var thisWidth = $(window).width(); //浏览器当前窗口可视区域宽度
    var thisDocumentWidth = $(document).width();//浏览器当前窗口文档对象宽度
    var thisBodyWidth = $(document.body).width();//浏览器当前窗口文档body的宽度
    var totalBodyWidth = $(document.body).outerWidth(true);//浏览器当前窗口文档body的总宽度 包括border padding margin
    var scrollTop = $(window).scrollTop();//浏览器可视窗口顶端距离网页顶端的高度（垂直偏移）
    //console.log(totalHeight,seeHeight,thisBodyHeight,totalBodyHeight,thisWidth,thisDocumentWidth,thisBodyWidth,totalBodyWidth,scrollTop);
    //添加滚动事件
    $(window).scroll(function(){
        scrollTop = $(window).scrollTop();
        totalHeight = $(document).height();
        console.log(scrollTop,seeHeight,totalHeight)
        if(scrollTop+seeHeight+10<totalHeight1){
        if(scrollTop+seeHeight+10>totalHeight){
            //var htmlText = '<div class="load_div2">10</div><div class="load_div2">11</div><div class="load_div2">12</div>';
            
            var nStart = 20;
        
            var _this = $(".xinhao");
            if(nStart >=100) {
                //alert('后面没有数据了！');
                $("#loadmore").text('没有数据了亲...').css({"border-top":"1px solid #d4d5d6","height":"30px","line-height":"30px"});
                return false;
            } else {
            
                //console.log(_this);
                 $("#loadmore").text('数据加载中...').css({"border-top":"1px solid #d4d5d6","height":"30px","line-height":"30px"});
            
                $.post("{:url('Broker/seconddata')}", {start:nStart}, function(res) {
                    //console.log(123);
                    //console.log(res);
                    $.each(res['second_lists'], function(i, item) {
                    
                    
                        //console.log(item);
                        if(item.marketprice==1){
                        
                            var jianlou='<img src="/static/images/img-14.png" style="width:15px; height:15px;">';
                        
                        }
                        if(item.marketprice==2){
                        
                            var jianlou='<img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;">';
                        
                        }
                        if(item.marketprice==3){
                        
                            var jianlou='<img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;">';
                        
                        }
                        if(item.marketprice==4){
                        
                            var jianlou='<img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;">';
                        
                        }
                        if(item.marketprice==5){
                        
                            var jianlou='<img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;">';
                        
                        }
                        
                        if(item.fcstatus==169){
                        
                            var fcstatus='<div class="zzjx fix abs" style="float:right;top:0; right:0; z-inde:555; position: absolute;"><img src="/static/images/status/status2.png" original="/static/images/status/status2.png" style="width:60px;height:auto; float:right;"></div>';
                        
                        }
                        if(item.fcstatus==170){
                        
                            var fcstatus=' <div class="zzjx fix abs" style="float:right;top:0; right:0; z-inde:555; position: absolute;"><img src="/static/images/status/status1.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>';
                        
                        }
                        if(item.fcstatus==171){
                        
                            var fcstatus='<div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status3.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>';
                        
                        }
                        if(item.fcstatus==172){
                        
                            var fcstatus=' <div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status4.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>';
                        
                        }
                        if(item.fcstatus==173){
                        
                            var fcstatus='<div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status5.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>';
                        
                        }
                        if(item.fcstatus==174){
                        
                            var fcstatus='<div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status6.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>';
                        
                        }
                        
                        if(item.fcstatus==175){
                        
                            var fcstatus=' <div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status7.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>';
                        
                        }
                        
                        var imgurl='/beijing/erf-'+item.id+'.html';
                        
                        
                        
                        //console.log(item.id);
                        
                        
                        
                        
                       var tag1=res['tags'];
                       var tagess=item.tags;
                       var tag=tagess.split(',');
                       
                       //console.log(tagess);
                      // console.log(tag.length);
                        
                       if(tag.length==1){
                       
                            var tag2=tag[0];
                            var tagname=tag1[tag2]['name'];
                            //console.log(tagname);
                            
                            var htmlText= _this.append('<ul><li><div class="pic" style="width:6rem;height:4rem;"><a href="'+imgurl+'" title="'+item.title+'"><img src="'+item.img+'" onerror="" alt="'+item.estate_name+'" />'+fcstatus+'</a></div><div class="intro-text" style="width:56%;"><div class="detail-text" style="color:#000;line-height:.8rem;overflow:hidden;height:20px;width:100%;"><a href="'+imgurl+'" title="" style="color:#000;font-weight:bold;font-size:0.58rem;">'+item.title+'</a></div> <p class="detail-text" style="color:#000;">面积：'+item.acreage+'㎡</p><p class="detail-text" style="color:#000;">起拍价：'+item.price+'(元/㎡)</p> <p class="detail-text" style="color:#000;">捡漏指标：'+jianlou+'</p> <p class="detail-text" style="color:#000;">开拍时间：'+item.kptime+'</p> <p class="good"><em>'+tagname+'</em><em>'+item.years+'年</em></p></div></li></ul>');
                       
                       }
                       if(tag.length==2){
                       
                            var tag2=tag[0];
                            var tagname=tag1[tag2]['name'];
                            //console.log(tagname);
                       
                            var tag3=tag[1];
                            var tagnames=tag1[tag3]['name'];
                       
                            //console.log(tagnames);
                            
                            var htmlText= _this.append('<ul><li><div class="pic" style="width:6rem;height:4rem;"><a href="'+imgurl+'" title="'+item.title+'"><img src="'+item.img+'" onerror="" alt="'+item.estate_name+'" />'+fcstatus+'</a></div><div class="intro-text" style="width:56%;"><div class="detail-text" style="color:#000;line-height:.8rem;overflow:hidden;height:20px;width:100%;"><a href="'+imgurl+'" title="" style="color:#000;font-weight:bold;font-size:0.58rem;">'+item.title+'</a></div> <p class="detail-text" style="color:#000;">面积：'+item.acreage+'㎡</p><p class="detail-text" style="color:#000;">起拍价：'+item.price+'(元/㎡)</p> <p class="detail-text" style="color:#000;">捡漏指标：'+jianlou+'</p> <p class="detail-text" style="color:#000;">开拍时间：'+item.kptime+'</p> <p class="good"><em>'+tagname+'</em><em>'+tagnames+'</em><em>'+item.years+'年</em></p></div></li></ul>');
                       
                       }
                       
                      
    
                        
                   
                    });
                });
                nStart += 20;
            }
        
        
        
            
            
            
            $('body').append(htmlText);
        }}
    })
</script>
<!-- 筛选 -->


<script src="__STATIC__/js/layer/laytpl.js"></script>

<script src="__JS__/search.js"></script>
<script src="__JS__/jquery.cookie.js"></script>
<script src="__JS__/getData.js"></script>

 <!-- xq 列表记忆 -->
 <!-- 引用cookie的js -->


<script type="text/javascript">
    //声明当前列表页面距离顶部的高度
    var temscrolltop = 0;
    var str = "ProjectListscrollTop";//定义距离顶部的高度存储Cookie的名字
    //获取保存好的Ajax加载的数据，如果不存在，赋值为空
    var ProjectListAjaxData = sessionStorage.getItem("ProjectListAjaxData");
    if (ProjectListAjaxData == null) {
        ProjectListAjaxData = "";
    }

    $(function(){

            // console.log('start');
            
         

            //点击跳转页面记录滚动距离cookie
            $("ul#lists").on("click","li",function(){      //只需要找到你点击的是哪个ul里面的就行
                     //$.cookie('cs','uuuuuuuuuuuuuuuuu');
                     $.cookie(str, temscrolltop, { path: '/' });
        
            });

            //页面滚动获取滚动条距离顶部的距离
            $(window).scroll(function(){
                 temscrolltop = $(window).scrollTop();
                 //console.log(temscrolltop);
            })
                
 
 
           

         //判断返回的页面是不是详细页面
        if ($.cookie("ProjectListPosition")) {
            
            //使用完马上删除
            delCookie("ProjectListPosition");
            //页面回跳插入ajax加载 data 
            if (ProjectListAjaxData != null && ProjectListAjaxData != "") {
               
                // console.log(sessionStorage.getItem("ProjectListAjaxData"));
                $("#lists").append(ProjectListAjaxData);
            }
            else {
                
                ProjectListAjaxData = "";
            }


            //页面回跳页码重新赋值为最后翻页的页码
            if ($.cookie("ProjectListPageIndex")) {
                $(".h_pageindex").attr("pi-status", $.cookie("ProjectListPageIndex"));
            }


            //页面回跳跳转的位置
            if ($.cookie(str)) {
                // console.log('ok');
               
                 //获取某个元素距离浏览器顶端的距离
                // console.log($.cookie(str));
                //滚动条滚动的位置到顶部的位置

                $('html,body').animate({scrollTop:$.cookie(str)},0);  

                // $('.old-house').animate({scrollTop:$.cookie(str)},0);
                // $(".main").animate({ scrollTop: $.cookie(str) }, 0);
            }
            else {
            }
        }
        else {
            
            delCookie("ProjectListPosition");
            delCookie("ProjectListPageIndex");
            delCookie("ProjectListscrollTop");
            //清除缓存页面数据session
            ProjectListAjaxData = "";
            sessionStorage.removeItem("ProjectListAjaxData");
        }

        // $('#load-more').on('click',function(){

        //     Lists.requestParam = getParam();console.log(getParam());

        //     Lists.getData();

        // });
//获取滚动条当前的位置 
  function getScrollTop() { 
    console.log('dsdsdsdsd');
    var scrollTop = 0; 
    if (document.documentElement && document.documentElement.scrollTop) { 
    scrollTop = document.documentElement.scrollTop; 
    } 
    else if (document.body) { 
    scrollTop = document.body.scrollTop; 
    } 
    return scrollTop; 
    } 

    //获取当前可视范围的高度 
    function getClientHeight() { 
    var clientHeight = 0; 
    if (document.body.clientHeight && document.documentElement.clientHeight) { 
    clientHeight = Math.min(document.body.clientHeight, document.documentElement.clientHeight); 
    } 
    else { 
    clientHeight = Math.max(document.body.clientHeight, document.documentElement.clientHeight); 
    } 
    return clientHeight; 
    } 

    //获取文档完整的高度 
    function getScrollHeight() { 
    return Math.max(document.body.scrollHeight, document.documentElement.scrollHeight); 
    } 
        window.onscroll = function () { 
        if (getScrollTop() + getClientHeight() == getScrollHeight()) { 


            Lists.requestParam = getParam();
            console.log(getParam());

            Lists.getData();
        }
    }  

    });

    function getParam()

    {
        alert(12333);
        var input=document.getElementById("sousuo").value;
        var inputs=document.getElementById("quyuz").value ;
        // var inputss=document.getElementById("price").value ;
        // alert(input);
        if(input!=0){
            var area = inputs,
            price = $('#price').attr('data-id'),

                type = $('#type li.active').attr('data-id'),sort = $('#sort li.active').attr('data-id'),

                room = $('#room li.active').attr('data-id'),acreage = $('#acreage').attr('data-id'),

                renovation = $('#renovation li.active').attr('data-id'),tags = $("#tags li.active").attr('data-id');
                
        }else{
            var area = $('#area').attr('data-id'),
            price = $('#price').attr('data-id'),

                type = $('#type li.active').attr('data-id'),sort = $('#sort li.active').attr('data-id'),

                room = $('#room li.active').attr('data-id'),acreage = $('#acreage').attr('data-id'),

                renovation = $('#renovation li.active').attr('data-id'),tags = $("#tags li.active").attr('data-id');
        }
       

        return {

            area : area,

            price : price,

            type  : type,

            sort  : sort,

            room : room,

            tags : tags,

            acreage  : acreage,

            renovation : renovation

        };

    }

</script>


<script type="text/javascript">
            
            
            //写cookies
            function setCookie(days, name, value) {
                    var exp = new Date();
                    exp.setTime(exp.getTime() + days * 24 * 60 * 60 * 1000);
                    document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString() + "; path=/";
            }
            //读取cookies
            function getCookie(name) {
                    var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
                 if (arr = document.cookie.match(reg)) return unescape(arr[2]);
                    else return null;
            }   
            //删除cookies
            function delCookie(name) {
                    var exp = new Date();
                    exp.setTime(exp.getTime() - 1);
                    var cval = getCookie(name);
                    if (cval != null) document.cookie = name + "=" + cval + ";expires=" + exp.toGMTString() + "; path=/";
            }
</script>

<!-- xq end -->

{/block}