{extend name='public/layout' /}

{block name='content'}
<!-- 列表 S-->
<div class="cm_house">
    <div class="comWidth">
        <!-- 页面标识 S-->
        <div class="page_tit">
            <a href="javascript:;" rel="nofollow">您的位置：</a>
            <a href="{:url('Index/index')}">首页</a> &gt;
            <a href="javascript:void(0);">法拍专员列表</a>
        </div>
        <!-- 页面标识 E-->
        <!-- 筛选栏 S -->
        <div class="seleBar">
            <div class="box">
                <div class="item clearfix">
                    <h3>区域:</h3>
                    <ul class="list">
                        <li><a href="{:getUrl('Broker/index','area',$param,0)}" {if condition="$search.area eq $cityId"}class="active"{/if}">全部</a></li>
                        {volist name='area' id='vo'}
                        <li><a href="{:getUrl('Broker/index','area',$param,$vo['id'])}" {if condition="$search.area eq $vo['id']"}class="active"{/if}>{$vo.name}</a></li>
                        {/volist}
                    </ul>
                </div>
                {notempty name='rading'}
                <div class="item clearfix">
                    <h3>商圈:</h3>
                    <ul class="list">
                        <li><a href="{:getUrl('Broker/index','area',$param,$search['area'])}" {if condition='$search.rading eq 0'}class="active"{/if}">全部</a></li>
                        {volist name='rading' id='vo'}
                        <li><a href="{:getUrl('Broker/index','area',$param,$vo['id'])}" {if condition="$search.rading eq $vo['id']"}class="active"{/if}>{$vo.name}</a></li>
                        {/volist}
                    </ul>
                </div>
                {/notempty}
                <div class="item clearfix">
                    <h3>标签:</h3>
                    <form action="{:url('Broker/index',['area'=>$search['area'],'sort'=>$search['sort']])}" id="form" method="get">
                        <ul class="list">
                            {volist name='tags' id='vo'}
                            <li>
                                <label>
                                    <input type="checkbox" name="deposit[]" class="chcb" value="{$vo.id}" {if condition="$search['tags'] and in_array($vo['id'],$search['tags'])"}checked="checked"{/if}>
                                {$vo.name}
                                </label>
                            </li>
                            {/volist}

                            <li>
                                <input type="button" id="search-btn" value="查找" class="btn">
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <!-- 筛选栏 E -->
        <div class="main clearfix">
            <!-- 房子列表 S -->
            <div class="houseList_wrap leftArea cm_leftArea">
                <div class="head clearfix">
                    <div class="tit fl">
                        <h2><a href="{:url('Broker/index')}" class="active">全部法拍专员</a></h2>
                    </div>
                    <div class="tab fr">
                        <ul>
                            <li><a href="{:getUrl('Broker/index','sort',$param,0)}" style='background:none;' {if condition='$search.sort eq 0'}class="active"{/if}>默认排序</a></li>
                            {if condition='$search.sort eq 1'}
                            <li><a href="{:getUrl('Broker/index','sort',$param,2)}" class="active down">好评</a></li>
                            {elseif condition='$search.sort eq 2'}
                            <li><a href="{:getUrl('Broker/index','sort',$param,1)}" class="active up">好评</a></li>
                            {else /}
                            <li><a href="{:getUrl('Broker/index','sort',$param,1)}">好评</a></li>
                            {/if}
                        </ul>
                    </div>
                </div>
                <div class="agent_list">
                    <ul class="clearfix">
                        {volist name='lists' id='vo' empty='暂无数据'}
                        <li style="    padding: 10px 10px;margin-bottom: 10px;background: #f0f0f0;width:98%">
                            <a href="{:url('Broker/second',['id'=>$vo['id']])}" title="{$vo.nick_name}">
								<span class="l_img fl">
                                    <img src="/uploads/avatar/{$vo['id']}/avatar.jpg" alt="{$vo.nick_name}" style="margin-top: 0px;display: block;width: 130px;height: 160px;border-radius: 0;">
									<!-- <img src="{:getAvatar($vo['id'],180)}" alt="{$vo.nick_name}"> -->
								</span>
								<span class="r_con fr">
									<span class="row clearfix">
                                      <p class="name fl" style="font-size:30px;font-weight:300;">{$vo.nick_name}<i style="font-size:15px;margin-left:10px">法拍专员</i></p>
                                      <p class="good_rate fr"><img src="/static/home/images/icon/imgg.png" style="    width: 20px;height: 20px;    vertical-align: middle;    margin:0px 5px 0px 10px;">好评率：<b style="color:#dc1211">{$vo['goods']}%</b></p>
                                      
										<ul class="star_list fr" style="display:none">
                                            {for start='1' end='6'}
                                            <li {if condition='$i elt $vo["point"]'}class="on"{else /}class='off'{/if}></li>
                                            {/for}
                                        </ul>
										<p class="good_rate fr"><img src="/static/home/images/icon/icon42.png" style="    width: 20px;height: 20px;    vertical-align: middle;    margin:0px 5px 0px 10px;">联系电话：<i style="color:#dc1211;    font-weight: bold;">{$vo.lxtel}</i></p>
									</span>
									<span class="row clearfix" style="width:100%; height:90px; overflow:auto;">
										<p style="font-size:14px;line-height:26px;color: #555;">
                                            <!--所属公司：{$vo.company}&nbsp;&nbsp;
                                            主营区域：
                                        {php}$area=array_filter(explode(',',$vo['service_area']));{/php}
                                            {volist name='area' id='val'}
                                            {:getCityName($val,'-')}
                                            {/volist}-->
											
										{$vo.description}	
											
											
                                        </p>
									</span>
									<span class="row clearfix" style="display:none;">
										<p>正在拍卖房源{$vo.second_total}套 </p>
									</span>
									<span class="label_list clearfix" style="margin-top:0px">
                                        {php}$tags=array_filter(explode(',',$vo['tags']));{/php}
                                        {volist name='tags' id='tag'}
										<i class="item">{:getLinkMenuName(13,$tag)}</i>
										{/volist}
									</span>
									<span class="phone" style="font-size:26px;display:none">
										{$vo.lxtel}
									</span>
								</span>
                            </a>
                        </li>
                        {/volist}

                    </ul>
                </div>
                {notempty name='pages'}
                <div class="page_list clearfix">
                    {$pages|raw}
                </div>
                {/notempty}
            </div>
            <!-- 房子列表 E -->
            <!-- 右边内容 S -->
            <div class="cm_rightArea rightArea">
                <!-- 最新房源 S -->
                <div class="rcmd_house new_house  mt_73">
                    <div class="title">
                        <h3>最新房源</h3>
                        <p class="b_l"></p>
                    </div>
                    <div class="con_box">
                        <ul class="clearfix">
                            {php}$where_str = "status=1";$city_all_child && $where_str.= " and city in (".$city_all_child.")";{/php}
                            {fang:lists table='second_house' where='$where_str' field='id,title,img,price,room,living_room,toilet,acreage,estate_name' order='create_time desc' limit='8' id='data'}
                            <li>
                                <a href="{:url('Second/detail',['id'=>$data['id']])}" title="{$data.title}">
                                    <div class="img">
                                        <img src="{$data.img}" onerror="this.src='/static/images/nopic.jpg'" alt="{$data.title}">
                                    </div>
                                    <div class="con">
                                        <div class="row clearfix">
                                            <p class="name fl">{$data.title}</p>
                                            <p class="price fr">{$data.price|raw}</p>
                                        </div>
                                        <div class="row clearfix">
                                         <p class="type fl">{:getLinkMenuName(29,$data['toilet'])}</p>
                                           <!--  <p class="type fl">{$data.room}室{$data.living_room}厅</p> -->
                                            <p class="area fr">{$data.acreage}{:config('filter.acreage_unit')}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {/fang:lists}
                        </ul>
                    </div>
                </div>
                <!-- 最新房源 E -->

            </div>
            <!-- 右边内容 E -->
        </div>
    </div>
</div>

<!-- 列表 S-->
<script type="text/javascript">
    $(function(){
       $("#search-btn").on('click',function(){
           var val = '',url = $("#form").attr('action');
           $("input[name='deposit[]']:checked").each(function(){
               val += $(this).val()+',';
           });
           url += '?tags='+val.substring(0,val.length -1);
           window.location.href = url;
       });
    });
</script>
{/block}