<div class="tit fl">
    <h2><a href="{:url('Broker/second',['id'=>$brokerInfo['id']])}" {if condition="$action eq 'second'"}class="active"{/if}>二手房</a></h2>
</div>
<div class="tit fl">
    <h2><a href="{:url('Broker/rental',['id'=>$brokerInfo['id']])}" {if condition="$action eq 'rental'"}class="active"{/if}>出租房</a></h2>
</div>
<div class="tit fl">
    <h2><a href="{:url('Broker/office',['id'=>$brokerInfo['id']])}" {if condition="$action eq 'office'"}class="active"{/if}>写字楼出售</a></h2>
</div>
<div class="tit fl">
    <h2><a href="{:url('Broker/officeRental',['id'=>$brokerInfo['id']])}" {if condition="$action eq 'officerental'"}class="active"{/if}>写字楼出租</a></h2>
</div>
<div class="tit fl">
    <h2><a href="{:url('Broker/shops',['id'=>$brokerInfo['id']])}" {if condition="$action eq 'shops'"}class="active"{/if}>商铺出售</a></h2>
</div>
<div class="tit fl">
    <h2><a href="{:url('Broker/shopsRental',['id'=>$brokerInfo['id']])}" {if condition="$action eq 'shopsrental'"}class="active"{/if}>商铺出租</a></h2>
</div>
<div class="tit fl">
    <h2><a href="{:url('Broker/comment',['id'=>$brokerInfo['id']])}" {if condition="$action eq 'comment'"}class="active"{/if}>客户评价</a></h2>
</div>