{extend name="public/layout" /}
{block name='content'}
<style>
    .subnav{display:none;}
    h6{font-size:14px;height:30px;line-height: 30px;padding:0 10px;border-bottom:1px solid #dce3ed;}
    #file{padding:10px;}
    #file li{line-height: 22px;}
</style>
<div class="pad_10 col_tab">
    <div class="content_list" id="update_tips" style="height:360px; overflow:auto;">
       <h6>提示信息</h6>
        <ul id="file">
        </ul>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    var url   = "{:url('cacheAll',['sub'=>1])}";
    cache(0);
    function cache(p){
        $.get(url,{page:p},function(result){
           // var result = eval('('+res+')');
            $("#file").append('<li>'+result.msg+'</li>');
            if(result.code == 1){
                cache(result.data);
            }
        });
    }

</script>
{/block}
