<!-- 类别 S-->
    <div class="cate-box clearfix">
        <div class="box menu">
            <div class="swiper-wrapper">
                <ul class="swiper-slide">
                    <li class="house"><a href="{:url('House/index')}" title="新房">新房</a></li> 
                    <li class="shops"><a href="{:url('ShopsRental/index')}" title="商铺">商铺</a></li>
                    <li class="office"><a href="{:url('OfficeRental/index')}" title="写字楼">写字楼</a></li>
                    <li class="estate"><a href="{:url('Estate/index')}" title="找小区">找小区</a></li>
                    <li class="group"><a href="{:url('Group/index')}" title="团购楼盘">团购</a></li>
                    <li class="broker"><a href="{:url('Broker/index')}" title="经纪人">经纪人</a></li>
                    <li class="news"><a href="{:url('News/index')}" title="资讯">资讯</a></li>
                    <li class="map"><a href="{:url('Map/index')}" title="地图找房">地图找房</a></li>
                </ul>
            </div>
            <div class="swiper-menu-pagination"></div>
        </div>
    </div>
    <!-- 类别 E-->