<!-- 类别 S-->
    <div class="cate-box clearfix">
        <div class="box menu">
            <div class="swiper-wrapper">
                <ul class="swiper-slide">
                  <li class="house" style="width: 18%;"><a href="{:url('House/index')}" title="法拍房">法拍房</a></li> 
                    <li class="shops" style="width: 18%;"><a href="{:url('ShopsRental/index')}" title="国有资产">国有资产</a></li>
                    <li class="office" style="width: 18%;"><a href="{:url('OfficeRental/index')}" title="涉诉房产">涉诉房产</a></li>
                    <li class="estate" style="width: 18%;"><a href="{:url('Estate/index')}" title="社会委托">社会委托</a></li>
                    <li class="group" style="width: 18%;"><a href="{:url('Group/index')}" title="更多">更多</a></li>
                  <!--  <li class="house"><a href="{:url('House/index')}" title="新房">新房</a></li> 
                    <li class="shops"><a href="{:url('ShopsRental/index')}" title="商铺">商铺</a></li>
                    <li class="office"><a href="{:url('OfficeRental/index')}" title="写字楼">写字楼</a></li>
                    <li class="estate"><a href="{:url('Estate/index')}" title="找小区">找小区</a></li>
                    <li class="group"><a href="{:url('Group/index')}" title="团购楼盘">团购</a></li>
                    <li class="broker"><a href="{:url('Broker/index')}" title="经纪人">经纪人</a></li>
                    <li class="news"><a href="{:url('News/index')}" title="资讯">资讯</a></li>
                    <li class="map"><a href="{:url('Map/index')}" title="地图找房">地图找房</a></li>-->
                </ul>
            </div>
            <div class="swiper-menu-pagination"></div>
        </div>
    </div>
    <!-- 类别 E-->
    <div class="cate-box clearfix">
        <div class="box menu">
            <div class="swiper-wrapper">
             <div style="float:left;line-height:40px;"> <img src="../static/mobile/images/icon/6.png" style="width:40px;height:40px;"></div>
              <div style="float:left;line-height:40px;font-size:16px;margin-left:10px;">通州区 北京ONE 1号楼718室</div>
                
            </div>
            <div class="swiper-menu-pagination"></div>
        </div>
        <div class="box menu">
            <div class="swiper-wrapper">
             <div style="float:left;line-height:40px;font-size:14px;">北京法拍房行情</div>
              <div style="float:right;line-height:40px;font-size:14px;">更多信息</div>
                
            </div>
            <div class="swiper-menu-pagination"></div>
        </div>
       <div class="box menu">
            <div class="swiper-wrapper">
             <div style="float:left;line-height:40px;font-size:14px;margin-left:10px;">即将拍卖</div>
              <div style="float:right;line-height:40px;font-size:14px;margin-right:10px;">正在进行</div>
                
            </div>
            <div class="swiper-menu-pagination"></div>
        </div>
       <div class="box menu">
            <div class="swiper-wrapper">
             <div style="float:left;line-height:40px;font-size:14px;margin-left:15px;">121套</div>
              <div style="float:right;line-height:40px;font-size:14px;margin-right:15px;">104套</div>
                
            </div>
            <div class="swiper-menu-pagination"></div>
        </div>
    </div>