<div class="old-house house-show-box mt20">
        <div class="title">
            <h3>投资商铺</h3>
            <a href="{:url('ShopsRental/index')}" title="投资商铺">更多</a>
        </div>
        <ul>
            {fang:lists table='shops_rental' field="id,title,city,img,acreage,type,renovation,price,tags,update_time" where="status = 1 and city in ($cityIds) and timeout > $time" order="ordid asc,id desc" limit="5" id="vo"}
            <li>
                <div class="pic">
                    <a href="{:url('ShopsRental/detail',['id'=>$vo['id']])}" title="{$vo.title}">
                        <img src="{:thumb($vo['img'],200,150)}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.title}" />
                    </a>
                </div>
                <div class="intro-text">
                    <h4>
                        <a href="{:url('ShopsRental/detail',['id'=>$vo['id']])}" title="{$vo.title}">
                            {$vo.title}
                        </a>
                    </h4>
                    <p class="price"><span>{:getCityName($vo['city'],'-')}</span><span class="price-num"><em>{$vo.price|raw}</em></span></p>
                    <p><span>{:getLinkMenuName(18,$vo['type'])}</span>&nbsp;<span>{:getLinkMenuName(8,$vo['renovation'])}</span>&nbsp;<span>{$vo.acreage}{:config('filter.acreage_unit')}</span><span>&nbsp;&nbsp;{:getTime($vo['update_time'],'mohu')}更新</span></p>
                    <p class="good">
                        {php}$tag = array_filter(explode(',',$vo['tags']));{/php}
                        {notempty name='tag'}
                        {volist name='tag' id='val'}
                        <em>{:getLinkMenuName(20,$val)}</em>
                        {/volist}
                        {/notempty}
                    </p>
                </div>
            </li>
            {/fang:lists}
        </ul>
    </div>