{extend name="public/layout" /}
{block name='content'}
<form class="layui-form" id="info_form" data-uri="{:url('Linkmenu/ajaxGetAttr')}" data-cacheuri="{:url('Linkmenu/ajaxGetMenuCache')}" action="{:url('Shops/save')}" method="post" enctype="multipart/form-data">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">房源信息</li>
            <li>seo信息</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">楼盘名称 </label>
                        <div class="layui-input-inline">
                            <input type="hidden" name="estate_id" id="estate_id" value="0">
                            <input type="text" name="estate_name" lay-verify="estate_id" id="estate_name" data-title="选择楼盘" data-uri="{:url('Estate/ajaxGetEstate',['type'=>48])}" class="layui-input select-house" placeholder="选择楼盘">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label"><span class="layui-form-alert">*</span>所属区域</label>
                        <input type="hidden" name="city" id="J_city_id" value="" />
                        <div class="layui-input-block">
                            <select name="" lay-filter="province" id="province" data-uri="{:url('City/ajaxGetchilds')}">
                                <option value="0">--请选择--</option>
                                {volist name=':getProvinceLists()' id='vo'}
                                <option value="{$vo.id}">{$vo.name}</option>
                                {/volist}
                            </select>
                            <select class="J_city_select mr10" lay-filter="J_city_select" data-pid="0" data-uri="" data-selected="">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"><span class="layui-form-alert">*</span>房源名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="title" lay-verify="title" placeholder="房源名称" value="" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">楼层<a href="javascript:;" data-field="floor" data-type="select" data-alert="楼层" data-id="7" data-title="点击我可以管理楼层类型" class="layui-icon layui-icon-set attr-manage"></a> </label>
                        <div class="layui-input-inline" style="width:100px;">
                            {:getLinkMenu(7,'floor','select',38)}
                        </div>
                        <div class="layui-form-mid layui-word-aux layui-fl" style="margin-left:20px;"> 共</div>
                        <div class="layui-input-inline" style="width:100px;">
                            <input type="text" class="layui-input" name="total_floor" placeholder="20">
                        </div>
                        <div class="layui-form-mid layui-word-aux layui-fl" style="margin-left:10px;"> 层</div>
                    </div>

                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"><span class="layui-form-alert">*</span>面积 </label>
                        <div class="layui-input-inline" style="width:80px;">
                            <input type="text" class="layui-input" lay-verify="acreage" id="acreage" name="acreage" placeholder="122"  autocomplete="off" value="" >
                        </div>
                        <div class="layui-form-mid layui-word-aux layui-fl" style="margin-left:10px;">㎡ 总价<a href="javascript:;" data-title="不填写价格或填写0前台显示为待定" class="layui-icon layui-icon-tips alert"></a></div>
                        <div class="layui-input-inline" style="width:85px;">
                            <input type="text" class="layui-input" lay-verify="price" id="price" name="price" placeholder="122"  autocomplete="off" value="" >
                        </div>
                        <div class="layui-form-mid layui-word-aux layui-fl" style="margin-left:10px;">万</div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">物业费</label>
                        <div class="layui-input-inline">
                            <input type="text" name="property_fee" placeholder="例：1.99元/㎡·月" class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux layui-fl" style="margin-left:10px;"></div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">房源地址 </label>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" name="address" id="address" placeholder="例：海秀中路104号">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">地图坐标 </label>
                        <div class="layui-input-inline" style="width:200px;">
                            <input type="text" class="layui-input" name="map" id="map" placeholder="115.345,22.1349"  autocomplete="off" value="" >
                        </div>
                        <div class="layui-input-inline" style="width:95px;">
                            <button type="button" id="mark" data-autouri="{:addon_url('map://Map/getLocationByAddress')}" data-uri="{:addon_url('map://Map/updateLocation')}" class="layui-btn">标注位置</button>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">联系人 </label>
                        <div class="layui-input-inline">
                            <input type="text" name="contact_name" id="contact_name" placeholder="联系人" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">联系电话 </label>
                        <div class="layui-input-inline">
                            <input type="text" name="contact_phone" lay-verify="phone" id="contact_phone" placeholder="联系电话" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">装修情况<a href="javascript:;" data-field="renovation" data-type="radio" data-alert="装修情况" data-id="8" data-title="点击我可以管理装修分类" class="layui-icon layui-icon-set attr-manage"></a> </label>
                        <div class="layui-input-block">
                            {:getLinkMenu(8,'renovation','radio')}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-block">
                        <label class="layui-form-label">经营行业<a href="javascript:;" data-field="industry" data-type="checkbox" data-alert="商铺经营行业" data-id="17" data-title="点击我可以管理商铺经营行业" class="layui-icon layui-icon-set attr-manage"></a></label>
                        <div class="layui-input-block">
                            {:getLinkMenu(19,'industry','checkbox')}
                        </div>
                    </div>

                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">分割 </label>
                        <div class="layui-input-inline">
                            <input type="radio" name="division" value="不可分割" title="不可分割">
                            <input type="radio" name="division" value="可分割" title="可分割">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-block">
                        <label class="layui-form-label">类型<a href="javascript:;" data-field="type" data-type="radio" data-alert="商铺类型" data-id="18" data-title="点击我可以管理商铺类型" class="layui-icon layui-icon-set attr-manage"></a> </label>
                        <div class="layui-input-block">
                            {:getLinkMenu(18,'type','radio')}
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-block">
                        <label class="layui-form-label">特色标签<a href="javascript:;" data-field="tags" data-type="checkbox" data-alert="特色标签" data-id="20" data-title="点击我可以管理写字楼特色标签" class="layui-icon layui-icon-set attr-manage"></a> </label>
                        <div class="layui-input-block">
                            {:getLinkMenu(20,'tags','checkbox')}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-block">
                        <label class="layui-form-label">商铺配套<a href="javascript:;" data-field="mating" data-type="checkbox" data-alert="商铺配套" data-id="21" data-title="点击我可以管理商铺配套" class="layui-icon layui-icon-set attr-manage"></a> </label>
                        <div class="layui-input-block">
                            {:getLinkMenu(21,'mating','checkbox')}
                        </div>
                    </div>
                </div>
                {notempty name='position_lists'}
                <div class="layui-form-item">
                    <div class="layui-block">
                        <label class="layui-form-label">推荐位 </label>
                        <div class="layui-input-block">
                            {volist name='position_lists' id='vo'}
                            <input type="checkbox" name="position[]" lay-skin="primary" value="{$vo.id}" title="{$vo.title}">
                            {/volist}
                        </div>
                    </div>
                </div>
                {/notempty}
                <div class="layui-form-item">
                    <div class="layui-block">
                        <label class="layui-form-label">有效期 </label>
                        <div class="layui-input-block">
                            <select name="timeout" id="timeout">
                                {volist name=':getHouseTimeOut()' id='vo'}
                                <option value="{$key}" {if condition="$key eq 7"}selected="selected"{/if}>{$vo}</option>
                                {/volist}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">缩略图</label>
                    <div class="layui-input-block">
                        <div class="layui-upload">
                            <input type="hidden" name="img" id="img_txt">
                            <button type="button" class="layui-btn" id="img">上传图片</button>
                            <div id="img_preview">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">房源图片</label>
                    <div class="layui-input-block">
                        <div class="layui-upload">
                            <script id="uploadpic" name="uploadpic" type="text/plain"></script>
                            <button type="button" class="layui-btn" onclick="upImage();">选择图片</button>
                            <div id="imageList">
                                <ul class="list clearfix">
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">全景看房<a href="javascript:;" data-title="在720yun.com或其它全景平台创建全景相册，复制链接地址到输入框。" class="layui-icon layui-icon-tips alert"></a></label>
                    <div class="layui-input-inline" style="width:600px;">
                        <input name="pano_url" id="pano_url" placeholder="在720yun.com创建全景相册,复制链接地址到输入框" class="layui-input" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">房源介绍</label>
                    <div class="layui-input-block">
                        <script id="info" name="info" type="text/plain"></script>
                    </div>
                </div>
            </div>
            <div class="layui-tab-item">
                <div class="layui-form-item">
                    <div class="layui-block">
                        <label class="layui-form-label">seo标题 </label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" name="seo[seo_title]" placeholder="seo标题"  autocomplete="off" value="" >
                        </div>
                    </div>

                </div>
                <div class="layui-form-item">
                    <div class="layui-block">
                        <label class="layui-form-label">seo关键词 </label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" name="seo[seo_keys]" placeholder="seo关键词"  autocomplete="off" value="" >
                        </div>
                    </div>

                </div>
                <div class="layui-form-item">
                    <div class="layui-block">
                        <label class="layui-form-label">seo描述 </label>
                        <div class="layui-input-block">
                            <textarea name="seo[seo_desc]" class="layui-textarea" id="seo_desc"></textarea>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">&nbsp;</label>
        <button type="submit" lay-submit="" class="layui-btn btn-submit w200">提交</button>
    </div>
</form>
<input type="hidden" id="uploadUrl" value="{:url('Shops/ajaxUploadImg')}">
<input type="hidden" id="deleteUrl" value="{:url('Shops/deleteImg')}">
{:hook('ueditor',['id'=>'info','upload'=>true])}
<script src="__JS__/option.js"></script>
<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use(['form','element'], function(){
        var $ = layui.jquery,element = layui.element,form = layui.form;
        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length == 0){
                    return '请填写房源名称';
                }
            },
            estate_name : function (value) {
                if(value.length == 0){
                    return '请选择楼盘';
                }
            },
            acreage : function(value){
                if(!/\d+\.?[0-9]{0,2}$/.test(value)){
                    return '请填写房源面积';
                }
            },
            price : function (value) {
                if(value && !/\d+\.?[0-9]{0,2}$/.test(value)){
                    return '请填写总价';
                }
            }
        });
    });
</script>
{/block}