{extend name='public/layout' /}

{block name='header'}

<!-- header-top S-->

<div class="header-top">

    <header id="header" class="h-list-head">

        <a href="javascript:;" class="go-back"></a>

       

        <div style="text-align:center;width:95%;color:#fff;font-size:18px;">代解查封</div>

        


    </header>

</div>

<div id="select_bg"></div>

<!-- header-top E-->

{/block}

{block name='content'}

<div class="main" style="background: #fff;">

    <!-- 小区项目细节 S-->

    <div class="house-show-box" style="margin-top:2.56rem;">

    

        <div class="pec-relLink addhouse mb20">
            <h2 style="color:red;line-height:40px;border-bottom: 1px solid #eee;">1.什么是房产查封？</h2>
            <div style="line-height:26px;font-size:14px">      房产查封指的是在诉讼过程中法院在案件原告提出查封申请的情况下通过司法的途径把被告所属名下的房产查封，被查封后的房产是不能进行过户、抵押等手续的，但仍可以继续居住使用。强制执行查封后，被告还可以住那套房子，但是不能转让房子了，就是对这栋房子的权利进行了限制，不能转让、赠与给他人了。</div>
            <h2 style="color:red;line-height:40px;border-bottom: 1px solid #eee;border-top: 1px solid #eee;">2.如何解查封？</h2>
            <div style="line-height:26px;font-size:14px">      将欠款还清或涉案已结。可以向法院提出解查封申请。</div>
            <h2 style="color:red;line-height:40px;border-bottom: 1px solid #eee;border-top: 1px solid #eee;">3.解查封流程</h2>
            <div style="line-height:26px;font-size:14px"> （1）见人、见证件、见房子、见律师<br>  （2）查征信、查涉诉、查执行、查网签、查公司、查房档、查官非<br>
            （3）见上家，确定金额<br>
            （4）签署协议、做借款公证、做委托、押证件、押还款测试网银、关手机银行<br>
            （5）如有必要，可控制下房子<br>
            （6）提前和渠道讨论设计回款方案，不留户不切户<br><br><br></div>
        </div>



    </div>


</div>
{/block}