{extend name='public/layout' /}
{block name='content'}
<style>
	.layui-form-item .layui-input-inline{width:300px;}
</style>
<div class="dialog-form">
<form class="layui-form" id="info_form" action="{:url('addDo')}" method="post">
	<div class="layui-form-item">
		<label class="layui-form-label">昵称</label>
		<div class="layui-input-inline">
			<input type="text" name="user_name" id="user_name"  placeholder="昵称" value="" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">真实姓名</label>
		<div class="layui-input-inline">
			<input type="text" name="true_name" id="true_name"  placeholder="真实姓名" value="" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">手机号码</label>
		<div class="layui-input-inline">
			<input type="text" name="mobile" id="mobile"  placeholder="手机号码 可用于登录" value="" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">密码</label>
		<div class="layui-input-inline">
			<input type="password" name="password" id="password" placeholder="密码" value="" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">确认密码</label>
		<div class="layui-input-inline">
			<input type="password" name="repassword" id="repassword" placeholder="确认密码" value="" autocomplete="off" class="layui-input">
		</div>
	</div>
</form>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/plugins/formvalidator.js"></script>
<script src="/static/js/layer/layer.js"></script>
<script src="/static/js/plugins/jquery.ajax.form.js"></script>
<script>
	var check_name_url = "{:url('ajaxCheckUser')}";
	$(function(){
		$.formValidator.initConfig({formid:"info_form",autotip:true});
		$("#user_name").formValidator({onshow:'请填写名称',onfocus:'请填写名称'}).inputValidator({min:1,onerror:'请填写名称'}).ajaxValidator({
			type : "get",
			url : check_name_url,
			datatype : "json",
			async:'false',
			success : function(result){
				if(result.code == 0){
					return false;
				}else{
					return true;
				}
			},
			onerror : '名称已存在',
			onwait : '查询中,请稍候...'
		});
		$("#mobile").formValidator({onshow:'请填写手机号码',onfocus:'请填写手机号码'}).inputValidator({min:11,onerror:'请填写手机号码'}).ajaxValidator({
			type : "get",
			url : check_name_url,
			datatype : "json",
			async:'false',
			success : function(result){
				if(result.code == 0){
					return false;
				}else{
					return true;
				}
			},
			onerror : '手机号码已存在',
			onwait : '查询中,请稍候...'
		});
		$("#password").formValidator({onfocus:"请填写密码。",oncorrect:"请填写密码"}).inputValidator({min:1,onerror:'请填写密码'});
		$("#repassword").formValidator({onfocus:"两次密码不同。",oncorrect:"密码输入一致"}).compareValidator({desid:"password",operateor:"=",onerror:"两次密码不同。"});

	});
	function submitForm(){
		$("#info_form").ajaxForm({success:complate,dataType:'json'}).submit();
	}
	layui.use(['form'], function(){
		var form = layui.form

	});
	function complate(result){
		var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
		if(result.code == 1){
			parent.layer.msg(result.msg,{icon:1,time:1500},function(){
				parent.window.location.reload();
			});
		} else {
			layer.msg(result.msg,{icon:2});
		}
	}
</script>
{/block}