{extend name="public/layout" /}
{block name='content'}
<form class="layui-form" id="info_form" action="{:url('editPassword')}" method="post" enctype="multipart/form-data">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">修改密码</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="layui-form-alert">*</span>原密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" lay-verify="password" placeholder="原密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="layui-form-alert">*</span>新密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="new_password" lay-verify="new_password" placeholder="新密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="layui-form-alert">*</span>确认新密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="confirm_password" lay-verify="cofirm_password" placeholder="确认新密码" autocomplete="off" class="layui-input">
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">&nbsp;</label>
        <button type="button" lay-submit="" class="layui-btn btn-submit w200">提交</button>
    </div>
</form>
{:hook('ueditor',['id'=>'info'])}
<script>
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use(['form'], function(){
        var $ = layui.jquery,form = layui.form;
        $(".btn-submit").on('click',function(){
            var password = $("input[name='password']").val(),new_password = $("input[name='new_password']").val(),
                    confirm_password = $("input[name='confirm_password']").val();
            if(password.length < 6)
            {
                layer.msg('请填写原密码',{icon:2});
            }else if(new_password.length < 6){
                layer.msg('新密码至少6位',{icon:2});
            }else if(new_password != confirm_password){
                layer.msg('两次新密码输入不一致！',{icon:2});
            }else{
                $('#info_form').submit();
            }
        });

    });
</script>
{/block}