{extend name='public/layout' /}

{block name='header'}{/block}

{block name='content'}

<link rel="stylesheet" href="__CSS__/swiper.min.css">
<style type="text/css">
.goods{font-size: 0.51rem;
    color: #919191;
    line-height: .8rem;}
    .goods em{
        margin-left: .15rem;
    line-height: 0.6rem;
    text-align: center;
    display: inline-block;
    font-size: .6rem;
    padding: .2rem;
    margin-top: .3rem;
    color: #999;
    background: rgba(245,246,247,1);
    }
</style>
<div class="main">

    <!-- 返回键 S-->

    <a href="javascript:;" class="detail-go-back"></a>

    <!-- 返回键 E-->

    <!-- 房子图片滚动展示 S-->

    <div class="scroll-roomPic-box">

        <div class="swiper-container">

            <div class="swiper-wrapper">

                {if condition='$storage_open eq 1 and $info.video'}

                <div class="swiper-slide">

                    <video src="{:getVideoUrl($info['video'])}" style="width:100%;height:10rem;" controls="controls" poster="{$info.img}"></video>

                </div>

                {/if}

                {notempty name='info.file'}

                {volist name='info.file' id='vo'}

                <div class="swiper-slide">

                    <img src="{$vo.url}" alt="{$vo.title}" onerror="this.src='__STATIC__/images/nopic.jpg'">

                </div>

                {/volist}

                {else /}

                <div class="swiper-slide">

                    <img src="{$info.img}" alt="{$info.title}" onerror="this.src='__STATIC__/images/nopic.jpg'">

                </div>

                {/notempty}

            </div>

            <div class="swiper-pagination"></div>

        </div>

    </div>

    <!-- 房子图片滚动展示 E-->



    <!-- 房子细节介绍 S-->

    <div class="house-detail-intro">
        <ul class="price-house-area" style="background:#4876FF; height:30px;">
            <li><p style="color:#fff;">基本信息</p></li>
            <li><p style="color:#fff;">法院公告</p></li>
            <li><p style="color:#fff;">周边设施</p></li>
            <li><p style="color:#fff;">户型图</p></li>
        </ul>
        <h3 style="font-size:.8rem; padding:0rem 0rem 0rem; margin-top:.5rem; margin-bottom:.5rem;">{$info.title}{notempty name='info.pano_url'}<a href="{:url('Ajax/pano')}?pano_url={:base64_encode($info.pano_url)}" title="{$info.title}全景" class="house-pano"></a>{/notempty}</h3>
        <div style="width:100%; height:40px; background:#EEE0E5;">
            <div style="width:50%; float:left; text-align:center;line-height:40px;">**人报名</div>
            <div style="width:50%; float:left; text-align:center;line-height:40px;">**人围观</div>
        </div>
        <ul class="intro-small-detail">

            <li class="top-three"><span>起拍价：<em>{$info.price|raw}</em></em></span><span>市场价：<em>{$info.price|raw}</em></span></li>

            <li class="top-three"><span>漏检指数：四星</span><span>保证金：<em>500万</em></span></li>
        </ul>
        <div style="width:100%; height:40px;">
            <p class="goods" >

                {php}$tag = array_filter(explode(',',$info['tags']));{/php}

                {notempty name='tag'}

                {volist name='tag' id='val'}

                <em>{:getLinkMenuName(14,$val)}</em>

                {/volist}

                {/notempty}

            </p>
        </div>
        <ul class="price-house-area">
            <li>

                <p>户型</p>

                <em>{$info.room}室{$info.living_room}厅{$info.toilet}卫</em>

            </li>

            <li>

                <p>朝向</p>

                <em>{:getLinkMenuName(4,$info['orientations'])}</em>

            </li>

            

            <li>

                <p>面积</p>

                <em>{$info.acreage}{:config('filter.acreage_unit')}</em>

            </li>

        </ul>

        <!-- <ul class="intro-small-detail">

            <li class="top-three"><span>单价：<em class="price">{$info.average_price|raw}</em></span><span>装修：<em>{:getLinkMenuName(8,$info['renovation'])}</em></span></li>

            <li class="top-three"><span>楼层：<em class="floor">{:getLinkMenuName(7,$info['floor'])}/{$info.total_floor}</em></span><span>朝向：<em>{:getLinkMenuName(4,$info['orientations'])}</em></span></li>

            <li class="top-three"><span>类型：<em>{:getLinkMenuName(9,$info['house_type'])}</em></span><span>年代：<em class="year">{$estate.years}</em></span></li>

            <li class="after-three">

                <span>更新：</span>

                <em>{:getTime($info['update_time'],'mohu')}</em>

            </li>

            <li class="after-three"><a href="{:url('Estate/detail',['id'=>$estate['id']])}" title="{$estate.title}"><span>小区：<em>{$estate.title}</em></span></a></li>

            <li class="after-three"><a href="javascript:;"><span>地址：<em>{$info.address}</em></span></a></li>

        </ul> -->
        <ul class="intro-small-detail">

            <li class="top-three">
                <span>形式：司法</span><span>楼层：<em class="floor">{:getLinkMenuName(7,$info['floor'])}/{$info.total_floor}</em></span>
            </li>
            <li class="top-three">
                <span>类型：<em>{:getLinkMenuName(9,$info['house_type'])}</em></span><span>年代：<em class="year">{$estate.years}</em></span>
            </li>
            <li class="top-three">
                <span>名称：<em>{$estate.title}</em></span><span>编号：<em>FP001</em></span>
            </li>
            <li class="top-three">
                <span>区域：2013</span><span>阶段：<em>{:getLinkMenuName(9,$info['house_type'])}</em></span>
            </li>
            <li class="after-three">

                <span>开始截止时间：</span>

                <em>**天**时**分**秒</em>

            </li>

            <li class="after-three"><a href="javascript:;"><span>开拍时间：<em>{:getTime($info['create_time'])}</em></span></a></li>

        </ul>
        <div style="width:100%; height:40px;">
            <div style="width:33%; float:left; text-align:center;line-height:40px;">预约看房</div>
            <div style="width:33%; float:left; text-align:center;line-height:40px;">我要关注</div>
            <div style="width:33%; float:left; text-align:center;line-height:40px;">贷款计算器</div>
        </div>
        <!-- <div style="width:100%; height:40px;">
            <div style="width:33%; text-align:center;line-height:40px;">房源瑕疵：</div>
            <div style="width:33%; text-align:center;line-height:40px;">欠费情况：</div>
            <div style="width:33%; text-align:center;line-height:40px;">小区介绍：</div>
        </div> -->

    </div>

    <!-- 房子细节介绍 E-->



    <!-- 房源描述 S-->
    <div class="house-res">

        <h4>预约看房</h4>

        <ul class="house-confi-point">

            



        </ul>

        <div class="info">

            

        </div>

    </div>
    <div class="house-res">

        <h4>欠费情况</h4>

        <ul class="house-confi-point">

            



        </ul>

        <div class="info">

           
        </div>

    </div>

    <div class="house-res">
<div style="width:100%;">
        <div style="width:75%; float:left;"><h4>小区介绍</h4></div>
        <div style="width:25%; float:right;"><h4>关注此小区</h4></div>
</div>  


                
        <ul class="house-confi-point">

            {php}$val = getLinkMenuCache(12);{/php}

            {php}$support = array_filter(explode(',',$info['supporting']));{/php}

            {volist name='support' id='vo'}

            <li class="{$val[$vo]['alias']}">{$val[$vo]['name']}</li>

            {/volist}



        </ul>

        <div class="info">

            {$info.info|raw}

        </div>

    </div>

    <!-- 房源描述 E-->



    <!-- 位置周边 S-->

    <div class="per-pos">

        <h2>位置周边</h2>

        {include file='public/peitao' /}

    </div>

    <!-- 位置周边 E-->



    <!-- 同小区房源 S-->

    <div class="same-commu-res">

        <h2>附近房源</h2>

        <div class="old-house house-show-box">

            <ul>

                {volist name='near_by_house' id='vo'}

                <li>

                    <div class="pic">

                        <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                            <img src="{$vo.img}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.title}">

                        </a>

                    </div>

                    <div class="intro-text">

                        <h4>

                            <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                                {$vo.title}

                             </a>

                        </h4>

                        <p class="price"><span>{:getCityName($vo['city'],'-')}</span><span class="price-num"><em>{$vo.price|raw}</em></span></p>

                        <p class="detail-text">{$vo.room}室{$vo.living_room}厅 {$vo.acreage}  {:config('filter.acreage_unit')} {:getLinkMenuName(8,$vo['orientations'])}</p>

                        <p class="good">

                            {php}$tag = array_filter(explode(',',$vo['tags']));{/php}

                            {notempty name='tag'}

                            {volist name='tag' id='val'}

                            <em>{:getLinkMenuName(14,$val)}</em>

                            {/volist}

                            {/notempty}

                        </p>

                    </div>

                </li>

                {/volist}

            </ul>

        </div>

    </div>

    <!-- 同小区房源 E-->



    <!-- 猜你喜欢 S-->

    <div class="guess-love-room">

        <h2>猜你喜欢</h2>

        <div class="old-house house-show-box">

            <ul>

                {volist name='same_price_house' id='vo'}

                <li>

                    <div class="pic">

                        <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                            <img src="{$vo.img}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.title}">

                        </a>

                    </div>

                    <div class="intro-text">

                        <h4>

                            <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                                {$vo.title}

                            </a>

                        </h4>

                        <p class="price"><span>{:getCityName($vo['city'],'-')}</span><span class="price-num"><em>{$vo.price|raw}</em></span></p>

                        <p class="detail-text">{$vo.room}室{$vo.living_room}厅 {$vo.acreage}  {:config('filter.acreage_unit')} {:getLinkMenuName(8,$vo['orientations'])}</p>

                        <p class="good">

                            {php}$tag = array_filter(explode(',',$vo['tags']));{/php}

                            {notempty name='tag'}

                            {volist name='tag' id='val'}

                            <em>{:getLinkMenuName(14,$val)}</em>

                            {/volist}

                            {/notempty}

                        </p>

                    </div>

                </li>

                {/volist}

            </ul>

        </div>

        <a href="{:url('Second/index')}" class="more-house-btn">更多房源</a>

    </div>

    <!-- 猜你喜欢 E-->

    <!-- 白块  S-->

    <div class="white-block"></div>

    <!-- 白块  E-->



    <!-- 导航行为 S-->

    <div class="nav-act">

        <a href="javascript:;" class="follow" data-id="{$info.id}" data-model="second_house" data-uri="{:url('Api/follow')}">关注</a>

        <a href="{:url('Ajax/consult')}" class="consult">咨询</a>

        <a href="tel:{notempty name='info.contacts.contact_phone'}{$info.contacts.contact_phone}{else /}{$site.telphone}{/notempty}" class="call-tel">拨打电话</a>

        <a href="javascript:;" class="order-l-house dialog" data-id="{$info.id}" data-model="second_house" data-type="1" data-uri="{:url('Dialog/subscribe')}">预约看房</a>

    </div>

    <!-- 导航行为 E-->





    {include file='public/footer' /}

</div>

<style>

    a{overflow: visible;}

</style>

<script src="__JS__/swiper.min.js"></script>

<script src="__STATIC__/js/layer/layer.js"></script>

<script src="__JS__/subscribe.js"></script>

<script>

    var mySwiper = new Swiper('.swiper-container', {

        loop : true,

        autoplay: 4000,//可选选项，自动滑动

        initialSlide :0,

        pagination : '.swiper-pagination',

        paginationType: 'fraction'

    });

    $(function(){

       $('#expand').on('click',function(){

           if($(this).hasClass('expand'))

           {

               $(this).removeClass('expand').text('展开');

               $('#info').css({'overflow':'hidden','height':'8rem'});

           }else{

               $(this).addClass('expand').text('收起');

               $('#info').css({'overflow':'visible','height':'auto'});

           }

       });

    });

</script>

{/block}