{extend name='public/layout' /}

{block name='header'}{/block}

{block name='content'}

<link rel="stylesheet" href="__CSS__/swiper.min.css">
<style type="text/css">
.goods{font-size: 0.51rem;
    color: #919191;
    line-height: .8rem;}
    .goods em{
        margin-left: .15rem;
    line-height: 0.6rem;
    text-align: center;
    display: inline-block;
    font-size: .6rem;
    padding: .2rem;
    margin-top: .3rem;
    color: #999;
    background: rgba(245,246,247,1);
    }
</style>
<div class="main">

    <!-- 返回键 S-->

    <a href="javascript:;" class="detail-go-back"></a>

    <!-- 返回键 E-->

    <!-- 房子图片滚动展示 S-->

    <div class="scroll-roomPic-box">

        <div class="swiper-container">

            <div class="swiper-wrapper">

                {if condition='$storage_open eq 1 and $info.video'}

                <div class="swiper-slide">

                    <video src="{:getVideoUrl($info['video'])}" style="width:100%;height:10rem;" controls="controls" poster="{$info.img}"></video>

                </div>

                {/if}

                {notempty name='info.file'}

                {volist name='info.file' id='vo'}

                <div class="swiper-slide">

                    <img src="{$info.img}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$info.title}">


                </div>

                {/volist}

                {else /}

                <div class="swiper-slide">

                    <img src="{$info.img}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$info.title}">


                </div>

                {/notempty}

            </div>

            <div class="swiper-pagination"></div>

        </div>

    </div>

    <!-- 房子图片滚动展示 E-->



    <!-- 房子细节介绍 S-->
<style type="text/css">
body{margin:0;}
div,ul,li{ margin:0px; padding:0px;}
a{ text-decoration:none;}
a:hover{color:red;}
.bingdee{width:100%;height:1650px; }
.bdmenu{font-family:"微软雅黑", "黑体"; font-size:16px;color:#FFFFFF;height: 30px; overflow:hidden;}
.bdmenu ul{ margin:0px; padding:0px; list-style:none; background:#000;}
.bdmenu ul li{ float:left; background:#4876FF; list-style:none;  line-height:30px; height:30px; width:25%; }
.bdmenu ul li a{ color:#FFFFFF;  display: inline-block;   line-height:30px;margin-left:10px;   }
.bdmenu ul li a:visited{ color:#FFFFFF}
/*.bdmenu ul li a:hover{ background:#CC0000;}*/
.bdmenu ul li a:active{ color:#FFFFFF}
#tabcontent{height:1650px; background:#FFF; overflow:hidden; line-height:22px;}
#t_1{ height:1650px; padding:10px;}
#t_2,#t_3,#t_4{ height:1650px; }
  *{
    padding: 0;
    margin: 0;
  }
  #examplex{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  #examplex .hd ul li{
    display: inline-block;
    width: 24%;
    height: 36px;
    line-height: 36px;
    border-radius: 5px;
    background-color: #cccccc;
    text-align: center;
    color: #fff;
  }
  #examplex .hd ul li.current{
    background-color: #00AC56;
  }
  #examplex .bd{

    height:auto;
  }
  #examplex .bd ul li{
    display: none;
  }
  #examplex .bd ul li.current{
    display: block;
    background-color: #ffffff;
  }

</style>


<div id="examplex">
    <div class="hd">
      <ul>
        <li class="current">切换一</li>
        <li>切换二</li>
        <li>切换三</li>
        <li>切换四</li>
      </ul>
    </div>
    <div class="bd">
      <ul>
        <li class="current" style="height:1300px;">
            <div class="house-detail-intro">
                <h3 style="font-size:.8rem; padding:0rem 0rem 0rem; margin-top:.5rem; margin-bottom:.5rem;">{$info.title}{notempty name='info.pano_url'}<a href="{:url('Ajax/pano')}?pano_url={:base64_encode($info.pano_url)}" title="{$info.title}全景" class="house-pano"></a>{/notempty}</h3>
                <div style="width:100%; height:40px; background:#EEE0E5;">
                    <div style="width:50%; float:left; text-align:center;line-height:40px;">**人报名</div>
                    <div style="width:50%; float:left; text-align:center;line-height:40px;">**人围观</div>
                </div>
                <ul class="intro-small-detail">

                    <li class="top-three"><span>起拍价：<em>{$info.price|raw}</em></span><span>市场价：<em>{$info.price|raw}</em></span></li>

                    <li class="top-three"><span>漏检指数：四星</span><span>保证金：<em>{$info.baozheng|raw}</em></span></li>
                </ul>
                <div style="width:100%; height:40px;">
                    <p class="goods" >

                        {php}$tag = array_filter(explode(',',$info['tags']));{/php}

                        {notempty name='tag'}

                        {volist name='tag' id='val'}

                        <em>{:getLinkMenuName(14,$val)}</em>

                        {/volist}

                        {/notempty}

                    </p>
                </div>
                <ul class="price-house-area">
                    <li>

                        <p>户型</p>

                        <em>{$info.room}室{$info.living_room}厅{$info.toilet}卫</em>

                    </li>

                    <li>

                        <p>朝向</p>

                        <em>{:getLinkMenuName(4,$info['orientations'])}</em>

                    </li>

                    

                    <li>

                        <p>面积</p>

                        <em>{$info.acreage}{:config('filter.acreage_unit')}</em>

                    </li>

                </ul>

            </div>
            <ul class="intro-small-detail" style="margin-left:10px;">

                <li class="top-three">
                    <span>形式：{$info.xingshi}</span><span>楼层：<em class="floor">{:getLinkMenuName(7,$info['floor'])}/{$info.total_floor}</em></span>
                </li>
                <li class="top-three">
                    <span>类型：<em>{:getLinkMenuName(9,$info['house_type'])}</em></span><span>年代：<em class="year">{$estate.years}</em></span>
                </li>
                <li class="top-three">
                    <span>名称：<em>{$estate.title}</em></span><span>编号：<em>{$info.bianhao}</em></span>
                </li>
                <li class="top-three">
                    <span>区域：{$quyu.name}</span><span>阶段：<em>{$info.jieduan}</em></span>
                </li>
                <li class="after-three">

                    <span>开始截止时间：</span>

                    <em>**天**时**分**秒</em>

                </li>

                <li class="after-three"><a href="javascript:;"><span>开拍时间：<em>{:getTime($info['create_time'])}</em></span></a></li>

            </ul>
            <div style="width:100%; height:40px;">
                <div style="width:33%; float:left; text-align:center;line-height:40px;">
                    <!-- <a href="javascript:;" class="order-l-house dialog" data-id="{$info.id}" data-model="second_house" data-type="1" data-uri="{:url('Dialog/subscribe')}">预约看房</a> -->
                    预约看房
                </div>
                <div style="width:33%; float:left; text-align:center;line-height:40px;">我要关注</div>
                <div style="width:33%; float:left; text-align:center;line-height:40px;">贷款计算器</div>
            </div>
            <div class="house-res" style="padding:0 0;margin-left: 10px;">

                <h4>房源瑕疵</h4>

                <ul class="house-confi-point"></ul>

                <div class="info">
                    {$info.xiaci}
                </div>

            </div>
            <div class="house-res" style="padding:0 0;margin-left: 10px;">

                <h4>欠费情况</h4>

                <ul class="house-confi-point"></ul>

                <div class="info">
                    {$info.qianfei}
                </div>

            </div>
            <div class="house-res">

        <div style="width:100%;">
            <div style="width:75%; float:left;"><h4>小区介绍</h4></div>
            <div style="width:25%; float:right;"><h4>关注此小区</h4></div>
        </div>  


                
        <ul class="house-confi-point">

           <!--  {php}$val = getLinkMenuCache(12);{/php}

            {php}$support = array_filter(explode(',',$info['supporting']));{/php}

            {volist name='support' id='vo'}

            <li class="{$val[$vo]['alias']}">{$val[$vo]['name']}</li>

            {/volist} -->

        </ul>

            <div class="old-house house-show-box" style="">

            <ul>

                <li>

                    <div class="pic"style="width:40%; height:123px; margin-bottom:20px;">
                        <img src="{$info.img}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$info.title}">
                    </div>
            <div class="intro-text" style="width:60%;">

                <style type="text/css">
                    .house-show-box li{ padding:0rem 0; border-bottom: none;}
                    .aa li span{ font-size: 12px; width:50%; float:left;}
                    .aa li{ font-size: 12px; width:100%;}
                </style>
                <ul class="aa" style="height:120px; margin-left:8px;">

                <li>
                    <span>建筑年代：{$estate.years}</span><span>建筑面积：<em class="floor">{$xqinfo.area_build}</em></span>
                </li>
                <li>
                    <span>所属板块：<em>{$xqinfo.property_type}</em></span><span>总户数：<em class="year">{$xqinfo.plan_number}</em></span>
                </li>
                <li>
                    <span>容积：<em>{$xqinfo.volume_ratio}</em></span><span>停车位：<em>{$xqinfo.parking_space}</em></span>
                </li>
                <li>
                    <span>物业费：{$xqinfo.property_fee}</span><span>绿化：<em>{$xqinfo.greening_rate}</em></span>
                </li>
                <li><span style="width:100%;">详细地址：{$estate.address}</span></li>
                <li><span style="width:100%;">开发商：<em>{$xqinfo.developer}</em></span></li>

            </ul>         
                        

                    </div>

                </li>

            </ul>

        </div>
        <div style="width:100%;">
            <div style="width:100%; float:left; margin-top:20px;"><h4>交易记录</h4></div>
        </div>  
        <div style="width:100%; margin-top:20px; float:left;">
            <table width="98%" cellpadding="2" style="border: 1px solid #ccc;">
        <tr align="center">
            <td colspan="1" style="width:15px;"></td>
            <td colspan="2" style="width:30px;"></td>
            <td colspan="5" style="width:75px;">2019年02月20日 开始  流拍价</td>
            
        </tr>
        <tr align="center">
            <td rowspan="1"style="width:15px;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td colspan="2">二拍流拍</td>
            <td colspan="5"></td>
        </tr>
        <tr align="center">
            <td rowspan="1"style="width:15px;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td colspan="2"></td>
            <td colspan="5">2019年02月21日 结束  497万</td>
        </tr>
        <tr align="center">
            <td rowspan="1"style="width:15px;">&nbsp;</td>
            <td colspan="2"></td>
            <td colspan="5"></td>
        </tr>
        <tr align="center">
            <td rowspan="1"style="width:15px;">&nbsp;</td>
            <td colspan="2"></td>
            <td colspan="5">2018年12月24日 开始  流拍价</td>
        </tr>
        <tr align="center">
            <td rowspan="1"style="width:15px;"></td>
            <td colspan="2">一拍流拍</td>
            <td colspan="5"></td>
        </tr>
        <tr align="center">
            <td rowspan="1"style="width:15px;">&nbsp;</td>
            <td colspan="2"></td>
            <td colspan="5">2018年12月25日 结束  552万</td>
        </tr>
        
    </table>
        </div> 
    <div style="width:100%;">
    <div style="width:100%; float:left; margin-top:10px;"><h4>同小区历史成交</h4></div>
    </div>  
        <div style="width:100%; margin-top:20px; float:left;border: 1px solid #ccc;">
            <table width="98%" cellpadding="2">
        <tr align="center">
            <td colspan="1" style="width:15px;"></td>
            <td colspan="5" style="width:75px;">昌平区 北京人家25号楼5单元302室</td>
            
        </tr>
        <tr align="center">
            <td rowspan="1"style="width:15px;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td colspan="5" style="width:75px;">&nbsp;&nbsp;&nbsp;&nbsp;面积：119.06㎡  单价：33596.51元/㎡</td>
        </tr>
        <tr align="center">
            <td rowspan="1"style="width:15px;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td colspan="2"></td>
            <td colspan="5"></td>
        </tr>
        <tr align="center">
            <td rowspan="1"style="width:15px;">&nbsp;</td>
            <td colspan="2"></td>
            <td colspan="5"></td>
        </tr>
        <tr align="center">
            <td colspan="1" style="width:15px;"></td>
            <td colspan="5" style="width:75px;">昌平区 北京人家25号楼5单元302室</td>
            
        </tr>
        <tr align="center">
            <td rowspan="1"style="width:15px;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td colspan="5" style="width:75px;">&nbsp;&nbsp;&nbsp;&nbsp;面积：119.06㎡  单价：33596.51元/㎡</td>
        </tr>
        
    </table>
    <div style="width:100%; text-align:center; margin-top:5px;">更多></div>
        </div> 


        <div style="width:100%;">
    <div style="width:100%; float:left; margin-top:10px;"><h4>二手房成交记录</h4></div>
    </div>  
        <div style="width:100%; margin-top:20px; float:left;border: 1px solid #ccc;">
            <table width="98%" cellpadding="2">
        <tr align="center">
            <td colspan="1" style="width:15px;"></td>
            <td colspan="5" style="width:75px;">昌平区 北京人家25号楼5单元302室</td>
            
        </tr>
        <tr align="center">
            <td rowspan="1"style="width:15px;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td colspan="5" style="width:75px;">&nbsp;&nbsp;&nbsp;&nbsp;面积：119.06㎡  单价：33596.51元/㎡</td>
        </tr>
        
        
    </table>
    <!-- <img src="__STATIC__/images/4-23.jpg" onerror="this.src='__STATIC__/images/nopic.jpg'"> -->
        </div>


        <!-- <div style="width:100%; ">
            <div style="width:20%; float:left;margin-top:10px;"><span>交易4记录</span></div>
            <div style="width:20%; float:left;margin-top:10px;"><span>交易记录</span></div>
            <div style="width:50%; float:left;margin-top:10px;"><span>交易记录</span></div>
        </div>  -->
            

        </div>
        <style type="text/css">
    .house-show-box{padding-left: 0rem;}
        </style>
    
<!-- <div class="guess-love-room" style="margin-left:10px;">

        <h4>猜你喜欢</h4>

        <div class="old-house house-show-box" style="padding-left:-0.64rem;">

            <ul>

                {volist name='same_price_house' id='vo'}

                <li>

                    <div class="pic" style="margin-bottom:8px;">

                        <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                            <img src="{$vo.img}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.title}">

                        </a>

                    </div>

                    <div class="intro-text">

                        <h4>

                            <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                                {$vo.title}

                            </a>

                        </h4>

                        <p class="price"><span>{:getCityName($vo['city'],'-')}</span><span class="price-num"><em>{$vo.price|raw}</em></span></p>

                        <p class="detail-text">{$vo.room}室{$vo.living_room}厅 {$vo.acreage}  {:config('filter.acreage_unit')} {:getLinkMenuName(8,$vo['orientations'])}</p>

                    </div>

                </li>

                {/volist}

            </ul>

        </div>

        <a href="{:url('Second/index')}" class="more-house-btn">更多房源</a>

    </div> -->
    <div style="width:100%;">
    <div style="width:100%; float:left; margin-top:20px; margin-left:20px;"><h4>推荐法派员</h4></div>
    </div>  
        
    <div class="" style="margin-left:10px; ">
            <div class="pic" style="width:100px; float:left; margin-top: 20px;">

                <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                    <img src="{$vo.img}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.title}">

                </a>

            </div>
            <div style="width:50%; float:left; margin-left:5px; margin-top: 20px;">
                <p><h4>李翔</h4></p>
                <p>评论：讲解很清晰</p>
            </div>
            <div style="width:30%; float:left; margin-left:5px; width:40px; height:40px; margin-top: 20px;">
                <a href="{:url('Ajax/consult')}" class="consult">
                    <img src="__STATIC__/images/xx.jpg" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.title}">
                </a>
            </div>
            <div style="width:30%; float:right; width:40px; height:40px; margin-top: 20px;">
                <a href="tel:{notempty name='info.contacts.contact_phone'}{$info.contacts.contact_phone}{else /}{$site.telphone}{/notempty}" class="call-tel">
                    <img src="__STATIC__/images/dh.jpg" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.title}">
                </a>
            </div>
    </div>
        </li>
        <li>    
        切换二内容
        <div style="width:98%; height:auto; padding:10px; background-color:#ffffff">
        北京市顺义区人民法院将于2019年4月26日10时
        至2019年4月27日10时
        （延时的除外）进行公开拍卖活动，现公告如下：
        一、拍卖标的位于北京市顺义区丽喜花园8号楼6
             层二单元601
        二、竞买人条件：凡具备完全民事行为能力的公
        民、法人和其他组织均可参加竞买。
        特别提醒：竞买人在竞买前应清楚知晓相关房
        产政策（包含但不限于国办发〔2011〕1号、
        京政办发〔2011〕8号、京建发〔2011〕65号）
        中有关住房限购政策的规定以及房产过户的相关
        北京市顺义区人民法院
        二0一九年三月二十五日 
            
        </div>
        </li>
        <li>
            <div style="width:100%;background-color:#ffffff">
                <div class="per-pos">

                <h2>位置周边</h2>

                {include file='public/peitao' /}

            </div>
            </div>
        </li>
        <li>切换四内容</li>
      </ul>
    </div>
  </div>
  <script type="text/javascript">
  var hd = document.getElementsByClassName("hd")[0].getElementsByTagName("li");
  var bd = document.getElementsByClassName("bd")[0].getElementsByTagName("li");
  for (var i = 0; i < hd.length; i++) {
    hd[i].onclick = function(){
      doTabs(this);
    }
  }
  function doTabs(obj){
    for (var i = 0; i < hd.length; i++) {
      if(hd[i]==obj){
        hd[i].className = "current";
        bd[i].className = "current";
      }else{
        hd[i].className = "";
        bd[i].className = "";
      }
    }
  }
  </script>


    
        <!-- <ul class="price-house-area" style="background:#4876FF; height:30px;">
            <li><p style="color:#fff;">基本信息</p></li>
            <li><p style="color:#fff;">法院公告</p></li>
            <li><p style="color:#fff;">周边设施</p></li>
            <li><p style="color:#fff;">户型图</p></li>
        </ul> -->
        
<div class="bingdee" style="display:none;" >
    <div class="bdmenu">
        <ul class="">
          <li><a href="#t_1">基本信息</a></li>
          <li><a href="#t_2">法院公告</a></a></li>
          <li><a href="#t_3">周边措施</a></li>
          <li><a href="#t_4">户型图</a></li>
        </ul>
    </div>
  
  
    <div id="tabcontent">
        
        
        <div id="t_2">
            <div style="width:98%; padding:10px;">
                北京市顺义区人民法院将于2019年4月26日10时
                至2019年4月27日10时
                （延时的除外）进行公开拍卖活动，现公告如下：
                一、拍卖标的位于北京市顺义区丽喜花园8号楼6
                     层二单元601
                二、竞买人条件：凡具备完全民事行为能力的公
                民、法人和其他组织均可参加竞买。
                特别提醒：竞买人在竞买前应清楚知晓相关房
                产政策（包含但不限于国办发〔2011〕1号、
                京政办发〔2011〕8号、京建发〔2011〕65号）
                中有关住房限购政策的规定以及房产过户的相关
                北京市顺义区人民法院
                二0一九年三月二十五日  
            </div>
            <!-- <div><img style="width:5px;height:50px;" src="__STATIC__/images/jiantou.jpg" alt=""></div> -->
        </div>
        <div id="t_3">

            <div class="per-pos">

                <h2>位置周边</h2>

                {include file='public/peitao' /}

            </div>
        </div>
        <div id="t_4">
            <div class="swiper-slide">

                <img src="{$info.img}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$info.title}">

            </div>
        </div>
         
    </div>
          
          
          
</div>


<div class="house-detail-intro">

        

        <!-- <ul class="intro-small-detail">

            <li class="top-three"><span>单价：<em class="price">{$info.average_price|raw}</em></span><span>装修：<em>{:getLinkMenuName(8,$info['renovation'])}</em></span></li>

            <li class="top-three"><span>楼层：<em class="floor">{:getLinkMenuName(7,$info['floor'])}/{$info.total_floor}</em></span><span>朝向：<em>{:getLinkMenuName(4,$info['orientations'])}</em></span></li>

            <li class="top-three"><span>类型：<em>{:getLinkMenuName(9,$info['house_type'])}</em></span><span>年代：<em class="year">{$estate.years}</em></span></li>

            <li class="after-three">

                <span>更新：</span>

                <em>{:getTime($info['update_time'],'mohu')}</em>

            </li>

            <li class="after-three"><a href="{:url('Estate/detail',['id'=>$estate['id']])}" title="{$estate.title}"><span>小区：<em>{$estate.title}</em></span></a></li>

            <li class="after-three"><a href="javascript:;"><span>地址：<em>{$info.address}</em></span></a></li>

        </ul> -->
        
        <!-- <div style="width:100%; height:40px;">
            <div style="width:33%; text-align:center;line-height:40px;">房源瑕疵：</div>
            <div style="width:33%; text-align:center;line-height:40px;">欠费情况：</div>
            <div style="width:33%; text-align:center;line-height:40px;">小区介绍：</div>
        </div> -->

    </div>

    <!-- 房子细节介绍 E-->



    <!-- 房源描述 S-->
    

    

    <!-- </div> -->

    <!-- 房源描述 E-->



    



    <!-- 同小区房源 S-->

    <!-- <div class="same-commu-res">

        <h2>附近房源</h2>

        <div class="old-house house-show-box">

            <ul>

                {volist name='near_by_house' id='vo'}

                <li>

                    <div class="pic">

                        <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                            <img src="{$vo.img}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.title}">

                        </a>

                    </div>

                    <div class="intro-text">

                        <h4>

                            <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                                {$vo.title}

                             </a>

                        </h4>

                        <p class="price"><span>{:getCityName($vo['city'],'-')}</span><span class="price-num"><em>{$vo.price|raw}</em></span></p>

                        <p class="detail-text">{$vo.room}室{$vo.living_room}厅 {$vo.acreage}  {:config('filter.acreage_unit')} {:getLinkMenuName(8,$vo['orientations'])}</p>

                        <p class="good">

                            {php}$tag = array_filter(explode(',',$vo['tags']));{/php}

                            {notempty name='tag'}

                            {volist name='tag' id='val'}

                            <em>{:getLinkMenuName(14,$val)}</em>

                            {/volist}

                            {/notempty}

                        </p>

                    </div>

                </li>

                {/volist}

            </ul>

        </div>

    </div> -->

    <!-- 同小区房源 E-->



    <!-- 猜你喜欢 S-->

    <!-- <div class="guess-love-room">

        <h2>猜你喜欢</h2>

        <div class="old-house house-show-box">

            <ul>

                {volist name='same_price_house' id='vo'}

                <li>

                    <div class="pic">

                        <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                            <img src="{$vo.img}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.title}">

                        </a>

                    </div>

                    <div class="intro-text">

                        <h4>

                            <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                                {$vo.title}

                            </a>

                        </h4>

                        <p class="price"><span>{:getCityName($vo['city'],'-')}</span><span class="price-num"><em>{$vo.price|raw}</em></span></p>

                        <p class="detail-text">{$vo.room}室{$vo.living_room}厅 {$vo.acreage}  {:config('filter.acreage_unit')} {:getLinkMenuName(8,$vo['orientations'])}</p>

                        <p class="good">

                            {php}$tag = array_filter(explode(',',$vo['tags']));{/php}

                            {notempty name='tag'}

                            {volist name='tag' id='val'}

                            <em>{:getLinkMenuName(14,$val)}</em>

                            {/volist}

                            {/notempty}

                        </p>

                    </div>

                </li>

                {/volist}

            </ul>

        </div>

        <a href="{:url('Second/index')}" class="more-house-btn">更多房源</a>

    </div> -->

    <!-- 猜你喜欢 E-->

    <!-- 白块  S-->

    <div class="white-block" style="display:none;"></div>

    <!-- 白块  E-->



    <!-- 导航行为 S-->

    <div class="nav-act">

        <a href="javascript:;" class="follow" data-id="{$info.id}" data-model="second_house" data-uri="{:url('Api/follow')}">关注</a>

        <a href="{:url('Ajax/consult')}" class="consult">咨询</a>

        <a href="tel:{notempty name='info.contacts.contact_phone'}{$info.contacts.contact_phone}{else /}{$site.telphone}{/notempty}" class="call-tel">拨打电话</a>

        <a href="javascript:;" class="order-l-house dialog" data-id="{$info.id}" data-model="second_house" data-type="1" data-uri="{:url('Dialog/subscribe')}">预约看房</a>

    </div>

    <!-- 导航行为 E-->





    {include file='public/footer' /}

</div>

<style>

    a{overflow: visible;}

</style>

<script src="__JS__/swiper.min.js"></script>

<script src="__STATIC__/js/layer/layer.js"></script>

<script src="__JS__/subscribe.js"></script>

<script>

    var mySwiper = new Swiper('.swiper-container', {

        loop : true,

        autoplay: 4000,//可选选项，自动滑动

        initialSlide :0,

        pagination : '.swiper-pagination',

        paginationType: 'fraction'

    });

    $(function(){

       $('#expand').on('click',function(){

           if($(this).hasClass('expand'))

           {

               $(this).removeClass('expand').text('展开');

               $('#info').css({'overflow':'hidden','height':'8rem'});

           }else{

               $(this).addClass('expand').text('收起');

               $('#info').css({'overflow':'visible','height':'auto'});

           }

       });

    });

</script>

{/block}