{extend name='public/layout' /}

{block name='header'}

<!-- header-top S-->

<div class="header-top">

    <header id="header" class="h-list-head" style="background:#1aad19">

        <a href="javascript:;" class="go-back"></a>

        <div class="search-box">

            <!-- <input type="text" id="keyword" placeholder="小区名/商圈"> -->

<div class="wrapper">
            <div class="serInput">
                <input placeholder="小区名/商圈" autofocus="" id="keyword" onMouseMove='showhidediv("baip")';/>
                <i style="right: 0.3rem;"></i>
            </div>
            <!-- <span class="serCancel">取消</span> -->
        <script type="text/javascript">
 
    function showhidediv(id){
var sbtitle=document.getElementById(id);

if(sbtitle){
   if(sbtitle.style.display=='block'){

   sbtitle.style.display='none'; 
   
   }else{
   sbtitle.style.display='block';
   
   }

  
   
}

} 
</script>
        <div  id="baip" style="background:#fff;display:none; position: relative; z-index: 999999;padding-left:5px;">
        <ul class="saleDetail">
            <li style="color: #666;">搜索历史</li>
        </ul>
        <ul class="saleDetail history"></ul>
        <div class="Storage"></div>
        <div class="h80"></div>
        <div class="btnEmpty">清空历史搜索</div>
        </div>
    </div>

<script  type="text/javascript" src="jquery-2.1.4.min.js"></script>
 
<script>
var ItemName = "";  //localStorage的getItem 和 setItem的数组名字，主要用来做不同界面调用各自的历史记录。
var menuHistory   = new Object();
$(function(){
  console.log(1111111111111111);
  initLocalStorageArg("hi_001");
  console.log(ItemName);
 
 
});
 
  $(document).delegate(".history>li","click",function(){
    $("#keyword").val($(this).text());
 
  });
 
  /**
   * 初始化相关参数，界面js调用
   * menucode：可以是js的名字
   */
  function initLocalStorageArg(menucode){
    //苹果手机不兼容出现input无法取值以下是解决方法
    $('.history>li').click(function(){
          var div = $(this).text();
          $('#keyword').val(div);
    });
    ItemName = "hist_"+menucode;
    initlocalStorage();
    showHistDom();
  }
 
 
  /**
   * 历史数据展示
   */
  function showHistDom(){
    $(".history").html("");
    for(  var i=0 ; i<menuHistory.length;i++){
        $(".history").append('<li style="display: block;">'+menuHistory[i]+'</li>')
      }
  }
 
 
/**
 * 获取指定的localStorageobj对象，并转成Array对象。
 */
function initlocalStorage(){
    var localStorageobj = localStorage.getItem(ItemName);
    if(localStorageobj){
    }else{
     localStorage.setItem( ItemName,"[]");
     localStorageobj = localStorage.getItem(ItemName);
    }
    menuHistory=JSON.parse( localStorageobj);
}
 
/**
 * 执行记录历史数据
 */
function recordHist(){
      initlocalStorage();
      var value = $("#keyword").val();
    if(!value){ //这里判断输入的value是否合法，也可以用自己的判断方式
      alert("你未输入搜索内容");
      return false;
    }
    //输入的内容localStorage有记录
      if($.inArray(value,menuHistory)>=0){
         var keyval = Object.keys(menuHistory).filter(function(x){return menuHistory[x] == value}).toString() ;
         menuHistory.splice(Number(keyval), 1); //splice(index,1):index代表value值在数组中对应到下标，1：表示删除
      }else {
        if (menuHistory.length > 9) {
            menuHistory.pop();
        }else {
        }
      }
      menuHistory.unshift(value);
      localStorage.removeItem(ItemName);
      localStorage.setItem( ItemName,JSON.stringify(menuHistory)); // 因为localStorage的value不能直接放数组，所以转换程json串后，再set
 
      showHistDom();
}
 
 
//清除记录功能
 $(".btnEmpty").click(function(){
   localStorage.setItem( ItemName,JSON.stringify([]));
    initlocalStorage();
    showHistDom();
 });
 
 
 
 
/*执行搜索的一种方式，绑定回车键*/
  $("#keyword").on("keypress",function(e){
    var keycode=e.keyCode;
    if(keycode=='13'){
 
      recordHist();
 
 
    }
  });
 
 
</script>































            <!-- <input type="text"  id="keyword" > -->
<!-- <button id="search">搜索</button> -->
<!-- <p style="margin-top: .5rem;border-top: 1px solid #9A9A9A;font-family: '微软雅黑';">历史</p>
<div class="delete history" style="width: 100%;margin-top: -1rem;">
</div> -->
<!-- <div class="history" id="his-dele"><img src="img/icon_search_del.png" style="width:.98rem;height:.92rem;display: inline-block;" />清除记录</div> -->
<script>
            // $(document).delegate(".delete>div", "click", function() {
            //     $("#keyword").val($(this).text());
            // });

            // /*搜索记录相关*/
            // //从localStorage获取搜索时间的数组
            // var hisTime;
            // //从localStorage获取搜索内容的数组
            // var hisItem;
            // //从localStorage获取最早的1个搜索时间
            // var firstKey;

            // function init() {
            //     //每次执行都把2个数组置空
            //     hisTime = [];
            //     hisItem = [];
            //     //模拟localStorage本来有的记录
            //     //localStorage.setItem("a",12333);
            //     //本函数内的两个for循环用到的变量
            //     var i = 0
            //     for(; i < localStorage.length; i++) {
            //         if(!isNaN(localStorage.key(i))) {
            //             hisItem.push(localStorage.getItem(localStorage.key(i)));
            //             hisTime.push(localStorage.key(i));
            //         }
            //     }
            //     i = 0;
            //     //执行init(),每次清空之前添加的节点
            //     $(".delete").html("");
            //     for(; i < hisItem.length; i++) {
            //         //alert(hisItem);
            //         $(".delete").prepend('<div class="word-break" id=""style=" z-index: 1000;">' + hisItem[i] + '</div>')
            //     }
            // }
            // init();
            // $("#keyword").keydown(function(event){
            //     if((event.keyCode || event.which)==13){
                    
            //     }
            //     var value = $("#keyword").val();
            //     var time = (new Date()).getTime();


            // // $("#search").click(function() {
            // //     var value = $("#keyword").val();
            // //     var time = (new Date()).getTime();

            // //     if(!value) {
            // //         alert("请输入搜索内容");
            // //         return false;
            // //     }

            //     //输入的内容localStorage有记录
            //     if($.inArray(value, hisItem) >= 0) {
            //         for(var j = 0; j < localStorage.length; j++) {
            //             if(value == localStorage.getItem(localStorage.key(j))) {
            //                 localStorage.removeItem(localStorage.key(j));
            //             }
            //         }
            //         localStorage.setItem(time, value);
            //     }
            //     //输入的内容localStorage没有记录
            //     else {
            //         //由于限制了只能有6条记录，所以这里进行判断
            //         if(hisItem.length > 10) {
            //             firstKey = hisTime[0]
            //             localStorage.removeItem(firstKey);
            //             localStorage.setItem(time, value);
            //         } else {
            //             localStorage.setItem(time, value)
            //         }
            //     }
            //     init();
            //     //正式的时候要提交的！！！
            //     //$("#form1").submit()

            // });

            // //清除记录功能
            // $("#his-dele").click(function() {
            //     var f = 0;
            //     for(; f < hisTime.length; f++) {
            //         localStorage.removeItem(hisTime[f]);
            //     }
            //     init();
            // });
            // //苹果手机不兼容出现input无法取值以下是解决方法
            // $(function() {
            //     $('.word-break').click(function() {
            //         var div = $(this).text();
            //         $('#keyword').val(div);
            //     })
            //     //取到值以后button存储无法取值，这里强迫浏览器强行刷新可解决
            //     $('#search').click(function() {
            //         window.location.reload();
            //     })
            // })
        </script>













        </div>

        <a href="{:url('Map/second')}" class="map-find-room">地图找房</a>

    </header>

    <!-- 筛选 S -->
    <input type="text" id="sousuo" value="{$quyus}" style="display:none;">
    <input type="text" id="quyuz" value="{$quyuz}" style="display:none;">
    {if condition='$quyus neq 0'}


<div style="background:#fff;height:0.1rem;"></div>
    <div style="background: #1aad19;width:96%;margin-left:2%;border-radius:5px">

   
        <div style="font-size:16px;text-align:center;width:100%;line-height:40px;height:40px;color:#fff;">
            <div style="float:left;width:33%;">区域</div>
            <div style="float:left;width:33%;">在拍房源</div>
            <div style="float:left;width:33%;">溢价率</div>
        </div>
        <div style="font-size:16px;text-align:center;width:100%;line-height:40px;height:40px;color:#fff;">
            <div style="float:left;width:33%;">{$quyua['name']}</div>
            <div style="float:left;width:33%;">{$shuliang}套</div>
            <div style="float:left;width:33%;">{$yjl}%</div>
        </div>
    </div>


    <div class="lr-select-box">
    <div style="width:12%;margin-left:3%;">
        <select onchange="window.location=this.value;">
        {volist name='area' id='vo'}" 

                        
<option value="/beijing/erf.html?quyu={$vo.id}" {if condition="$quyua.id eq $vo.id"}selected="selected"{/if}>{$vo.name}</option>
                        {/volist}
            
        </select>
    </div>

        <div class="select_head" id="select_head" style="width:80%;">

            <div class="item" id="area" data-id="0" style="display:none;">


                <span class="tit">区域</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>

            <div class="item" id="price" data-id="0">

                <span class="tit">价格</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>

            <div class="item" id="acreage" data-id="0">

                <span class="tit">面积</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>
            <!-- <div class="item" id="sort" data-id="0">

                <span class="tit">排序</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div> -->

            <div class="item">

                <span class="tit">更多</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>

        </div>

        <div class="select_body" id="select_body">

            <div class="item common">

                <div class="item_box">

                    <ul class="one-level" data-uri="{:url('Api/getCityChild')}">

                        <li data-id="0" class="active"><a href="javascript:;">不限</a></li>

                        {volist name='area' id='vo'}

                        <li data-id="{$vo.id}"><a href="javascript:;">{$vo.name}</a></li>

                        {/volist}

                    </ul>

                    <ul class="two-level">

                    </ul>

                </div>

            </div>

            <div class="item common">

                <div class="item_box attr">

                    <ul>

                        <li data-id="0" class="active"><a href="javascript:;">不限</a></li>

                        {volist name=':getSecondPrice()' id='vo'}

                        <li data-id="{$key}"><a href="javascript:;">{$vo.name}</a></li>

                        {/volist}

                    </ul>

                </div>



            </div>

            <div class="item common">

                <div class="item_box attr">

                    <ul>

                        <li data-id="0" class="active"><a href="javascript:;">不限</a></li>

                        {volist name=':getAcreage()' id='vo'}

                        <li data-id="{$key}"><a href="javascript:;">{$vo.name}</a></li>

                        {/volist}

                    </ul>

                </div>

            </div>

            <div class="item more"  id="more">

                <form action="">

                    <article class="select_area">


                        

                        <div class="tit">排序</div>

                        <section class="section" id="sort">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">总价从低到高</li>

                                <li data-id="2">总价从高到低</li>

                                <li data-id="3">均价从低到高</li>

                                <li data-id="4">均价从高到低</li>

                                <li data-id="5">面积低到高</li>

                                <li data-id="6">面积从高到低</li>

                            </ul>

                        </section>
                        <div class="tit">面积</div>

                        <section class="section" id="acreage">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">50-100㎡</li>

                                <li data-id="2">100-200㎡</li>

                                <li data-id="3">200-500㎡</li>

                                <li data-id="4">500-1000㎡</li>

                                <li data-id="5">1000以上㎡</li>

                            </ul>

                        </section>
                        <div class="tit">朝向</div>

                        <section class="section" id="orientations">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">东向</li>

                                <li data-id="2">东西</li>

                                <li data-id="3">东南</li>

                                <li data-id="4">东北</li>

                                <li data-id="5">西向</li>
                                <li data-id="6">南向</li>
                                <li data-id="7">南北</li>
                                <li data-id="8">南向</li>

                            </ul>

                        </section>

                        <section class="section" id="room">

                            <div class="tit">居室</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name=':getRoom()' id='vo'}

                                <li data-id="{$key}">{$vo}</li>

                                {/volist}

                            </ul>

                        </section>

                        <!-- <section class="section" id="tags">

                            <div class="tit">标签</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name='tags' id='vo'}

                                <li data-id="{$vo.id}">{$vo.name}</li>

                                {/volist}

                            </ul>

                        </section> -->
                        <div class="tit">拍卖阶段</div>
                        <section class="section" id="orientations">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">一拍</li>

                                <li data-id="2">二拍</li>

                                <li data-id="3">变卖</li>

                            </ul>

                        </section>
                        <section class="section" id="type">

                            <div class="tit">类型</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name='type' id='vo'}

                                <li data-id="{$vo.id}">{$vo.name}</li>

                                {/volist}

                            </ul>

                        </section>

                        <!-- <section class="section" id="renovation">

                            <div class="tit">装修</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name='renovation' id='vo'}

                                <li data-id="{$vo.id}">{$vo.name}</li>

                                {/volist}

                            </ul>

                        </section> -->

                    </article>

                    <article class="submit_area">

                        <input type="reset" id="more_reset" class="reset" value="清空条件">

                        <input type="button" id="search-btn" class="submit" value="确定">

                    </article>

                </form>

            </div>

        </div>

    </div>

    <!-- 筛选 E -->

    <ul id="search-lists" data-uri="{:url('Ajax/searchSecond')}"></ul>

{else}
<div class="lr-select-box">

        <div class="select_head" id="select_head">

            <div class="item" id="area" data-id="0">


                <span class="tit">区域</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>

            <div class="item" id="price" data-id="0">

                <span class="tit">价格</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>

            <div class="item" id="acreage" data-id="0">

                <span class="tit">面积</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>
            <!-- <div class="item" id="sort" data-id="0">

                <span class="tit">排序</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div> -->

            <div class="item">

                <span class="tit">更多</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>

        </div>

        <div class="select_body" id="select_body">

            <div class="item common">

                <div class="item_box">

                    <ul class="one-level" data-uri="{:url('Api/getCityChild')}">

                        <li data-id="0" class="active"><a href="javascript:;">不限</a></li>

                        {volist name='area' id='vo'}

                        <li data-id="{$vo.id}"><a href="javascript:;">{$vo.name}</a></li>

                        {/volist}

                    </ul>

                    <ul class="two-level">

                    </ul>

                </div>

            </div>

            <div class="item common">

                <div class="item_box attr">

                    <ul>

                        <li data-id="0" class="active"><a href="javascript:;">不限</a></li>

                        {volist name=':getSecondPrice()' id='vo'}

                        <li data-id="{$key}"><a href="javascript:;">{$vo.name}</a></li>

                        {/volist}

                    </ul>

                </div>



            </div>

            <div class="item common">

                <div class="item_box attr">

                    <ul>

                        <li data-id="0" class="active"><a href="javascript:;">不限</a></li>

                        {volist name=':getAcreage()' id='vo'}

                        <li data-id="{$key}"><a href="javascript:;">{$vo.name}</a></li>

                        {/volist}

                    </ul>

                </div>

            </div>

            <div class="item more"  id="more">

                <form action="">

                    <article class="select_area">


                        

                        <div class="tit">排序</div>

                        <section class="section" id="sort">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">总价从低到高</li>

                                <li data-id="2">总价从高到低</li>

                                <li data-id="3">均价从低到高</li>

                                <li data-id="4">均价从高到低</li>

                                <li data-id="5">面积低到高</li>

                                <li data-id="6">面积从高到低</li>

                            </ul>

                        </section>
                        <div class="tit">面积</div>

                        <section class="section" id="acreage">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">50-100㎡</li>

                                <li data-id="2">100-200㎡</li>

                                <li data-id="3">200-500㎡</li>

                                <li data-id="4">500-1000㎡</li>

                                <li data-id="5">1000以上㎡</li>

                            </ul>

                        </section>
                        <div class="tit">朝向</div>

                        <section class="section" id="orientations">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">东向</li>

                                <li data-id="2">东西</li>

                                <li data-id="3">东南</li>

                                <li data-id="4">东北</li>

                                <li data-id="5">西向</li>
                                <li data-id="6">南向</li>
                                <li data-id="7">南北</li>
                                <li data-id="8">南向</li>

                            </ul>

                        </section>

                        <section class="section" id="room">

                            <div class="tit">居室</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name=':getRoom()' id='vo'}

                                <li data-id="{$key}">{$vo}</li>

                                {/volist}

                            </ul>

                        </section>

                        <!-- <section class="section" id="tags">

                            <div class="tit">标签</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name='tags' id='vo'}

                                <li data-id="{$vo.id}">{$vo.name}</li>

                                {/volist}

                            </ul>

                        </section> -->
                        <div class="tit">拍卖阶段</div>
                        <section class="section" id="orientations">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">一拍</li>

                                <li data-id="2">二拍</li>

                                <li data-id="3">变卖</li>

                            </ul>

                        </section>
                        <section class="section" id="type">

                            <div class="tit">类型</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name='type' id='vo'}

                                <li data-id="{$vo.id}">{$vo.name}</li>

                                {/volist}

                            </ul>

                        </section>

                        <!-- <section class="section" id="renovation">

                            <div class="tit">装修</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name='renovation' id='vo'}

                                <li data-id="{$vo.id}">{$vo.name}</li>

                                {/volist}

                            </ul>

                        </section> -->

                    </article>

                    <article class="submit_area">

                        <input type="reset" id="more_reset" class="reset" value="清空条件">

                        <input type="button" id="search-btn" class="submit" value="确定">

                    </article>

                </form>

            </div>

        </div>

    </div>

    <!-- 筛选 E -->

    <ul id="search-lists" data-uri="{:url('Ajax/searchSecond')}"></ul>

    {/if}


</div>

<div id="select_bg"></div>

<!-- header-top E-->

{/block}

{block name='content'}
{if condition='$quyus neq 0'}
<div class="main" style="background: #fff;padding-top:7.9rem;">
{else}

<div class="main" style="background: #fff;padding-top:4.5rem;">
{/if}
    <!-- 二手房项目细节 S-->

    <div class="old-house house-show-box" style=" overflow: auto;">

        <ul id="lists" data-uri="{:url('Second/getSecondLists')}" data-total="{$total_page}">

            {volist name='top_lists' id='vo'}

            <li>
                <div class="pic" >

                    <a  href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">
                    
                        <img src="{:thumb($vo['img'],200,150)}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.estate_name}" />

                        {if condition='$storage_open eq 1 and $vo.video'}******<em class="video-play"></em>{/if}

                    </a>

                </div>

                <div class="intro-text">

                    <!-- <h4>

                        <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                            <i class="top-icon">顶</i>{$vo.title}

                        </a>

                    </h4> -->


                    <p class="price"><span>{:getCityName($vo['city'],'-')}</span><span class="price-num"><em>{$vo.price|raw}</em></span></p>

                    <p class="detail-text">{$vo.room}室{$vo.living_room}厅 {$vo.acreage}{:config('filter.acreage_unit')} {:getLinkMenuName(8,$vo['renovation'])}&nbsp; {:getTime($vo['update_time'],'mohu')}更新</p>

                    <p class="good">
                        {php}$tag = array_filter(explode(',',$vo['tags']));{/php}

                        {notempty name='tag'}

                        {volist name='tag' id='val'}

                        <em>{:getLinkMenuName(14,$val)}</em>

                        {/volist}

                        {/notempty}

                    </p>

                </div>

            </li>

            {/volist}

            {volist name='lists' id='vo'}

            <li>
                <!-- <h4 style="margin-top:-10px;margin-bottom:10px;">
                    <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">{$vo.title}</a>
                </h4> -->

                <div class="pic" style="width:6rem;height:4rem;">

                    <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                        {if !empty($vo.pano_url)}
                        <img src="{:thumb($vo['img'],200,150)}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.estate_name}" />
                        {else}
                        <img src="{:thumb($vo['img'],200,150)}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.estate_name}" />
                        {/if}

                        <!-- <img src="{:thumb($vo['img'],200,150)}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.estate_name}" /> -->
                        <!-- {if $vo['iscj'] eq 159}<div style="z-index: 1000; margin-top: -70px; color: #fff; font-size: 18px; margin-left: 50px;"><b>已成交</b></div>{/if} -->
                        {if $vo.fcstatus eq 169}
                        <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:0; right:0;"><img src="/static/images/status/app2.png" original="/static/images/status/app2.png" style="width:60%;height:60%; float:right;">
                      {if !empty($vo.pano_url)} <img src="/img/mvr.png" original="/img/mvr.png" style="width:56px;height:auto;     margin-top: 1rem;">  {/if}
                      </div>
                        {/if}
                        {if $vo.fcstatus eq 170}
                        <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:0; right:0;"><img src="/static/images/status/app1.png" original="/static/images/status/app1.png" style="width:60%;height:60%; float:right;">
                      {if !empty($vo.pano_url)} <img src="/img/mvr.png" original="/img/mvr.png" style="width:56px;height:auto;     margin-top: 1rem;">  {/if}
                      </div>
                        {/if}
                        {if $vo.fcstatus eq 171}
                        <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:1rem; right:1.7rem;"><img src="/static/images/status/status3.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 172}
                        <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:1rem; right:1.7rem;"><img src="/static/images/status/status4.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 173}
                        <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:1rem; right:1.7rem;"><img src="/static/images/status/status5.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 174}
                        <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:1rem; right:1.7rem;"><img src="/static/images/status/status6.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 175}
                        <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:1rem; right:1.7rem;"><img src="/static/images/status/status7.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                        {/if}

                        {if condition='$storage_open eq 1 and $vo.video'}<em class="video-play"></em>{/if}

                    </a>

                </div>

                <div class="intro-text" style="width:56%;    margin-top: -5px;">

                    <!-- <h4>

                        <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                            {$vo.title}

                        </a>

                    </h4> -->
            <div class="detail-text" style="color:#000;line-height:.8rem;overflow:hidden;height:20px;width:205px;"><a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}" style="color:#000;font-weight:bold;font-size:0.58rem;">{$vo.title}</a></div>
           {if strstr($vo.acreage,'.')}
            <p class="detail-text" style="color:#000;line-height:.8rem">面积：{$vo.acreage}{:config('filter.acreage_unit')}</p>
          {else}
            <p class="detail-text" style="color:#000;line-height:.8rem">面积：{$vo.acreage}.00{:config('filter.acreage_unit')}</p>

          {/if}
                    <!-- <p class="detail-text" style="color:#000;line-height:.9rem">面积：{$vo.acreage}{:config('filter.acreage_unit')}</p> -->

<!-- <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">{$vo.title}</a> -->
           <!-- <p class="detail-text" style="color:#000;line-height:.9rem">市场价：<em>{$vo.price|raw}</em></p> -->
         

{if !empty( $_GET['cj']) eq '175' }

 <p class="detail-text" style="color:#000;line-height:.8rem">成交价:  <em style="color:red;">{$vo.cjprice|raw}万</em>
 (<em>{:template_division($vo.cjprice,$vo.acreage)}元/㎡</em>)</p>
 <!-- {$vo.chajia|raw} -->
 <p class="detail-text" style="color:#000;line-height:.8rem">差额:   &nbsp;&nbsp; <em style="color:red;">{:template_substract($vo.price,$vo.cjprice)}万</em></p>
 <p class="detail-text" style="color:#000;">结束时间：<b>{$vo['endtime']|date="Y-m-d H:i:s"}</b></p>
{else/}

          {if strstr($vo.qipai,'.')}
            <p class="detail-text" style="color:#000;line-height:.8rem">起拍价：<em style="color:red;">{$vo.qipai|raw}万</em>(<em>{$vo.average_price|raw}</em>)</p>
          {else}
            <p class="detail-text" style="color:#000;line-height:.8rem">起拍价：<em style="color:red;">{$vo.qipai|raw}.00万</em>(<em>{$vo.average_price|raw}</em>)</p>

          {/if}  
                    <!-- <p class="detail-text" style="color:#000;line-height:.9rem">起拍价：<em>{$vo.price|raw}</em>(<em>{$vo.average_price|raw}</em>)</p> -->

                    <p class="detail-text" style="color:#000;line-height:.8rem">漏检指标：
                                
                    {if $vo.marketprice eq 1}
                            

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                {/if}
                                
                                
                                {if $vo.marketprice eq 2}
                            

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                {/if}
                                
                                {if $vo.marketprice eq 3}
                            

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                {/if}
                                
                                {if $vo.marketprice eq 4}
                            

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                {/if}
                                
                                {if $vo.marketprice eq 5}
                            

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                {/if}
                                
                    
                    </p>
                    <p class="detail-text" style="color:#000;">开拍时间：<b>{$vo['kptime']}</b></p>

{/if}
                    <!-- <p class="price"><span>{:getCityName($vo['city'],'-')}</span><span class="price-num"><em>{$vo.price|raw}</em></span></p>

                    <p class="detail-text">{$vo.room}室{$vo.living_room}厅 {$vo.acreage}{:config('filter.acreage_unit')} {:getLinkMenuName(8,$vo['renovation'])}&nbsp; {:getTime($vo['update_time'],'mohu')}更新</p> -->

                    <!-- <p class="good" >

                        {php}$tag = array_filter(explode(',',$vo['tags']));{/php}

                        {notempty name='tag'}

                        {volist name='tag' id='val'}

                        <em>{:getLinkMenuName(14,$val)}</em>

                        {/volist}

                        {/notempty}

                    </p> -->
                    <p class="good">

                        {php}$tag = array_filter(explode(',',$vo['tags']));{/php}
                        {notempty name='tag'}
                        {volist name='tag' id='val'}
                        {if condition="is_numeric($val)"}
                        <em style="margin-top:.1rem;padding-top:.1rem;padding-bottom:.1rem;">{:getLinkMenuName(14,$val)}</em>
                        {else /}
                        <em style="margin-top:.1rem;padding-top:.1rem;padding-bottom:.1rem;">{$val}</em>
                        {/if}
                        {/volist}
                        {/notempty}

                   {php}$estate_id=$vo['estate_id'];{/php}
                    {fang:lists table='estate' where='id=$estate_id' field='years'  id='answer'}
                        <em style="margin-top:.1rem;padding-top:.1rem;padding-bottom:.1rem;">{$answer.years}年</em>
                    {/fang:lists}
                    </p>

                </div>

            </li>

            {/volist}



        </ul>
        <!-- xq 记录页码-->
        <input type="hidden" pi-status="1" class="h_pageindex" value="1" />

        <div class="load-more" style="height:100px;">

            {notempty name='pages'}

            <a href="javascript:;" id="load-more">加载更多</a>

            {else /}

            <p>数据加载完成</p>

            {/notempty}

        </div>

    </div>

    <!--二手房项目细节 E-->



    {include file='public/footer' /}

</div>

<!-- 筛选 -->

<script type="text/html" id="search-template">

    {{# for(var i = 0, len = d.length; i < len; i++){ }}
    <li><a href="{{d[i].url}}"><span>{{d[i].price}}万</span><em>{{d[i].title}}</em></a></li>

    {{# } }}

</script>

<script type="text/html" id="template">

    {{# for(var i = 0, len = d.length; i < len; i++){ }}

    <li class="comment-porject">
                

        <div class="pic"  style="width:6rem;height:4rem;">

            <a href="{{d[i].url}}" title="{{d[i].title}}" class="clearfix">




                
                {{# if(d[i]['pano_url']!=''){ }}
                    <img src="{{d[i].img}}" onerror="this.src='__STATIC__/images/nopic.jpg'" style="width:200px; height:150px;" alt="{{d[i].title}}" />
                {{# } }}
                {{# if(d[i]['pano_url']==''){ }}
                    <img src="{{d[i].img}}" onerror="this.src='__STATIC__/images/nopic.jpg'" style="width:200px; height:150px;" alt="{{d[i].title}}" />
                {{# } }}


                {{# if(d[i]['fcstatus']=='169'){ }}
                    <div class="zzjx fix abs" style="float:right; top:0; right:0;  z-inde:555; position: absolute;"><img src="/static/images/status/status2.png" original="/static/images/status/status2.png" style="width:60%;height:60%; float:right;"></div>
                {{# } }}
                {{# if(d[i]['fcstatus']=='170'){ }}
                    <div class="zzjx fix abs" style="float:right; top:0; right:0;  z-inde:555; position: absolute;"><img src="/static/images/status/status1.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                {{# } }}
                {{# if(d[i]['fcstatus']=='171'){ }}
                    <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:1rem; right:1.7rem;"><img src="/static/images/status/status3.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                {{# } }}
                {{# if(d[i]['fcstatus']=='172'){ }}
                    
                    <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:1rem; right:1.7rem;"><img src="/static/images/status/status4.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                {{# } }}
                {{# if(d[i]['fcstatus']=='173'){ }}
                    <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:1rem; right:1.7rem;"><img src="/static/images/status/status5.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                {{# } }}
                {{# if(d[i]['fcstatus']=='174'){ }}
                    
                    <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:1rem; right:1.7rem;"><img src="/static/images/status/status6.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                {{# } }}
                {{# if(d[i]['fcstatus']=='175'){ }}
                    
                    <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:1rem; right:1.7rem;"><img src="/static/images/status/status7.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                {{# } }}


                {{# if(d[i]['is_video']){ }}<em class="video-play"></em>{{# } }}

            </a>

        </div>

        <div class="intro-text" style="width:56%;">




                    <div class="detail-text" style="color:#000;line-height:.9rem;overflow:hidden;height:20px;"><a href="{{d[i].url}}" style="color:#000;font-weight:bold;font-size:0.58rem;">{{d[i].title}}</a></div>
                    <p class="detail-text" style="color:#000;line-height:.9rem">面积：{{d[i].acreage}}</p></em>
                    <p class="detail-text" style="color:#000;line-height:.9rem">起拍价：<em style="color:red;">{{d[i].price}}</em>(<em>{{d[i].average_price}}</em>)</p>
                    <p class="detail-text" style="color:#000;line-height:.9rem">漏检指标：
                    
                    
                    {{# if(d[i]['marketprice']=='1'){ }}
                            

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                
                                
                                {{# } }}
                                
                    {{# if(d[i]['marketprice']=='2'){ }}
                            

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                
                                
                                {{# } }}
                    {{# if(d[i]['marketprice']=='3'){ }}
                            

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                {{# } }}
                                
                                {{# if(d[i]['marketprice']=='4'){ }}
                            

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                {{# } }}
                                
                                
                    
                    {{# if(d[i]['marketprice']=='5'){ }}
                            

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                {{# } }}
                                
                    
                    
                    
                    
                    </p>
                    <p class="detail-text" style="color:#000;">开拍时间：<b>{{d[i].kptime}}</b>
</p>

            

        </div>

    </li>

    {{# } }}



</script>

<script src="__STATIC__/js/layer/laytpl.js"></script>

<script src="__JS__/search.js"></script>
<script src="__JS__/jquery.cookie.js"></script>
<script src="__JS__/getData.js"></script>

 <!-- xq 列表记忆 -->
 <!-- 引用cookie的js -->


<script type="text/javascript">
    //声明当前列表页面距离顶部的高度
    var temscrolltop = 0;
    var str = "ProjectListscrollTop";//定义距离顶部的高度存储Cookie的名字
    //获取保存好的Ajax加载的数据，如果不存在，赋值为空
    var ProjectListAjaxData = sessionStorage.getItem("ProjectListAjaxData");
    if (ProjectListAjaxData == null) {
        ProjectListAjaxData = "";
    }

    $(function(){

            // console.log('start');
            
         

            //点击跳转页面记录滚动距离cookie
            $("ul#lists").on("click","li",function(){      //只需要找到你点击的是哪个ul里面的就行
                     //$.cookie('cs','uuuuuuuuuuuuuuuuu');
                     $.cookie(str, temscrolltop, { path: '/' });
        
            });

            //页面滚动获取滚动条距离顶部的距离
            $(window).scroll(function(){
                 temscrolltop = $(window).scrollTop();
                 //console.log(temscrolltop);
            })
                
 
 
           

         //判断返回的页面是不是详细页面
        if ($.cookie("ProjectListPosition")) {
            
            //使用完马上删除
            delCookie("ProjectListPosition");
            //页面回跳插入ajax加载 data 
            if (ProjectListAjaxData != null && ProjectListAjaxData != "") {
               
                // console.log(sessionStorage.getItem("ProjectListAjaxData"));
                $("#lists").append(ProjectListAjaxData);
            }
            else {
                
                ProjectListAjaxData = "";
            }


            //页面回跳页码重新赋值为最后翻页的页码
            if ($.cookie("ProjectListPageIndex")) {
                $(".h_pageindex").attr("pi-status", $.cookie("ProjectListPageIndex"));
            }


            //页面回跳跳转的位置
            if ($.cookie(str)) {
                // console.log('ok');
               
                 //获取某个元素距离浏览器顶端的距离
                // console.log($.cookie(str));
                //滚动条滚动的位置到顶部的位置

                $('html,body').animate({scrollTop:$.cookie(str)},0);  

                // $('.old-house').animate({scrollTop:$.cookie(str)},0);
                // $(".main").animate({ scrollTop: $.cookie(str) }, 0);
            }
            else {
            }
        }
        else {
            
            delCookie("ProjectListPosition");
            delCookie("ProjectListPageIndex");
            delCookie("ProjectListscrollTop");
            //清除缓存页面数据session
            ProjectListAjaxData = "";
            sessionStorage.removeItem("ProjectListAjaxData");
        }

        // $('#load-more').on('click',function(){

        //     Lists.requestParam = getParam();console.log(getParam());

        //     Lists.getData();

        // });
//获取滚动条当前的位置 
  function getScrollTop() { 
    console.log('dsdsdsdsd');
    var scrollTop = 0; 
    if (document.documentElement && document.documentElement.scrollTop) { 
    scrollTop = document.documentElement.scrollTop; 
    } 
    else if (document.body) { 
    scrollTop = document.body.scrollTop; 
    } 
    return scrollTop; 
    } 

    //获取当前可视范围的高度 
    function getClientHeight() { 
    var clientHeight = 0; 
    if (document.body.clientHeight && document.documentElement.clientHeight) { 
    clientHeight = Math.min(document.body.clientHeight, document.documentElement.clientHeight); 
    } 
    else { 
    clientHeight = Math.max(document.body.clientHeight, document.documentElement.clientHeight); 
    } 
    return clientHeight; 
    } 

    //获取文档完整的高度 
    function getScrollHeight() { 
    return Math.max(document.body.scrollHeight, document.documentElement.scrollHeight); 
    } 
        window.onscroll = function () { 
        if (getScrollTop() + getClientHeight() == getScrollHeight()) { 


            Lists.requestParam = getParam();
            console.log(getParam());

            Lists.getData();
        }
    }  

    });

    function getParam()

    {
        // alert(12333);
        var input=document.getElementById("sousuo").value;
        var inputs=document.getElementById("quyuz").value ;
        // alert(input);
        if(input!=0){
            var area = inputs,
            price = $('#price').attr('data-id'),

                type = $('#type li.active').attr('data-id'),sort = $('#sort li.active').attr('data-id'),

                room = $('#room li.active').attr('data-id'),acreage = $('#acreage').attr('data-id'),

                renovation = $('#renovation li.active').attr('data-id'),tags = $("#tags li.active").attr('data-id');
        }else{
            var area = $('#area').attr('data-id'),
            price = $('#price').attr('data-id'),

                type = $('#type li.active').attr('data-id'),sort = $('#sort li.active').attr('data-id'),

                room = $('#room li.active').attr('data-id'),acreage = $('#acreage').attr('data-id'),

                renovation = $('#renovation li.active').attr('data-id'),tags = $("#tags li.active").attr('data-id');
        }
       

        return {

            area : area,

            price : price,

            type  : type,

            sort  : sort,

            room : room,

            tags : tags,

            acreage  : acreage,

            renovation : renovation

        };

    }

</script>


<script type="text/javascript">
            
            
            //写cookies
            function setCookie(days, name, value) {
                    var exp = new Date();
                    exp.setTime(exp.getTime() + days * 24 * 60 * 60 * 1000);
                    document.cookie = name + "=" + escape(value) + ";expires=" + exp.toGMTString() + "; path=/";
            }
            //读取cookies
            function getCookie(name) {
                    var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
                 if (arr = document.cookie.match(reg)) return unescape(arr[2]);
                    else return null;
            }   
            //删除cookies
            function delCookie(name) {
                    var exp = new Date();
                    exp.setTime(exp.getTime() - 1);
                    var cval = getCookie(name);
                    if (cval != null) document.cookie = name + "=" + cval + ";expires=" + exp.toGMTString() + "; path=/";
            }
</script>

<!-- xq end -->

{/block}