{extend name='public/layout' /}

{block name='header'}

<!-- header-top S-->

<div class="header-top">

    <header id="header" class="h-list-head" style="background:#1aad19">

        <a href="javascript:;" class="go-back"></a>

        <div class="search-box">

            <input type="text" id="keyword" placeholder="小区名/商圈">

        </div>

        <a href="{:url('Map/second')}" class="map-find-room">地图找房</a>

    </header>

    <!-- 筛选 S -->
    <input type="text" id="sousuo" value="{$quyus}" style="display:none;">
    <input type="text" id="quyuz" value="{$quyuz}" style="display:none;">
    {if condition='$quyus neq 0'}


<div style="background:#fff;height:0.1rem;"></div>
    <div style="background: #1aad19;width:96%;margin-left:2%;border-radius:5px">

   
        <div style="font-size:16px;text-align:center;width:100%;line-height:40px;height:40px;color:#fff;">
            <div style="float:left;width:33%;">区域</div>
            <div style="float:left;width:33%;">在拍房源</div>
            <div style="float:left;width:33%;">溢价率</div>
        </div>
        <div style="font-size:16px;text-align:center;width:100%;line-height:40px;height:40px;color:#fff;">
            <div style="float:left;width:33%;">{$quyua['name']}</div>
            <div style="float:left;width:33%;">{$shuliang}套</div>
            <div style="float:left;width:33%;">{$yjl}%</div>
        </div>
    </div>


    <div class="lr-select-box">

        <div class="select_head" id="select_head">

            <div class="item" id="area" data-id="0" style="display:none;">


                <span class="tit">区域</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>

            <div class="item" id="price" data-id="0">

                <span class="tit">价格</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>

            <div class="item" id="acreage" data-id="0">

                <span class="tit">面积</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>
            <!-- <div class="item" id="sort" data-id="0">

                <span class="tit">排序</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div> -->

            <div class="item">

                <span class="tit">更多</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>

        </div>

        <div class="select_body" id="select_body">

            <div class="item common">

                <div class="item_box">

                    <ul class="one-level" data-uri="{:url('Api/getCityChild')}">

                        <li data-id="0" class="active"><a href="javascript:;">不限</a></li>

                        {volist name='area' id='vo'}

                        <li data-id="{$vo.id}"><a href="javascript:;">{$vo.name}</a></li>

                        {/volist}

                    </ul>

                    <ul class="two-level">

                    </ul>

                </div>

            </div>

            <div class="item common">

                <div class="item_box attr">

                    <ul>

                        <li data-id="0" class="active"><a href="javascript:;">不限</a></li>

                        {volist name=':getSecondPrice()' id='vo'}

                        <li data-id="{$key}"><a href="javascript:;">{$vo.name}</a></li>

                        {/volist}

                    </ul>

                </div>



            </div>

            <div class="item common">

                <div class="item_box attr">

                    <ul>

                        <li data-id="0" class="active"><a href="javascript:;">不限</a></li>

                        {volist name=':getAcreage()' id='vo'}

                        <li data-id="{$key}"><a href="javascript:;">{$vo.name}</a></li>

                        {/volist}

                    </ul>

                </div>

            </div>

            <div class="item more"  id="more">

                <form action="">

                    <article class="select_area">


                        

                        <div class="tit">排序</div>

                        <section class="section" id="sort">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">总价从低到高</li>

                                <li data-id="2">总价从高到低</li>

                                <li data-id="3">均价从低到高</li>

                                <li data-id="4">均价从高到低</li>

                                <li data-id="5">面积低到高</li>

                                <li data-id="6">面积从高到低</li>

                            </ul>

                        </section>
                        <div class="tit">面积</div>

                        <section class="section" id="acreage">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">50-100㎡</li>

                                <li data-id="2">100-200㎡</li>

                                <li data-id="3">200-500㎡</li>

                                <li data-id="4">500-1000㎡</li>

                                <li data-id="5">1000以上㎡</li>

                            </ul>

                        </section>
                        <div class="tit">朝向</div>

                        <section class="section" id="orientations">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">东向</li>

                                <li data-id="2">东西</li>

                                <li data-id="3">东南</li>

                                <li data-id="4">东北</li>

                                <li data-id="5">西向</li>
                                <li data-id="6">南向</li>
                                <li data-id="7">南北</li>
                                <li data-id="8">南向</li>

                            </ul>

                        </section>

                        <section class="section" id="room">

                            <div class="tit">居室</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name=':getRoom()' id='vo'}

                                <li data-id="{$key}">{$vo}</li>

                                {/volist}

                            </ul>

                        </section>

                        <!-- <section class="section" id="tags">

                            <div class="tit">标签</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name='tags' id='vo'}

                                <li data-id="{$vo.id}">{$vo.name}</li>

                                {/volist}

                            </ul>

                        </section> -->
                        <div class="tit">拍卖阶段</div>
                        <section class="section" id="orientations">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">一拍</li>

                                <li data-id="2">二拍</li>

                                <li data-id="3">变卖</li>

                            </ul>

                        </section>
                        <section class="section" id="type">

                            <div class="tit">类型</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name='type' id='vo'}

                                <li data-id="{$vo.id}">{$vo.name}</li>

                                {/volist}

                            </ul>

                        </section>

                        <!-- <section class="section" id="renovation">

                            <div class="tit">装修</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name='renovation' id='vo'}

                                <li data-id="{$vo.id}">{$vo.name}</li>

                                {/volist}

                            </ul>

                        </section> -->

                    </article>

                    <article class="submit_area">

                        <input type="reset" id="more_reset" class="reset" value="清空条件">

                        <input type="button" id="search-btn" class="submit" value="确定">

                    </article>

                </form>

            </div>

        </div>

    </div>

    <!-- 筛选 E -->

    <ul id="search-lists" data-uri="{:url('Ajax/searchSecond')}"></ul>

{else}
<div class="lr-select-box">

        <div class="select_head" id="select_head">

            <div class="item" id="area" data-id="0">


                <span class="tit">区域</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>

            <div class="item" id="price" data-id="0">

                <span class="tit">价格</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>

            <div class="item" id="acreage" data-id="0">

                <span class="tit">面积</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>
            <!-- <div class="item" id="sort" data-id="0">

                <span class="tit">排序</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div> -->

            <div class="item">

                <span class="tit">更多</span>

                <span class="iconfont icon-xialajiantouxiangxia"></span>

            </div>

        </div>

        <div class="select_body" id="select_body">

            <div class="item common">

                <div class="item_box">

                    <ul class="one-level" data-uri="{:url('Api/getCityChild')}">

                        <li data-id="0" class="active"><a href="javascript:;">不限</a></li>

                        {volist name='area' id='vo'}

                        <li data-id="{$vo.id}"><a href="javascript:;">{$vo.name}</a></li>

                        {/volist}

                    </ul>

                    <ul class="two-level">

                    </ul>

                </div>

            </div>

            <div class="item common">

                <div class="item_box attr">

                    <ul>

                        <li data-id="0" class="active"><a href="javascript:;">不限</a></li>

                        {volist name=':getSecondPrice()' id='vo'}

                        <li data-id="{$key}"><a href="javascript:;">{$vo.name}</a></li>

                        {/volist}

                    </ul>

                </div>



            </div>

            <div class="item common">

                <div class="item_box attr">

                    <ul>

                        <li data-id="0" class="active"><a href="javascript:;">不限</a></li>

                        {volist name=':getAcreage()' id='vo'}

                        <li data-id="{$key}"><a href="javascript:;">{$vo.name}</a></li>

                        {/volist}

                    </ul>

                </div>

            </div>

            <div class="item more"  id="more">

                <form action="">

                    <article class="select_area">


                        

                        <div class="tit">排序</div>

                        <section class="section" id="sort">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">总价从低到高</li>

                                <li data-id="2">总价从高到低</li>

                                <li data-id="3">均价从低到高</li>

                                <li data-id="4">均价从高到低</li>

                                <li data-id="5">面积低到高</li>

                                <li data-id="6">面积从高到低</li>

                            </ul>

                        </section>
                        <div class="tit">面积</div>

                        <section class="section" id="acreage">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">50-100㎡</li>

                                <li data-id="2">100-200㎡</li>

                                <li data-id="3">200-500㎡</li>

                                <li data-id="4">500-1000㎡</li>

                                <li data-id="5">1000以上㎡</li>

                            </ul>

                        </section>
                        <div class="tit">朝向</div>

                        <section class="section" id="orientations">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">东向</li>

                                <li data-id="2">东西</li>

                                <li data-id="3">东南</li>

                                <li data-id="4">东北</li>

                                <li data-id="5">西向</li>
                                <li data-id="6">南向</li>
                                <li data-id="7">南北</li>
                                <li data-id="8">南向</li>

                            </ul>

                        </section>

                        <section class="section" id="room">

                            <div class="tit">居室</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name=':getRoom()' id='vo'}

                                <li data-id="{$key}">{$vo}</li>

                                {/volist}

                            </ul>

                        </section>

                        <!-- <section class="section" id="tags">

                            <div class="tit">标签</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name='tags' id='vo'}

                                <li data-id="{$vo.id}">{$vo.name}</li>

                                {/volist}

                            </ul>

                        </section> -->
                        <div class="tit">拍卖阶段</div>
                        <section class="section" id="orientations">

                            <ul class="clearfix">

                                <li class="active" data-id="0">默认</li>

                                <li data-id="1">一拍</li>

                                <li data-id="2">二拍</li>

                                <li data-id="3">变卖</li>

                            </ul>

                        </section>
                        <section class="section" id="type">

                            <div class="tit">类型</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name='type' id='vo'}

                                <li data-id="{$vo.id}">{$vo.name}</li>

                                {/volist}

                            </ul>

                        </section>

                        <!-- <section class="section" id="renovation">

                            <div class="tit">装修</div>

                            <ul class="clearfix">

                                <li class="active" data-id="0">全部</li>

                                {volist name='renovation' id='vo'}

                                <li data-id="{$vo.id}">{$vo.name}</li>

                                {/volist}

                            </ul>

                        </section> -->

                    </article>

                    <article class="submit_area">

                        <input type="reset" id="more_reset" class="reset" value="清空条件">

                        <input type="button" id="search-btn" class="submit" value="确定">

                    </article>

                </form>

            </div>

        </div>

    </div>

    <!-- 筛选 E -->

    <ul id="search-lists" data-uri="{:url('Ajax/searchSecond')}"></ul>

    {/if}


</div>

<div id="select_bg"></div>

<!-- header-top E-->

{/block}

{block name='content'}
{if condition='$quyus neq 0'}
<div class="main" style="background: #fff;padding-top:7.9rem;">
{else}

<div class="main" style="background: #fff;padding-top:4.5rem;">
{/if}
    <!-- 二手房项目细节 S-->

    <div class="old-house house-show-box">

        <ul id="lists" data-uri="{:url('Second/getSecondLists')}" data-total="{$total_page}">

            {volist name='top_lists' id='vo'}

            <li>
                <div class="pic">

                    <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">
                    
                        <img src="{:thumb($vo['img'],200,150)}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.estate_name}" />

                        {if condition='$storage_open eq 1 and $vo.video'}******<em class="video-play"></em>{/if}

                    </a>

                </div>

                <div class="intro-text">

                    <!-- <h4>

                        <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                            <i class="top-icon">顶</i>{$vo.title}

                        </a>

                    </h4> -->


                    <p class="price"><span>{:getCityName($vo['city'],'-')}</span><span class="price-num"><em>{$vo.price|raw}</em></span></p>

                    <p class="detail-text">{$vo.room}室{$vo.living_room}厅 {$vo.acreage}{:config('filter.acreage_unit')} {:getLinkMenuName(8,$vo['renovation'])}&nbsp; {:getTime($vo['update_time'],'mohu')}更新</p>

                    <p class="good">
                        {php}$tag = array_filter(explode(',',$vo['tags']));{/php}

                        {notempty name='tag'}

                        {volist name='tag' id='val'}

                        <em>{:getLinkMenuName(14,$val)}</em>

                        {/volist}

                        {/notempty}

                    </p>

                </div>

            </li>

            {/volist}

            {volist name='lists' id='vo'}

            <li>
                <h4 style="margin-top:-10px;margin-bottom:10px;">
                    <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">{$vo.title}</a>
                </h4>

                <div class="pic" style="width:6rem;height:4rem;">

                    <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                        {if !empty($vo.pano_url)}
                        <img src="{:thumb($vo['img'],200,150)}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.estate_name}" />
                        {else}
                        <img src="{:thumb($vo['img'],200,150)}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.estate_name}" />
                        {/if}

                        <!-- <img src="{:thumb($vo['img'],200,150)}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.estate_name}" /> -->
                        <!-- {if $vo['iscj'] eq 159}<div style="z-index: 1000; margin-top: -70px; color: #fff; font-size: 18px; margin-left: 50px;"><b>已成交</b></div>{/if} -->
                        {if $vo.fcstatus eq 169}
                        <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:0; right:0;"><img src="/static/images/status/status2.png" original="/static/images/status/status2.png" style="width:60%;height:60%; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 170}
                        <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:0; right:0;"><img src="/static/images/status/status1.png" original="/static/images/status/status1.png" style="width:60%;height:60%; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 171}
                        <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:1rem; right:1.7rem;"><img src="/static/images/status/status3.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 172}
                        <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:1rem; right:1.7rem;"><img src="/static/images/status/status4.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 173}
                        <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:1rem; right:1.7rem;"><img src="/static/images/status/status5.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 174}
                        <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:1rem; right:1.7rem;"><img src="/static/images/status/status6.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 175}
                        <div class="zzjx fix abs" style="float:right;  z-inde:555; position: absolute;top:1rem; right:1.7rem;"><img src="/static/images/status/status7.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                        {/if}

                        {if condition='$storage_open eq 1 and $vo.video'}<em class="video-play"></em>{/if}

                    </a>

                </div>

                <div class="intro-text" style="width:56%;    margin-top: -5px;">

                    <!-- <h4>

                        <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                            {$vo.title}

                        </a>

                    </h4> -->
           {if strstr($vo.acreage,'.')}
            <p class="detail-text" style="color:#000;line-height:.9rem">面积：{$vo.acreage}{:config('filter.acreage_unit')}</p>
          {else}
            <p class="detail-text" style="color:#000;line-height:.9rem">面积：{$vo.acreage}.00{:config('filter.acreage_unit')}</p>

          {/if}
                    <!-- <p class="detail-text" style="color:#000;line-height:.9rem">面积：{$vo.acreage}{:config('filter.acreage_unit')}</p> -->
                    <p class="detail-text" style="color:#000;line-height:.9rem">市场价：<em>{$vo.price|raw}</em></p>
          {if strstr($vo.qipai,'.')}
            <p class="detail-text" style="color:#000;line-height:.9rem">起拍价：<em style="color:red;">{$vo.qipai|raw}万</em>(<em>{$vo.average_price|raw}</em>)</p>
          {else}
            <p class="detail-text" style="color:#000;line-height:.9rem">起拍价：<em style="color:red;">{$vo.qipai|raw}.00万</em>(<em>{$vo.average_price|raw}</em>)</p>

          {/if}    
                    <!-- <p class="detail-text" style="color:#000;line-height:.9rem">起拍价：<em>{$vo.price|raw}</em>(<em>{$vo.average_price|raw}</em>)</p> -->

                    <p class="detail-text" style="color:#000;line-height:.9rem">漏检指标：
					
					
					
					{if $vo.marketprice eq 1}
							

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								{/if}
								
								
								{if $vo.marketprice eq 2}
							

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								{/if}
								
								{if $vo.marketprice eq 3}
							

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								{/if}
								
								{if $vo.marketprice eq 4}
							

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								{/if}
								
								{if $vo.marketprice eq 5}
							

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								{/if}
					
					
					
					
					
					
					
					
					
					</p>
                    <p class="detail-text" style="color:#000;">开拍时间：<b>{$vo['kptime']}</b></p>


                    <!-- <p class="price"><span>{:getCityName($vo['city'],'-')}</span><span class="price-num"><em>{$vo.price|raw}</em></span></p>

                    <p class="detail-text">{$vo.room}室{$vo.living_room}厅 {$vo.acreage}{:config('filter.acreage_unit')} {:getLinkMenuName(8,$vo['renovation'])}&nbsp; {:getTime($vo['update_time'],'mohu')}更新</p> -->

                    <!-- <p class="good" >

                        {php}$tag = array_filter(explode(',',$vo['tags']));{/php}

                        {notempty name='tag'}

                        {volist name='tag' id='val'}

                        <em>{:getLinkMenuName(14,$val)}</em>

                        {/volist}

                        {/notempty}

                    </p> -->

                </div>

            </li>

            {/volist}



        </ul>

        <div class="load-more">

            {notempty name='pages'}

            <a href="javascript:;" id="load-more">加载更多</a>

            {else /}

            <p>数据加载完成</p>

            {/notempty}

        </div>

    </div>

    <!--二手房项目细节 E-->



    {include file='public/footer' /}

</div>

<!-- 筛选 -->

<script type="text/html" id="search-template">

    {{# for(var i = 0, len = d.length; i < len; i++){ }}
    <li><a href="{{d[i].url}}"><span>{{d[i].price}}万</span><em>{{d[i].title}}</em></a></li>

    {{# } }}

</script>

<script type="text/html" id="template">

    {{# for(var i = 0, len = d.length; i < len; i++){ }}

    <li>
                <h4 style="margin-top:-10px;margin-bottom:10px;">
                    <a href="{{d[i].url}}" title="{{d[i].title}}">{{d[i].title}}</a>
                </h4>
        <div class="pic"  style="width:6rem;height:4rem;">

            <a href="{{d[i].url}}" title="{{d[i].title}}" class="clearfix">




                
                {{# if(d[i]['pano_url']!=''){ }}
                    <img src="{{d[i].img}}" onerror="this.src='__STATIC__/images/nopic.jpg'" style="width:200px; height:150px;" alt="{{d[i].title}}" />
                {{# } }}
                {{# if(d[i]['pano_url']==''){ }}
                    <img src="{{d[i].img}}" onerror="this.src='__STATIC__/images/nopic.jpg'" style="width:200px; height:150px;" alt="{{d[i].title}}" />
                {{# } }}


                {{# if(d[i]['fcstatus']=='169'){ }}
                    <div class="zzjx fix abs" style="float:right; top:0; right:0;  z-inde:555; position: absolute;"><img src="/static/images/status/status2.png" original="/static/images/status/status2.png" style="width:60%;height:60%; float:right;"></div>
                {{# } }}
                {{# if(d[i]['fcstatus']=='170'){ }}
                    <div class="zzjx fix abs" style="float:right; top:0; right:0;  z-inde:555; position: absolute;"><img src="/static/images/status/status1.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                {{# } }}
                {{# if(d[i]['fcstatus']=='171'){ }}
                    <div class="zzjx fix abs" style="float:right; top:0; right:0;  z-inde:555; position: absolute;"><img src="/static/images/status/status3.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                {{# } }}
                {{# if(d[i]['fcstatus']=='172'){ }}
                    <div class="zzjx fix abs" style="float:right; top:0; right:0;  z-inde:555; position: absolute;"><img src="/static/images/status/status4.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                {{# } }}
                {{# if(d[i]['fcstatus']=='173'){ }}
                    <div class="zzjx fix abs" style="float:right; top:0; right:0;  z-inde:555; position: absolute;"><img src="/static/images/status/status5.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                {{# } }}
                {{# if(d[i]['fcstatus']=='174'){ }}
                    <div class="zzjx fix abs" style="float:right; top:0; right:0;  z-inde:555; position: absolute;"><img src="/static/images/status/status6.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                {{# } }}
                {{# if(d[i]['fcstatus']=='175'){ }}
                    <div class="zzjx fix abs" style="float:right; top:0; right:0;  z-inde:555; position: absolute;"><img src="/static/images/status/status7.png" original="/static/images/status/status3.png" style="width:60%;height:60%; float:right;"></div>
                {{# } }}


                {{# if(d[i]['is_video']){ }}<em class="video-play"></em>{{# } }}

            </a>

        </div>

        <div class="intro-text" style="width:56%;">





                    <p class="detail-text" style="color:#000;line-height:.9rem">面积：{{d[i].acreage}}</p></em>
                    <p class="detail-text" style="color:#000;line-height:.9rem">市场价：<em>{{d[i].price}}</em></p>
                    <p class="detail-text" style="color:#000;line-height:.9rem">起拍价：<em style="color:red;">{{d[i].price}}</em>(<em>{{d[i].average_price}}</em>)</p>
                    <p class="detail-text" style="color:#000;line-height:.9rem">漏检指标：
					
					
					{{# if(d[i]['marketprice']=='1'){ }}
							

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								
								
								{{# } }}
								
					{{# if(d[i]['marketprice']=='2'){ }}
							

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								
								
								{{# } }}
					{{# if(d[i]['marketprice']=='3'){ }}
							

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								{{# } }}
								
								{{# if(d[i]['marketprice']=='4'){ }}
							

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								{{# } }}
								
								
					
					{{# if(d[i]['marketprice']=='5'){ }}
							

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								{{# } }}
								
					
					
					
					
					</p>
                    <p class="detail-text" style="color:#000;">开拍时间：<b>{{d[i].kptime}}</b>
</p>

            

        </div>

    </li>

    {{# } }}



</script>

<script src="__STATIC__/js/layer/laytpl.js"></script>

<script src="__JS__/search.js"></script>

<script src="__JS__/getData.js"></script>

<script type="text/javascript">

    $(function(){

        $('#load-more').on('click',function(){

            Lists.requestParam = getParam();console.log(getParam());

            Lists.getData();

        });

    });

    function getParam()

    {
        var input=document.getElementById("sousuo").value;
        var inputs=document.getElementById("quyuz").value ;
        
        if(input!=0){
            var area = inputs,
            price = $('#price').attr('data-id'),

                type = $('#type li.active').attr('data-id'),sort = $('#sort li.active').attr('data-id'),

                room = $('#room li.active').attr('data-id'),acreage = $('#acreage').attr('data-id'),

                renovation = $('#renovation li.active').attr('data-id'),tags = $("#tags li.active").attr('data-id');
        }else{
            var area = $('#area').attr('data-id'),
            price = $('#price').attr('data-id'),

                type = $('#type li.active').attr('data-id'),sort = $('#sort li.active').attr('data-id'),

                room = $('#room li.active').attr('data-id'),acreage = $('#acreage').attr('data-id'),

                renovation = $('#renovation li.active').attr('data-id'),tags = $("#tags li.active").attr('data-id');
        }

        

            

        return {

            area : area,

            price : price,

            type  : type,

            sort  : sort,

            room : room,

            tags : tags,

            acreage  : acreage,

            renovation : renovation

        };

    }

</script>

{/block}