{extend name='user/public/layout' /}
{block name='content'}
<div class="content add_house">
    <form class="layui-form" id="info_form" action="{:url('edit')}" method="post" enctype="multipart/form-data">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">编辑资料</li>
                <li><a href="{:url('avatar')}">上传头像</a></li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">手机号 </label>
                            <div class="layui-input-inline" style="line-height: 40px;">
                                {$info.mobile}
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">昵称 </label>
                            <div class="layui-input-inline">
                                <input type="text" class="layui-input" name="nick_name" id="nick_name" placeholder="王先生"  autocomplete="off" value="{$info.nick_name}" >
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">邮箱 </label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" id="email" lay-verify="email" value="{$info.email}" placeholder="service@tpfangchan.com" class="layui-input">
                            </div>
                        </div>
                    </div>
                    {if condition="$info.model neq 1"}
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">所属公司 </label>
                            <div class="layui-input-inline">
                                <input type="text" name="data[company]" id="company" value="{$info.userInfo.company}" placeholder="例：XX房产经纪有限公司" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-block">
                            <label class="layui-form-label">个人介绍 </label>
                            <div class="layui-input-block">
                                <textarea name="data[description]" id="description" class="layui-textarea">{$info.userInfo.description}</textarea>
                            </div>
                        </div>
                    </div>
                    {/if}
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">&nbsp;</label>
            <button type="button" lay-submit="" class="layui-btn btn-submit layui-btn-danger w240">提交</button>
        </div>
    </form>

</div>
<script>
    layui.use(['jquery','layer'],function(){
        var $ = layui.jquery,layer = layui.layer;
        $('.btn-submit').on('click',function(){
            var nick_name = $('#nick_name').val(),email = $('#email').val(),url = $('#info_form').attr('action'),
                    company = $('#company').val(),description=$("#description").val();
            if(!nick_name)
            {
                layer.msg('请填写昵称',{icon:2});
                return false;
            }else{
                layer.load(1);
                var param = {
                    nick_name : nick_name,
                    email     : email,
                    data : {
                        company : company,
                        description : description
                    }
                };
                $.post(url,param,function(result){
                    layer.closeAll();
                    if(result.code == 1)
                    {
                        layer.msg(result.msg,{icon:1},function(){
                            window.location.reload();
                        });
                    }else{
                        layer.msg(result.msg,{icon:2});
                    }
                });
            }

        });
    });
</script>
{/block}