<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>房拍网</title>
    <!-- <title>{$seo.title}</title> -->
    <meta name="keywords" content="{$seo.keys}" />
    <meta name="description" content="{$seo.desc}" />
    <script src="__STATIC__/js/jquery.min.js"></script>
    <script src="__JS__/font-size.js"></script>
    <link rel="stylesheet" href="__CSS__/base.css?t={:time()}">
    <link rel="stylesheet" href="__CSS__/style.css?t={:time()}">

</head>
<body>
{block name='header'}
<!-- 头部 S-->
<div class="mc-header">
    <a href="/" class="go-back"></a>
    <h3>企业经营贷</h3>
</div>
<!-- 头部 E-->
{/block}



{block name='content'}


<div>
    <img src="/static/images/qyjyd.jpg" alt="" style="width:90%;margin-left:5%;">
</div>

{/block}
</body>
</html>