{extend name='public/layout' /}
{block name='content'}
<!--菜单添加-->
<div class="dialog_content">
    <form class="layui-form" id="info_form" action="{:url('addDo')}" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">上级菜单</label>
            <div class="layui-input-inline">
                <select name="pid">
                    <option value="0">作为一级菜单</option>
                    {$select_menus|raw}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">菜单名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" id="title" placeholder="菜单名称" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">控制器名称</label>
            <div class="layui-input-inline">
                <input type="text" name="module_name" id="module_name" placeholder="控制器名称" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">方法名</label>
            <div class="layui-input-inline">
                <input type="text" name="action_name" id="action_name" class="layui-input" placeholder="方法名">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">附加参数</label>
            <div class="layui-input-inline">
                <input type="text" name="data" id="data" class="layui-input" placeholder="附加参数">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">字体图标</label>
            <div class="layui-input-inline">
                <input type="text" name="icon" id="icon" class="layui-input" placeholder="字体图标">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-inline">
                <textarea name="remark" id="remark" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否显示</label>
            <div class="layui-input-inline">
                <input type="radio" name="display" class="radio_style" value="1" checked="checked" title="是">
                <input type="radio" name="display" class="radio_style" value="0" title="否">
            </div>
        </div>
    </form>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/plugins/formvalidator.js"></script>
<script src="/static/js/layer/layer.js"></script>
<script src="/static/js/plugins/jquery.ajax.form.js"></script>
<script>
    $(function(){
        $.formValidator.initConfig({formid:"info_form",autotip:true});
        $("#title").formValidator({ onshow:'填写菜单名称', onfocus:'填写菜单名称', oncorrect:'正确'}).inputValidator({ min:1, onerror:'填写菜单名称'});
        $("#module_name").formValidator({ onshow:'填写控制器名', onfocus:'填写控制器名', oncorrect:'正确'}).inputValidator({ min:1, onerror:'填写控制器名'});
        $("#action_name").formValidator({ onshow:'填写方法名', onfocus:'填写方法名', oncorrect:'正确'}).inputValidator({ min:1, onerror:'填写方法名'});
        $('.J_cate_select').cate_select();
    });
    function submitForm(){
        $("#info_form").ajaxForm({success:complate,dataType:'json'}).submit();
    }
    function complate(result){
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        if(result.code == 1){
            parent.layer.msg(result.msg,{icon:1,time:1500},function(){
                window.parent.location.reload();
            });

        } else {
            layer.msg(result.msg,{icon:2});
        }
    }
</script>
{/block}