{extend name="public/layout" /}
{block name='content'}
<!--成交列表-->
<form class="layui-form" action="">
    <div class="layui-form layui-border-box layui-table-view">
        <table id="tree-table" class="layui-table list-table" cellspacing="0" cellpadding="0" border="0" data-uri="{:url('HousePhoto/ajaxEdit')}">
            <colgroup>
                <col width="5%">
                <col width="20%">
                <col width="20%">
                <col width="15%">
                <col width="15%">
                <col width="10%">
                <col width="15%">
            </colgroup>
            <thead>
            <tr>
                <th>
                    <div class="layui-table-cell">
                        <input name="checkAll" lay-skin="primary" lay-filter="checkAll" type="checkbox">
                    </div>
                </th>
                <th>
                    <div class="layui-table-cell"><span>成交户型</span></div>
                </th>
                <th>
                    <div class="layui-table-cell"><span>所属小区</span></div>
                </th>
                <th>
                    <div class="layui-table-cell"><span>面积</span></div>
                </th>
                <th>
                    <div class="layui-table-cell"><span>价格</span></div>
                </th>
                <th>
                    <div class="layui-table-cell"><span>成交时间</span></div>
                </th>
                <th>
                    <div class="layui-table-cell" align="center"><span>操作</span></div>
                </th>

            </tr>
            </thead>
            <tbody>
            {volist name="list" id="val"}
            <tr>
                <td>
                    <div class="layui-table-cell laytable-cell-checkbox">
                        <input lay-skin="primary" lay-filter="checkOne" value="{$val.id}" type="checkbox" />
                    </div>
                </td>
                <td>
                    <div class="layui-table-cell">
                        {$val.title}
                    </div>
                </td>
                <td data-field="title">
                    <div class="layui-table-cell">
                        {$estateInfo.title}
                    </div>
                </td>

                <td>
                    <div class="layui-table-cell">
                        {$val.acreage}{:config('filter.acreage_unit')}
                    </div>
                </td>
                <td>
                    <div class="layui-table-cell">
                        {$val.price}万
                    </div>
                </td>
                <td>
                    <div class="layui-table-cell">
                        {$val.complate_time|date='Y-m-d'}
                    </div>
                </td>
                <td>
                        {:rights($options,$val['id'],$val['title'],$menuid)}
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
    <div class="kaifazhe-fix-bottom layui-clear">
        <div class="kaifazhe-list-option layui-fl">
            <input name="checkAll" lay-filter="checkAll" lay-skin="primary" title="全选/取消" type="checkbox">
            <button type="button" lay-submit lay-filter="optionAll" data-msg="确定要删除所选项目么？" data-uri="{:url('delete')}" class="layui-btn layui-btn-danger layui-btn-sm">删除</button>
        </div>
        <div id="pages" class="layui-layout-right">
            {$pages|raw}
        </div>
    </div>
</form>
{/block}
