{extend name='public/layout' /}
{block name='header'}
<!-- header S-->
<header id="header">
    <div class="city-box">
        <a href="javascript:;">{$cityInfo.name}</a>
    </div>
    <div class="logo-box">
        <img src="{$site.mobile_logo}" alt="">
    </div>
    <div class="person-center" onclick="window.location.href='{:url("user.index/index")}'">
    <a href="{:url('user.index/index')}"></a>
    </div>
</header>
<!-- header E-->
{/block}
{block name='content'}
<div class="select-city-box">
    <div class="mc-header">
        <a href="javascript:;" id="city-box-close" class="city-box-back"></a>
        <h3>选择城市</h3>
    </div>
    <div class="city-lists">
        {volist name='city.city' id='vo'}
        <dl>
            <dt>{$key}</dt>
            {volist name='vo' id='val'}
            <dd {if condition="$val.is_hot eq 1"}class="is-hot"{/if}><a href="{:config('mobile_domain')}/{$val.domain}/">{$val.name}</a></dd>
            {/volist}
        </dl>
        {/volist}
    </div>
</div>
<div class="main">
    {volist name='module' id='vo'}
    {:action('home/Module/index',['tpl'=>'module/index/'.$vo['id']])}
    {/volist}
    <div style="height:50px;"></div>
</div>
<script>
    var swiper = new Swiper('.box', {
        pagination: {
            el: '.swiper-menu-pagination',
            type: 'fraction'
        }
    });
    // 头条---------------S
    var textH=$("#text-scroll li").height();
    var mt=textH;
    var timerA=null;

    timerA=setInterval(function(){
        textMove();
    },4000);
    setTimeout(timerA,2000);

    $(".headlines .text").hover(function(){
        clearInterval(timerA);
    },function(){
        timerA=setInterval(textMove,4000);
    });

    function textMove(){
        $("#text-scroll").animate({marginTop:-mt+'px'},function(){
            $(this).css({marginTop:0}).find('li:first').appendTo($(this));
        });

    }
    // 头条---------------E
    $(function(){
        $(".city-box").on('click',function(){
            $(".select-city-box").show();
        });
        $('#city-box-close').on('click',function(){
            $(".select-city-box").hide();
        }) ;
        setTimeout(takeCount,1000);
    });
    function takeCount() {
        setTimeout("takeCount()", 1000);
        $(".time-remain").each(function(){
            var obj = $(this);
            var tms = obj.data("down");
            if (tms>0) {
                tms = parseInt(tms)-1;
                var days = Math.floor(tms / (1 * 60 * 60 * 24));
                var hours = Math.floor(tms / (1 * 60 * 60)) % 24;
                var minutes = Math.floor(tms / (1 * 60)) % 60;
                var seconds = Math.floor(tms / 1) % 60;

                if (days < 0) days = 0;
                if (hours < 0) hours = 0;
                if (minutes < 0) minutes = 0;
                if (seconds < 0) seconds = 0;
                obj.find("[time_id='d']").html(days);
                obj.find("[time_id='h']").html(hours);
                obj.find("[time_id='m']").html(minutes);
                obj.find("[time_id='s']").html(seconds);
                obj.data("down",tms);
            }
        });
    }
</script>
{/block}

