{extend name='public/layout' /}
{block name='content'}
<link rel="stylesheet" href="__CSS__/form.css">
<!-- form S -->
<div class="form-wrap">
    <h3>重置密码</h3>
    <div class="form_box">
        <div class="sec">
            <div class="label">
                <img src="__IMG__/icon/phone.png" class="phone_img" alt="">
            </div>
            <div class="ipt">
                <input type="text" id="mobile" placeholder="请输入手机号">
            </div>
        </div>
        <div class="sec">
            <div class="label">
                <img src="__IMG__/icon/code.png" class="code_img" alt="">
            </div>
            <div class="ipt">
                <input type="text" id="sms_code" placeholder="请输入验证码">
            </div>
            <div class="get_code" id="smsCode">获取验证码</div>
        </div>
        <div class="sec">
            <div class="label">
                <img src="__IMG__/icon/pass.png" class="pass_img" alt="">
            </div>
            <div class="ipt">
                <input type="password" id="password" placeholder="请设置新密码（最少6位，数字+字母）">
            </div>
        </div>
        <div class="sec">
            <div class="label">
                <img src="__IMG__/icon/pass.png" class="pass_img" alt="">
            </div>
            <div class="ipt">
                <input type="password" id="password2" placeholder="确认新密码（最少6位，数字+字母）">
            </div>
        </div>
        <div class="btn_area">
            {:token()}
            <input type="button" data-uri="{:url('Login/resetPassword')}" class="submit" value="重置密码">
        </div>
    </div>
</div>
<!-- form E -->
<script type="text/javascript" src="__STATIC__/js/layer/layer.js"></script>
<script>
    $(function(){
        $(".submit").on('click',function(){
            var mobile = $('#mobile').val(),sms_code = $('#sms_code').val(),password = $('#password').val(),
                    password2 = $('#password2').val(),reg = /^1[3456789][0-9]{9}$/,token = $("input[name='__token__']").val();
            if(!reg.test(mobile))
            {
                layer.msg('手机号格式不正确！',{icon:2});
                return false;
            }else if(!sms_code){
                layer.msg('请填写短信验证码！',{icon:2});
                return false;
            }else if(password.length < 6){
                layer.msg('密码至少由6位数字或字母组合',{icon:2});
                return false;
            }else if(password != password2){
                layer.msg('两次密码输入不一致！',{icon:2});
                return false;
            }else{
                var param = {
                    mobile :mobile,
                    sms_code : sms_code,
                    password : password,
                    password2 : password2,
                    token       : token
                };
                var url = $(this).data('uri');
                $.post(url,param,function(result){
                    if(result.code == 1)
                    {
                        window.location.href = result.uri;
                    }else{
                        layer.msg(result.msg,{icon:2});
                    }
                });
            }
        });
        $("#smsCode").bind('click',function(){
            getCode();
        });

    });
    var time=60,times='';
    function getCode(){
        if(time<60) return false;
        var mobile=$("#mobile").val(),reg = /^1[3456789][0-9]{9}$/;
        if(!reg.test(mobile)){
            layer.msg('请填写正确的手机号码',{icon:2});
            return false;
        }
        $.post("{:url('Api/sendSms')}",{'mobile':mobile,'exists':2},function(data){
            if(data.code==1){
                time --;
                layer.msg('验证码发送成功，请注意查收',{icon:1});
                times = setInterval(timer,1000);
            }else{
                layer.msg(data.msg,{icon:2});
            }
        });
    }
    function timer(){
        var code = $("#smsCode");
        if(time == 0){
            time = 61;
            code.text('获取验证码');
            clearInterval(times);
        }else{
            code.text(time+'秒后获取');
        }
        time --;
    }
</script>
{/block}