<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>房拍网</title>
    <!-- <title>{$seo.title}</title> -->
    <meta name="keywords" content="{$seo.keys}" />
    <meta name="description" content="{$seo.desc}" />
    <script src="__STATIC__/js/jquery.min.js"></script>
    <script src="__JS__/font-size.js"></script>
    <link rel="stylesheet" href="__CSS__/base.css?t={:time()}">
    <link rel="stylesheet" href="__CSS__/style.css?t={:time()}">

</head>
<body style="    background: #fff;height:auto">
{block name='header'}
<!-- 头部 S-->
<div class="mc-header" style="background:#1aad19">
    <a href="javascript:;" class="go-back" style="background: url(/static/login/fh.png) center no-repeat;background-size:30px"></a>
    <h3 style="color:#fff;    text-align: center;">{$title|default=$site["title"]}</h3>
</div>
<!-- 头部 E-->
{/block}



<div style="width:100%; height:auto; background:#fff">
			<div style="width:300px; height:154px; margin:0 auto; background-image:url(/static/login/logo.jpg); margin-top:20px"></div>
			</div>


{block name='content'}
<link rel="stylesheet" href="__CSS__/form.css">
<!-- form S -->
<div class="form-wrap">

    <div class="form_box">
        <div class="sec">
            <div class="label">
                <img src="__IMG__/icon/phone.png" class="phone_img" alt="">
            </div>
            <div class="ipt">
                <input type="text" name="mobile" id="mobile" placeholder="请输入手机号">
            </div>
        </div>
        <div class="sec">
            <div class="label">
                <img src="__IMG__/icon/pass.png" class="pass_img" alt="">
            </div>
            <div class="ipt">
                <input type="password" name="password" id="password" placeholder="请输入密码">
            </div>
        </div>
        <div class="btn_area">
            {:token()}
            <input type="hidden" name="forward" id="forward" value="{$forward}">
            <input type="button" class="submit" data-uri="{:url('Login/loginDo')}" value="立即登录" style="    line-height: 50px;">
        </div>
    </div>
    <div class="link_wrap clearfix">
        <a href="{:url('Login/register')}" class="l">没有账号？去注册</a>
        <a href="{:url('Login/forgetPassword')}" class="r">忘记密码？</a>
    </div>
</div>
<!-- form E -->
<script src="__STATIC__/js/layer/layer.js"></script>
<script type="text/javascript">
    $(function(){
        $('.submit').on('click',function(){
            var mobile = $('#mobile').val(),password = $('#password').val(),reg = /^1[3456789][0-9]{9}$/,
                    token = $("input[name='__token__']").val(),url = $(this).data('uri'),
                    forward = $('#forward').val();
            if(!reg.test(mobile))
            {
                layer.msg('手机号码格式不正确');
                return false;
            }else if(password.length < 6){
                layer.msg('密码至少为6位！');
                return false;
            }else{
                var param = {
                    mobile : mobile,
                    password : password,
                    token : token,
                    forward : forward
                };
                $.post(url,param,function(result){
                    if(result.code == 1)
                    {
                        window.location.href = result.uri;
                    }else{
                        layer.msg(result.msg);
                    }
                });
            }
        });
    });
</script>
{/block}



  <link href="/static/login/style.css" rel="stylesheet" type="text/css">
        <section class="aui-flexView" style="display:none">
          
                <div class="aui-login-line">
                    <h2 style="font-size:15px">合作账号登录</h2>
                </div>
                <div class="aui-login-armor">
                    <a href="javascript:;" class="aui-tabBar-item">
                        <img src="/static/login/icon-sin-001.png" alt="">
                    </a>
                    <a href="javascript:;" class="aui-tabBar-item">
                        <img src="/static/login/icon-sin-002.png" alt="">
                    </a>
                    
                </div>
        
        </section>


  <style>
  input[type=button]{
	-webkit-appearance:none;
	outline:none
}
  
  </style>
<div style="display:none;" id="weixin-share" data-desc="{present name='info'}{:msubstr(strip_tags($info['info']),0,50)}{else /}{$site.seo_desc}{/present}"></div>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script>
    $(function(){
       $('.detail-go-back,.go-back').on('touchend',function(){
           window.history.back();
       }) ;
        var img_url = "{:config('mobile_domain')}{$info.img|default=$site['pc_logo']}";
        var shareData = {
            title: "{$share_title?$share_title:$seo.title}",
            link: window.location.href,
            desc: $("#weixin-share").data('desc'),
            imgUrl: img_url,
            success:function(){

            }
        };
        var jssdkconfig = {$sdk_config|raw} || { jsApiList:[] };
        wx.config(jssdkconfig);
        wx.ready(function () {
            wx.onMenuShareAppMessage(shareData);
            wx.onMenuShareTimeline(shareData);
            wx.onMenuShareQQ(shareData);
            wx.onMenuShareWeibo(shareData);
        });
    });
</script>
</body>
</html>