<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$seo.title}</title>
    <meta name="keywords" content="{$seo.keys}" />
    <meta name="description" content="{$seo.desc}" />
    <link rel="stylesheet" type="text/css" href="__CSS__/reset.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/input.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/login.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/color.css">
    <style>
        .layui-layer-content{padding:15px;line-height: 25px;}
    </style>
</head>
<body>
<div class="login">
    <div class="header">
        <div class="comWidth">
            <a href="{:url('Index/index')}"><img src="{$site.pc_logo}" alt="logo" class="logo" style="height:60px"></a>
        </div>
    </div>
    <div class="main">
        <div class="m_con">
            <h1><span><a href="{:url('Login/index')}">已有账号，立即登录</a></span>用户注册</h1>
            <div class="form_box">
                <div class="chkb_sct" style="height:20px;">
                    <div class="sct_ipt">
                        {volist name='user_cate' id='vo'}
                        {if condition="$vo.fee eq 0"}
                        <label><input type="radio" name="model" value="{$vo.id}">{$vo.name}</label>&nbsp;&nbsp;
                        {/if}
                        {/volist}
                    </div>
                </div>
                <div class="sct clearfix">
                    <div class="sct_ipt">
                        <input type="text" class="ipt"  name="user_name" id="mobile" placeholder="请输入手机号">
                        <span class="placeholder">请输入手机号</span>
                    </div>
                </div>
                {if condition='$user_setting["reg_sms"] eq 1'}
                <div class="sct check_code clearfix">
                    <div class="sct_ipt fl">
                        <input type="text" class="ipt"  name="sms_code" id="sms_code" placeholder="请输入短信验证码">
                        <span class="placeholder">请输入短信验证码</span>
                    </div>
                    <span class="get_code fl" id="smsCode">获取验证码</span>
                </div>
                {/if}
                <div class="sct clearfix">
                    <div class="sct_ipt">
                        <input type="password" class="ipt"  name="password" id="password" placeholder="请设置6-12位密码，数字+字母">
                        <span class="placeholder">请设置6位以上密码，数字+字母</span>
                    </div>
                </div>
                <div class="sct clearfix">
                    <div class="sct_ipt">
                        <input type="password" class="ipt"  name="password2" id="password2" placeholder="确认密码">
                        <span class="placeholder">确认密码</span>
                    </div>
                </div>
                <div class="sct str_check_code clearfix">
                    <div class="sct_ipt fl">
                        <input type="text" class="ipt"  name="verfiy_code" id="verfiy_code" placeholder="请输入右侧验证码">
                        <span class="placeholder">请输入右侧验证码</span>
                    </div>
                    <img src="{:url('Verfiy/index')}" alt="" class="get_code fr verify_img">
                </div>

                <div class="chkb_sct">
                    {:token()}
                    <input type="checkbox" name="agree" id="agree" value="1" class="chk">
                    <label for="agree">我已阅读并同意《<a href="javascript:;" id="agreement">{$site.title}用户协议</a>》</label>
                </div>
                <div class="sct btn_area">
                    <input type="hidden" id="reg_sms" value="{$user_setting['reg_sms']}">
                    <input type="button" id="reg_btn" data-uri="{:url('Login/registerDo')}" value="立即注册" class="sbm">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>{$site.company_name}版权所有：Copyright &copy;{:date('Y')}  {$site.icp|raw}</p>
    </div>
</div>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/layer/layer.js"></script>
<script src="__JS__/placeholder.js"></script>
<script>
    $(function(){
        $('#agreement').on('click',function(){
            var html = '{$agreement.info|raw}';
            if(html)
            {
                layer.open({
                    type : 1,
                    title : false,
                    area  : ['500px','500px'],
                    content : html
                });
            }

        });
        $("#reg_btn").on('click',function(){
            var mobile = $('#mobile').val(),sms_code = $('#sms_code').val(),password = $('#password').val(),
                    password2 = $('#password2').val(),verfiy_code = $('#verfiy_code').val(),model = $("input[name='model']:checked").val(),
                    agree = $('input[name="agree"]:checked').val(),reg = /^1[3456789][0-9]{9}$/,
                    token = $("input[name='__token__']").val(),send_sms = $('#reg_sms').val();
            if(!reg.test(mobile))
            {
                layer.msg('手机号格式不正确！',{icon:2});
                return false;
            }else if(!sms_code && send_sms == 1){
                layer.msg('请填写短信验证码！',{icon:2});
                return false;
            }else if(password.length < 6){
                layer.msg('密码至少由6位数字或字母组合',{icon:2});
                return false;
            }else if(password != password2){
                layer.msg('两次密码输入不一致！',{icon:2});
                return false;
            }else if(!verfiy_code){
                layer.msg('请填写验证码！',{icon:2});
                return false;
            }else if(agree != 1){
                layer.msg('请先同意用户协议！',{icon:2});
                return false;
            }else{
                var param = {
                    mobile :mobile,
                    sms_code : sms_code,
                    password : password,
                    password2 : password2,
                    verfiy_code : verfiy_code,
                    model : model,
                    token       : token
                };
                var url = $(this).data('uri');
                $.post(url,param,function(result){
                    if(result.code == 1)
                    {
                        window.location.href = result.uri;
                    }else{
                        layer.msg(result.msg,{icon:2});
                    }
                });
            }
        });
        $("#smsCode").bind('click',function(){
            getCode();
        });
        $(".verify_img").click(function(){
            var timenow = new Date().getTime();
            $(this).attr("src","{:url('Verfiy/index')}?t="+timenow)
        });
    });
    var time=60,times='';
    function getCode(){
        if(time<60) return false;
        var mobile=$("#mobile").val(),reg = /^1[3456789][0-9]{9}$/;
        if(!reg.test(mobile)){
            layer.msg('请填写正确的手机号码',{icon:2});
            return false;
        }
        $.post("{:url('Sms/sendSms')}",{'mobile':mobile,'exists':1},function(data){
            if(data.code==1){
                time --;
                layer.msg('验证码发送成功，请注意查收',{icon:1});
                times = setInterval(timer,1000);
            }else{
                layer.msg(data.msg,{icon:2});
            }
        });
    }
    function timer(){
        var code = $("#smsCode");
        if(time == 0){
            time = 61;
            code.text('获取验证码');
            clearInterval(times);
        }else{
            code.text(time+'秒后获取');
        }
        time --;
    }
</script>
</body>
</html>