{extend name="public/layout" /}
{block name='content'}
<style>
    .layui-form-label{width:85px;font-size:12px;}
    .layui-input-block{margin-left:120px;}
</style>
<form class="layui-form" id="info_form" action="{:url('addDo')}" method="post" enctype="multipart/form-data">
    <div class="layui-form-item">
        <label class="layui-form-label"><span style="color:#ff0000;">*</span>分类名称</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" name="name" lay-verify="required" placeholder="普通会员" />
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">每天免费发布</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="0" lay-verify="number" name="data[free_day_send]" placeholder="0" />
            </div>
            <div class="layui-input-inline">
                条/天 0为不限制。
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">共免费发布</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="0" lay-verify="number" name="data[free_all_send]" placeholder="0" />
            </div>
            <div class="layui-input-inline">
                条 0为不限制。
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">年费</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="0" lay-verify="number" name="fee" placeholder="0" />
            </div>
            <div class="layui-input-inline">
                元/年 0为不收取年费。
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">超出收费</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="0" lay-verify="number" name="data[price]" placeholder="0" />
            </div>
            <div class="layui-input-inline">
                元/条 0为不收费，年费用户设置为0,设置为-1表示超出限制后不可发布。
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">置顶</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="1" lay-verify="price" name="fee_top" placeholder="1" />
            </div>
            <div class="layui-input-inline">
                元/条/天，置顶按天收费。
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">二手房审核</label>
            <div class="layui-input-block">
                <input type="radio" name="data[check_second]" value="0" title="是" />
                <input type="radio" name="data[check_second]" value="1" title="否" checked="checked" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">出租房审核</label>
            <div class="layui-input-block">
                <input type="radio" name="data[check_rental]" value="0" title="是" />
                <input type="radio" name="data[check_rental]" value="1" title="否" checked="checked" />
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">写字楼出售审核</label>
            <div class="layui-input-block">
                <input type="radio" name="data[check_office]" value="0" title="是" />
                <input type="radio" name="data[check_office]" value="1" title="否" checked="checked" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">写字楼出租审核</label>
            <div class="layui-input-block">
                <input type="radio" name="data[check_office_rental]" value="0" title="是" />
                <input type="radio" name="data[check_office_rental]" value="1" title="否" checked="checked" />
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">商铺出售审核</label>
            <div class="layui-input-block">
                <input type="radio" name="data[check_shops]" value="0" title="是" />
                <input type="radio" name="data[check_shops]" value="1" title="否" checked="checked" />
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">商铺出租审核</label>
            <div class="layui-input-block">
                <input type="radio" name="data[check_shops_rental]" value="0" title="是" />
                <input type="radio" name="data[check_shops_rental]" value="1" title="否" checked="checked" />
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">&nbsp;</label>
        <button type="submit" lay-submit class="layui-btn btn-submit w200">提 交</button>
    </div>
</form>
<script>
    layui.use(['form','layer'],function(){
        var form = layui.form;
        form.verify({
            price: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(isNaN(value) || value <= 0){
                    return '置顶费用必须大于0，支持1位小数';
                }
            }
        });
    });
</script>
{/block}