{extend name="public/layout" /}
{block name='content'}
<form class="layui-form" id="info_form" action="{:url('editDo')}" method="post" enctype="multipart/form-data">
    <div class="layui-tab layui-tab-brief">
        <ul class="layui-tab-title">
            <li class="layui-this">模块信息</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="layui-form-alert">*</span>模块类型</label>
                    <div class="layui-input-inline">
                        {if condition="$terminal eq 1"}
                        <input type="radio" name="type" value="1" title="通栏" {if condition="$info.type eq 1"}checked{/if}>
                        <input type="radio" name="type" value="2" title="固定宽度(1200px)" {if condition="$info.type eq 2"}checked{/if} />
                        {else /}
                        <input type="radio" name="type" value="1" title="通栏" checked="checked" />
                        {/if}
                        <input type="hidden" name="terminal" value="{$terminal}" />
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span class="layui-form-alert">*</span>模块名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" lay-verify="required" placeholder="模块名称" value="{$info.name}" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">预览图</label>
                    <div class="layui-input-block">
                        <div class="layui-upload">
                            <input type="hidden" name="img" value="{$info.img}" id="img_txt">
                            <button type="button" class="layui-btn" id="img">上传图片</button>
                            <div id="img_preview">
                                {notempty name='info.img'}
                                <img class='layui-upload-img' src="{$info.img}" alt="" width="100" />
                                <a href='javascript:;' data-text='img_txt' data-src='{$info.img}' class='deleteImg layui-btn layui-btn-xs layui-btn-danger'>删除</a>
                                {/notempty}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">模块代码</label>
                    <div class="layui-input-block" style="width:880px;">
                        <textarea placeholder="模块代码" name="content" lay-verify="required" class="layui-textarea" style="height:500px;">{$info.content}</textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="layui-form-item">
        <input type="hidden" name="id" id="id" value="{$info.id}">
        <label class="layui-form-label">&nbsp;</label>
        <button type="submit" lay-submit="" class="layui-btn btn-submit w200">提交</button>
    </div>
</form>
<script>
    var uploadUrl = "{:url('ajaxUploadImg')}",deleteImgUrl = "{:url('deleteImg')}";
    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
    layui.use(['form','upload'], function(){
        var $ = layui.jquery,form = layui.form,upload = layui.upload;
        upload.render({
            elem: '#img'
            ,url: uploadUrl
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    var img = "<img class='layui-upload-img' src='"+result+"' width='100'/>";
                    $('#img_preview').html(img); //图片链接（base64）
                });
            }
            ,done: function(res){console.log(res);
                //如果上传失败
                if(res.code == 0){
                    return layer.msg('上传失败');
                }else{
                    var img = "<img class='layui-upload-img' src='"+res.data+"' width='100'/><a href='javascript:;' data-text='img_txt' data-src='"+res.data+"' class='deleteImg layui-btn layui-btn-xs layui-btn-danger'>删除</a>";
                    $("#img_txt").val(res.data);
                    $("#img_preview").html(img);
                }
                //上传成功
            }

        });
        $(document).on('click','.deleteImg',function(){
            var that = $(this),img = $(this).data('src'),textId = $(this).data('text'),id = $("#id").val();
            layer.confirm('确定要删除图片么?', {icon: 3, title:'提示'}, function(index){
                var param = {
                    'path' : img,
                    field  : 'img',
                    id     : id
                };
                $.post(deleteImgUrl,param,function(res){
                    layer.close(index);
                    if(res.code == 1){
                        $("#"+textId).val('');
                        that.parent().html('');
                    }else{
                        layer.msg(res.msg,{icon:2});
                    }
                });
            });

        });
    });
</script>
{/block}