{extend name="public/layout" /}

{block name='content'}

<form class="layui-form" id="info_form" data-uri="{:url('Linkmenu/ajaxGetAttr')}" data-cacheuri="{:url('Linkmenu/ajaxGetMenuCache')}" action="{:url('SecondHouse/addDo')}" method="post" enctype="multipart/form-data">

    <div class="layui-tab layui-tab-brief">

        <ul class="layui-tab-title">

            <li class="layui-this">房源信息</li>

            <li>seo信息</li>

        </ul>

        <div class="layui-tab-content">

            <div class="layui-tab-item layui-show">

                <div class="layui-form-item">

                    <div class="layui-inline">

                        <label class="layui-form-label"><span class="layui-form-alert">*</span>所属小区 </label>

                        <div class="layui-input-inline">

                            <input type="hidden" name="estate_id" id="estate_id" value="">

                            <input type="text" name="estate_name" lay-verify="estate_id" id="estate_name" data-title="选择小区" data-uri="{:url('Estate/ajaxGetEstate')}" class="layui-input" placeholder="选择小区">

                        </div>

                    </div>

                    <div class="layui-inline">

                        <label class="layui-form-label"><span class="layui-form-alert">*</span>所属区域</label>

                        <input type="hidden" name="city" id="J_city_id" value="" />

                        <div class="layui-input-block">

                            <select name="" lay-filter="province" id="province" data-uri="{:url('City/ajaxGetchilds')}">

                                <option value="0">--请选择--</option>

                                {volist name=':getProvinceLists()' id='vo'}

                                <option value="{$vo.id}">{$vo.name}</option>

                                {/volist}

                            </select>

                            <select class="J_city_select mr10" lay-filter="J_city_select" data-pid="0" data-uri="" data-selected="">

                            </select>

                        </div>

                    </div>

                </div>

                <div class="layui-form-item">

                    <div class="layui-inline">

                        <label class="layui-form-label"><span class="layui-form-alert">*</span>房源名称</label>

                        <div class="layui-input-inline">

                            <input type="text" name="title" lay-verify="title" placeholder="房源名称" value="" autocomplete="off" class="layui-input">

                        </div>

                    </div>

                    <div class="layui-inline">

                        <label class="layui-form-label"><span class="layui-form-alert">*</span>房型</label>

                        <div class="layui-input-inline" style="width:50px;">
                            {:getLinkMenu(29,'toilet' ,'select',18338)}

                             <!-- {:getLinkMenu(7,'floor','select',38)} -->
                            <!-- <input type="text" name="room"  lay-verify="room" size="10" placeholder="" value="" autocomplete="off" class="layui-input"> -->

                        </div>

                     <!--    <div class="layui-form-mid layui-word-aux layui-fl" style="margin-left:10px;">室</div>

                        <div class="layui-input-inline" style="width:50px;">

                            <input type="text" name="living_room"  lay-verify="living_room" size="10" placeholder="" value="" autocomplete="off" class="layui-input">

                        </div>

                        <div class="layui-form-mid layui-word-aux layui-fl" style="margin-left:10px;">厅</div>

                      
                        
                        <div class="layui-input-inline" style="width:50px;">

                            <input type="text" name="toilet"  lay-verify="toilet" size="10" placeholder="独栋" value="" autocomplete="off" class="layui-input">

                        </div>

                        <div class="layui-form-mid layui-word-aux layui-fl" style="margin-left:10px;">独栋别墅</div> -->

                    </div>



                </div>

                <div class="layui-form-item">

                    <div class="layui-inline">

                        <label class="layui-form-label"><span class="layui-form-alert">*</span>面积 </label>

                        <div class="layui-input-inline" style="width:95px;">

                            <input type="text" class="layui-input" lay-verify="acreage" id="acreage" name="acreage" placeholder=""  autocomplete="off" value="" >

                        </div>

                        <div class="layui-form-mid layui-word-aux layui-fl" style="margin-left:10px;">㎡ 市场价<a href="javascript:;" data-title="不填写价格或填写0前台显示为待定" class="layui-icon layui-icon-tips alert" style="display:none"></a></div>

                        <div class="layui-input-inline" style="width:80px;">

                            <input type="text" class="layui-input" lay-verify="price" id="price" name="price" placeholder=""  autocomplete="off" value="" >

                        </div>

                        <div class="layui-form-mid layui-word-aux layui-fl" style="margin-left:1px;">万</div>

                    </div>

                    <div class="layui-inline">

                        <label class="layui-form-label">朝向 </label>

                        <div class="layui-input-inline">

                            {:getLinkMenu(4,'orientations')}

                        </div>

                    </div>

                </div>

<!-- start -->
                <div class="layui-form-item">

                    <div class="layui-inline">

                        <label class="layui-form-label">起拍价 </label>

                        <div class="layui-input-inline">

                            <input type="text" class="layui-input" name="qipai" lay-verify="qipai" id="qipai" placeholder=""> 

                        </div>

                    </div>

                    <div class="layui-inline">

                        <label class="layui-form-label">保证金 </label>

                        <div class="layui-input-inline">

                            <input type="text" class="layui-input" name="baozheng" lay-verify="baozheng" id="baozheng" placeholder="">

                        </div>

                    </div>

                </div>
                <div class="layui-form-item">

                  <!--   <div class="layui-inline">

                        <label class="layui-form-label">形式 </label>

                        <div class="layui-input-inline">

                            <input type="text" class="layui-input" name="xingshi" lay-verify="xingshi" id="xingshi" placeholder="">

                        </div>

                    </div>
 -->

                    <div class="layui-inline">

                        <label class="layui-form-label">成交价格 </label>

                        <div class="layui-input-inline">

                            <input type="text" class="layui-input" name="cjprice" lay-verify="cjprice" id="cjprice" placeholder="">

                        </div>

                    </div>

                    <div class="layui-inline">

                        <label class="layui-form-label">编号 </label>

                        <div class="layui-input-inline">

                            <!-- <input type="text" class="layui-input" name="bianhao" lay-verify="bianhao" id="bianhao" placeholder="自动生成无需手动添加"> -->
                             <select name="bianhao">
                                <option value="">-请选择-</option>
                                <option value="T">T</option>
                                <option value="J">J</option>
                                 <option value="S">S</option>
                                <option value="C">C</option>
                                 <option value="G">G</option>
                                <option value="X">X</option>
                                <option value="Z">Z</option>
                            </select>

                        </div>

                    </div>

                </div>

                
                <div class="layui-form-item">

                    <div class="layui-inline">

                        <label class="layui-form-label">房源瑕疵 </label>

                        <div class="layui-input-inline">

                            <input type="text" class="layui-input" name="xiaci" lay-verify="xiaci" id="xiaci" placeholder="">

                        </div>

                    </div>

                    <div class="layui-inline">

                        <label class="layui-form-label">欠费情况 </label>

                        <div class="layui-input-inline">

                            <input type="text" class="layui-input" name="qianfei" lay-verify="qianfei" id="qianfei" placeholder="">

                        </div>

                    </div>

                </div>
                <div class="layui-form-item">
                
                    <div class="layui-inline">

                        <label class="layui-form-label">房源分类
                        <!-- <a href="javascript:;" data-field="jieduan" data-type="select" data-alert="房源分类" data-id="25" data-title="点击我可以管理房源分类" class="layui-icon layui-icon-set attr-manage"></a>  -->
                        </label>

                        <!-- <div class="layui-input-inline" style="width:100px;">

                            {:getLinkMenu(25,'jieduan','select',38)}

                        </div> -->
                        <div class="layui-input-inline" style="width:100px;">

                            <select name="jieduan" id="jieduan">
                            <option value="0">--请选择--</option>
                            <option value="161" selected="">一拍</option>
                            <option value="162">二拍</option>
                            <option value="163">变卖</option></select>
                            <div class="layui-unselect layui-form-select">
                                <div class="layui-select-title">
                                <input type="text" placeholder="请选择" value="--请选择--" readonly="" class="layui-input layui-unselect"><i class="layui-edge"></i>
                                </div>
                                <dl class="layui-anim layui-anim-upbit">
                                <dd lay-value="0" class="layui-this">--请选择--</dd>
                                <dd lay-value="161" class="" selected="">一拍</dd>
                                <dd lay-value="162" class="">二拍</dd>
                                <dd lay-value="163" class="">变卖</dd>
                                </dl>
                            </div>
                        </div>

                    </div>
                 <link type="text/css" rel="stylesheet" href="__CSS__/calendar.min.css" />
                    <div class="layui-inline" style="margin-left:200px;">

                        <label class="layui-form-label">开拍时间 </label>

                        <div class="layui-input-inline">

                            <!-- <input type="date" class="layui-input" name="kptime" lay-verify="kptime" id="kptime" placeholder=""> -->
                            <input type="text" calendar="YYYY-MM-DD hh:mm:ss" class="layui-input" name="kptime" lay-verify="kptime" id="kptime" placeholder="">

                        </div>

                    </div>

                </div>
                <script type="text/javascript" src="__JS__/jquery-1.8.3.min.js"></script>
                <script type="text/javascript" src="__JS__/calendar.js"></script>

                <div class="layui-form-item">

                    <div class="layui-inline">

                        <label class="layui-form-label">一拍开始时间 </label>

                        <div class="layui-input-inline">

                            <input type="text" calendar="YYYY-MM-DD" class="layui-input" name="onestime" lay-verify="onestime" id="onestime" placeholder="">

                        </div>

                    </div>

                    <div class="layui-inline">

                        <label class="layui-form-label">一拍截止时间 </label>

                        <div class="layui-input-inline">

                            <input type="text" calendar="YYYY-MM-DD" class="layui-input" name="oneetime" lay-verify="oneetime" id="oneetime" placeholder="">

                        </div>

                    </div>
                    <div class="layui-inline">

                        <label class="layui-form-label">一拍价格 </label>

                        <div class="layui-input-inline">

                            <input type="text" class="layui-input" name="oneprice" lay-verify="oneprice" id="oneprice" placeholder="">

                        </div>

                    </div>

                </div>
                <div class="layui-form-item">

                    <div class="layui-inline">

                        <label class="layui-form-label">二拍开始时间 </label>

                        <div class="layui-input-inline">

                            <input type="text" calendar="YYYY-MM-DD" class="layui-input" name="twostime" lay-verify="twostime" id="twostime" placeholder="">

                        </div>

                    </div>

                    <div class="layui-inline">

                        <label class="layui-form-label">二拍截止时间 </label>

                        <div class="layui-input-inline">

                            <input type="text" calendar="YYYY-MM-DD" class="layui-input" name="twoetime" lay-verify="twoetime" id="twoetime" placeholder="">

                        </div>

                    </div>
                    <div class="layui-inline">

                        <label class="layui-form-label">二拍价格 </label>

                        <div class="layui-input-inline">

                            <input type="text" class="layui-input" name="twoprice" lay-verify="twoprice" id="twoprice" placeholder="">

                        </div>

                    </div>

                </div>
                <div class="layui-form-item">

                    <div class="layui-inline">

                        <label class="layui-form-label">变卖开始时间 </label>

                        <div class="layui-input-inline">

                            <input type="text" calendar="YYYY-MM-DD" class="layui-input" name="bianstime" lay-verify="bianstime" id="bianstime" placeholder="">

                        </div>

                    </div>

                    <div class="layui-inline">

                        <label class="layui-form-label">变卖截止时间 </label>

                        <div class="layui-input-inline">

                            <input type="text" calendar="YYYY-MM-DD" class="layui-input" name="bianetime" lay-verify="bianetime" id="bianetime" placeholder="">

                        </div>

                    </div>
                    <div class="layui-inline">

                        <label class="layui-form-label">变卖价格 </label>

                        <div class="layui-input-inline">

                            <input type="text" class="layui-input" name="bianprice" lay-verify="bianprice" id="bianprice" placeholder="">

                        </div>

                    </div>

                </div>
                	<!-- <div class="layui-form-item"> -->
                   <!--  <div class="layui-inline">

                        <label class="layui-form-label">是否成交<a href="javascript:;" data-field="iscj" data-type="radio" data-alert="是否成交" data-id="24" data-title="点击我可以管理是否成交" class="layui-icon layui-icon-set attr-manage"></a> </label>

                        <div class="layui-input-block">

                            {:getLinkMenu(24,'iscj','radio')}

                        </div>

                    </div> -->

                    <!-- <div class="layui-inline">

                        <label class="layui-form-label">成交价格 </label>

                        <div class="layui-input-inline">

                            <input type="text" class="layui-input" name="cjprice" lay-verify="cjprice" id="cjprice" placeholder="">

                        </div>

                    </div>

                </div> -->
<!-- end -->





                <div class="layui-form-item">

                    <div class="layui-inline">

                        <label class="layui-form-label">房源地址 </label>

                        <div class="layui-input-inline">

                            <input type="text" class="layui-input" name="address" id="address" placeholder="">

                        </div>

                    </div>

                    <div class="layui-inline">

                        <label class="layui-form-label">楼层 </label>

                        <div class="layui-input-inline" style="width:100px;">

                            <!-- {:getLinkMenu(7,'floor','select',38)} -->
                            <!-- <input type="text" class="layui-input" name="floor" placeholder=""> -->
                            <select name="floor">
                                <option value="">-请选择-</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                 <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                 <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                 <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                 <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                 <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                 <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                 <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                 <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                 <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                 <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                 <option value="43">33</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                                <option value="46">46</option>
                                 <option value="47">47</option>
                                <option value="48">48</option>
                                <option value="49">49</option>
                                <option value="50">50</option>
                            </select>


                        </div>

                        <div class="layui-form-mid layui-word-aux layui-fl" style="margin-left:20px;"> 共</div>

                        <div class="layui-input-inline" style="width:110px;">

                            <!-- <input type="text" class="layui-input" name="total_floor" placeholder=""> -->
                                 <select name="total_floor">
                                <option value="">-请选择-</option>
                                  <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                 <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                 <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                 <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                 <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                 <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                 <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                 <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                 <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                 <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                 <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                 <option value="43">33</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                                <option value="46">46</option>
                                 <option value="47">47</option>
                                <option value="48">48</option>
                                <option value="49">49</option>
                                <option value="50">50</option>
                            </select>

                        </div>

                        <div class="layui-form-mid layui-word-aux layui-fl" style="margin-left:10px;"> 层</div>

                    </div>

                </div>

                <div class="layui-form-item">

                    <div class="layui-inline">

                        <label class="layui-form-label">地图坐标 </label>

                        <div class="layui-input-inline" style="width:200px;">

                            <input type="text" class="layui-input" name="map" id="map" placeholder=""  autocomplete="off" value="" >

                        </div>

                        <div class="layui-input-inline" style="width:95px;">

                            <button type="button" id="mark" data-autouri="{:addon_url('map://Map/getLocationByAddress')}" data-uri="{:addon_url('map://Map/updateLocation')}" class="layui-btn">标注位置</button>

                        </div>

                    </div>

                    <!-- <div class="layui-inline">

                        <label class="layui-form-label">装修情况<a href="javascript:;" data-field="renovation" data-type="radio" data-alert="装修情况" data-id="8" data-title="点击我可以管理装修分类" class="layui-icon layui-icon-set attr-manage"></a> </label>

                        <div class="layui-input-block">

                            {:getLinkMenu(8,'renovation','radio')}

                        </div>

                    </div>
 -->
                </div>
				
				
			
				
				

                <div class="layui-form-item">

                    <div class="layui-inline">

                        <label class="layui-form-label">联系人 </label>

                        <div class="layui-input-inline">


                            <select name="contacts[contact_name]" id="contact_name">
                            {volist name='fpy' id='fp'}
                                <option value="{$fp.id}">{$fp.user_name}</option>
                                   {/volist}
                            </select>

                         
                            <!-- <input type="text" name="contacts[contact_name]" id="contact_name" placeholder="" class="layui-input"> -->

                        </div>

                    </div>

                    <div class="layui-inline" style="display:none;">

                        <label class="layui-form-label">联系电话 </label>

                        <div class="layui-input-inline">

                            <input type="text" name="contacts[contact_phone]" id="contact_phone" placeholder="" class="layui-input">

                        </div>

                    </div>

                </div>
				
				
				 <div class="layui-form-item" style="display:none;">

                    <label class="layui-form-label">在线咨询</label>

                    <div class="layui-input-inline" style="width:600px;">

                        <input name="online_consulting" id="online_consulting" placeholder="" class="layui-input" />

                    </div>

                </div>
				
				
				<div class="layui-form-item">

                    <label class="layui-form-label">京东报名链接</label>

                    <div class="layui-input-inline" style="width:600px;">

                        <input name="lianjie" id="lianjie" placeholder="" class="layui-input" />

                    </div>

                </div>
                <div class="layui-form-item">

                    <label class="layui-form-label">淘宝报名链接</label>

                    <div class="layui-input-inline" style="width:600px;">

                        <input name="lianjie" id="lianjies" placeholder="" class="layui-input" />

                    </div>

                </div>
                <div class="layui-form-item">

                    <label class="layui-form-label">报名人数</label>

                    <div class="layui-input-inline" style="width:600px;">

                        <input name="bmrs" id="bmrs" placeholder="" class="layui-input" />

                    </div>

                </div>
				

                <!-- <div class="layui-form-item">

                    <div class="layui-block">

                        <label class="layui-form-label">房间配套<a href="javascript:;" data-field="supporting" data-type="checkbox" data-alert="房间配套" data-id="12" data-title="点击我可以管理房间配套" class="layui-icon layui-icon-set attr-manage"></a> </label>

                        <div class="layui-input-block">

                            {:getLinkMenu(12,'supporting','checkbox')}

                        </div>

                    </div>

                </div> -->

                <div class="layui-form-item">

                    <div class="layui-block">

                        <label class="layui-form-label">房产类型<a href="javascript:;" data-field="house_type" data-type="radio" data-alert="房产类型" data-id="9" data-title="点击我可以管理房产类型" class="layui-icon layui-icon-set attr-manage"></a> </label>

                        <div class="layui-input-block">

                            {:getLinkMenu(9,'house_type','radio')}

                        </div>

                    </div>

                </div>
                <div class="layui-form-item" style="">

                    <div class="layui-block">

                        <label class="layui-form-label">形式<a href="javascript:;" data-field="types" data-type="radio" data-alert="形式" data-id="26" data-title="点击我可以管理形式" class="layui-icon layui-icon-set attr-manage"></a> </label>

                        <div class="layui-input-block">

                            {:getLinkMenu(26,'types','radio')}

                        </div>

                    </div>

                </div>
                <div class="layui-form-item">

                    <div class="layui-block">

                        <label class="layui-form-label">状态
                        <!-- <a href="javascript:;" data-field="fcstatus" data-type="radio" data-alert="状态" data-id="27" data-title="点击我可以管理状态" class="layui-icon layui-icon-set attr-manage"></a>  -->
                        </label>

                        <div class="layui-input-block">

                            <!-- {:getLinkMenu(27,'fcstatus','radio')} -->

                            <input type="radio" name="fcstatus" id="fcstatus169" value="169" title="正在进行">
                            <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>正在进行</div></div>
                            <input type="radio" name="fcstatus" id="fcstatus170" value="170"  checked="checked" title="即将进行">
                            <div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon layui-anim-scaleSpring"></i><div>即将进行</div></div>
                            <input type="radio" name="fcstatus" id="fcstatus171" value="171" title="已结束">
                            <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>已结束</div></div>
                            <input type="radio" name="fcstatus" id="fcstatus172" value="172" title="终止">
                            <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>终止</div></div>
                            <input type="radio" name="fcstatus" id="fcstatus173" value="173" title="撤回">
                            <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>撤回</div></div>
                            <input type="radio" name="fcstatus" id="fcstatus174" value="174" title="暂缓">
                            <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>暂缓</div></div>
                            <input type="radio" name="fcstatus" id="fcstatus175" value="175" title="已成交">
                            <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>已成交</div></div>
                        </div>

                    </div>

                </div>




                <div class="layui-form-item">

                    <div class="layui-block">

                        <label class="layui-form-label">特色标签<a href="javascript:;" data-field="tags" data-type="checkbox" data-alert="特色标签" data-id="14" data-title="点击我可以管理特色标签" class="layui-icon layui-icon-set attr-manage"></a> </label>

                        <div class="layui-input-block">

                            {:getLinkMenu(14,'tags','checkbox')}

                        </div>

                    </div>

                </div>

                <div class="layui-form-item">

                    <div class="layui-block">

                        <label class="layui-form-label">推荐位 </label>

                        <div class="layui-input-block">

                            {volist name='position_lists' id='vo'}

                            <input type="checkbox" name="position[]" lay-skin="primary" value="{$vo.id}" title="{$vo.title}">

                            {/volist}

                        </div>

                    </div>

                </div>

                <div class="layui-form-item">

                    <div class="layui-block">

                        <label class="layui-form-label">有效期 </label>

                        <div class="layui-input-block">

                            <select name="timeout" id="timeout">

                                {volist name=':getHouseTimeOut()' id='vo'}

                                <option value="{$key}" {if condition="$key eq 7"}selected="selected"{/if}>{$vo}</option>

                                {/volist}

                            </select>

                        </div>

                    </div>

                </div>

                <div class="layui-form-item" style="display:none;">

                    <label class="layui-form-label">视频看房</label>

                    <div class="layui-input-block">

                        <div class="layui-upload">

                            <input type="hidden" name="video" id="video">

                            <div id="container">

                                <button type="button" class="layui-btn" id="select-video-btn">选择视频</button>

                                <button type="button" class="layui-btn" id="upload-video-btn">开始上传</button>

                                <span>视频上传到云存储，请先配置相关账号。支持视频格式：mp4,flv,m3u8 最大可上传500M</span>

                            </div>

                            <div id="ossfile"></div>

                            <div id="console"></div>

                        </div>

                    </div>

                </div>

                <div class="layui-form-item">

                    <label class="layui-form-label">缩略图</label>

                    <div class="layui-input-block">

                        <div class="layui-upload">

                            <input type="hidden" name="img" id="img_txt">

                            <button type="button" class="layui-btn" id="img">上传图片</button>

                            <div id="img_preview">



                            </div>

                        </div>

                    </div>

                </div>

                <div class="layui-form-item">

                    <label class="layui-form-label">房源图片</label>

                    <div class="layui-input-block">

                        <div class="layui-upload">

                            <script id="uploadpic" name="uploadpic" type="text/plain"></script>

                            <button type="button" class="layui-btn" onclick="upImage();">选择4图片</button>

                            <div id="imageList">

                                <ul class="list clearfix">

                                </ul>

                            </div>

                        </div>

                    </div>

                </div>
                

                   <script>
      var count = 0;
      
      function addByScript() {
        var table = document.getElementById("tbl1");
        var newRow = table.insertRow(table.rows.length);
        newRow.id = "row" + count;
        
        var contentCell = newRow.insertCell(-1);
        contentCell.innerHTML = '<input type="file" name="'+newRow.id+'"/><input type="text" name="shu" value="'+count+'" style="display:none;"/><input type="text" name="hximg" style="display:none;"/>';
        contentCell = newRow.insertCell(-1);
        
        var delBtn = document.createElement("input");
        delBtn.type = "button";
        delBtn.className = "button";
        delBtn.id = "btnDel"+count;
        delBtn.value = "删除";
        delBtn.onclick = new Function("del(this)");
        contentCell.appendChild(delBtn);
                
        count++;
      }
      
      function del(obj) {
        var row = obj.parentNode.parentNode;
        row.parentNode.removeChild(row);
      }      
    </script>
  
    <fieldset>
<legend>
        户型图新增(最多传5张)
</legend>
      <input type="button" class="button" value="新增户型图" onclick="addByScript()"/>
      <table id="tbl1">
      </table>
    </fieldset>












                
                <!--  <div class="layui-form-item">

                    <label class="layui-form-label">户型图</label>

                    <div class="layui-input-block" >
                              
                    <input type="file" name="hximg" >


                    </div>

                </div> -->



                <div class="layui-form-item" style="margin-top:20px;">

                        <label class="layui-form-label">发布时间 </label>

                        <div class="layui-input-inline">

                            <input type="text" calendar="YYYY-MM-DD hh:mm:ss" class="layui-input" name="fabutime" id="fabutime" placeholder="">
                            

                        </div>

                    </div>
                     <div class="layui-form-item" style="margin-top:20px;">

                        <label class="layui-form-label">成交时间 </label>

                        <div class="layui-input-inline">

                            <input type="text" calendar="YYYY-MM-DD hh:mm:ss" class="layui-input" name="endtime" id="endtime" placeholder="">
                            

                        </div>

                    </div>

                <div class="layui-form-item">

                    <label class="layui-form-label">全景看房</label>

                    <div class="layui-input-inline" style="width:600px;">

                        <input name="pano_url" id="pano_url" placeholder="复制全景链接地址到输入框" class="layui-input" />

                    </div>

                </div>
         <!--        // <script id="info" name="info" type="text/plain" style="display:none;"></script> -->

                <div class="layui-form-item">

                    <label class="layui-form-label">拍卖公告</label>

                    <div class="layui-input-block">

                        <script id="info" name="info" type="text/plain"></script>

                    </div>

                </div>


            </div>

            <div class="layui-tab-item">

                <div class="layui-form-item">

                    <div class="layui-block">

                        <label class="layui-form-label">seo标题 </label>

                        <div class="layui-input-block">

                            <input type="text" class="layui-input" name="seo[seo_title]" placeholder="seo标题"  autocomplete="off" value="" >

                        </div>

                    </div>



                </div>

                <div class="layui-form-item">

                    <div class="layui-block">

                        <label class="layui-form-label">seo关键词 </label>

                        <div class="layui-input-block">

                            <input type="text" class="layui-input" name="seo[seo_keys]" placeholder="seo关键词"  autocomplete="off" value="" >

                        </div>

                    </div>



                </div>

                <div class="layui-form-item">

                    <div class="layui-block">

                        <label class="layui-form-label">seo描述 </label>

                        <div class="layui-input-block">

                            <textarea name="seo[seo_desc]" class="layui-textarea" id="seo_desc"></textarea>

                        </div>

                    </div>



                </div>

            </div>

        </div>

    </div>
    <div class="layui-form-item">

        <label class="layui-form-label">&nbsp;</label>

        <button type="submit" lay-submit="" class="layui-btn btn-submit w200">提交</button>

    </div>

</form>

<input type="hidden" id="uploadUrl" value="{:url('SecondHouse/ajaxUploadImg')}" />

<input type="hidden" id="deleteUrl" value="{:url('SecondHouse/deleteImg')}" />

<input type="hidden" id="deleteVideo" value="{:url('SecondHouse/deleteVideo')}" />

{:hook('ueditor',['id'=>'info','upload'=>true])}

{if condition="isset($storage['open']) && $storage.open eq 1 && $storage.upload_type neq 1"}

{if condition='$storage.type eq "aliyun"'}

<script type="text/javascript" src="/static/storage/alioss/js/plupload.full.min.js"></script>

<script src="/static/storage/alioss/upload.js"></script>

{else /}

<script src="/static/storage/qiniuoss/plupload.full.min.js"></script>

<script src="/static/storage/qiniuoss/qiniu.min.js"></script>

<script src="/static/storage/qiniuoss/upload.js"></script>

{/if}

{else /}

<script>

    document.getElementById('select-video-btn').onclick = function(){

        alert('请先配置云存储账号再上传');

    }

</script>

{/if}

<script src="__JS__/option.js"></script>

<script>

    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作

    layui.use(['form','element'], function(){

        var $ = layui.jquery,element = layui.element,form = layui.form;

        //自定义验证规则

        form.verify({

            title: function(value){

                if(value.length == 0){

                    return '请填写房源名称';

                }

            },

            estate_name : function (value) {

                if(value.length == 0){

                    return '请选择小区';

                }

            },

            acreage : function(value){

                if(!/\d+$/.test(value)){

                    return '请填写房源面积';

                }

            },

            price : function (value) {

                if(value && !/\d+$/.test(value)){

                    return '请填写总价';

                }

            }

        });

    });

</script>

{/block}