{extend name="public/layout" /}
{block name='content'}
<!--楼盘列表-->
<div class="layui-form" >
    <form name="layui-form" class="search-form" id="info_form" action="{:url('ajaxSelectHouse')}" method="get" >
        <div class="layui-elem-quote">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">关键词</label>
                    <div class="layui-input-inline">
                        <input name="keyword" id="keyword" type="text" placeholder="楼盘名称" class="layui-input" size="25" value="" />
                    </div>
                    <button class="layui-btn layui-btn-normal" id="searchBtn" type="submit" data-uri="">搜索</button>
                </div>
            </div>
        </div>
    </form>
</div>
<form class="layui-form" action="">
    <div class="layui-form layui-border-box layui-table-view">
        <table id="tree-table" class="layui-table list-table" cellspacing="0" cellpadding="0" border="0" data-uri="{:url('Developer/ajaxEdit')}">
            <colgroup>
                <col width="80%">
                <col width="20%">
            </colgroup>
            <thead>
            <tr>
                <th>
                    <div class="layui-table-cell"><span>楼盘名称</span></div>
                </th>
                <th>
                    <div class="layui-table-cell" align="center"><span>操作</span></div>
                </th>

            </tr>
            </thead>
            <tbody>
            {volist name="lists" id="val"}
            <tr>
                <td data-field="title">
                    <div class="layui-table-cell">
                        {$val.title}
                    </div>
                </td>
                <td>
                    <div class="layui-table-cell">
                        <a href="javascript:;" data-province="{:getProvinceIdByAreaId($val['city'])}" data-city="{:getCitySpidById($val['city'])}" data-id="{$val.id}" data-title="{$val.title}" class="layui-btn layui-btn-danger layui-btn-xs select">选择</a>
                    </div>
                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
    {notempty name='pages'}
    <div class="kaifazhe-fix-bottom layui-clear">
        <div id="pages" class="layui-layout-right">
            {$pages|raw}
        </div>
    </div>
    {/notempty}
</form>
<script>
    layui.use(['layer','jquery'],function(){
        var layer = layui.layer,$ = layui.jquery;
        var index = parent.layer.getFrameIndex(window.name);
        $('.select').on('click',function(){
            var id = $(this).data('id'),city = $(this).data('city'),pid = $(this).data('province'),title = $(this).data('title'),parentFrame = $(window.parent.document),city_box = parentFrame.find('.J_city_select'),province = parentFrame.find("#province");
            title = title + '<em class="layui-icon layui-icon-close"></em>';
            parentFrame.find('#house_id').val(id);
            parentFrame.find('#house_title').html(title);
            city_box.nextAll().remove();
            city_box.html('');
            city_box.attr('data-selected',city);console.log(city);
            city_box.attr('data-uri',"{:url('City/ajaxGetchilds')}?province_id="+pid);
            province.find("option[value='"+pid+"']").attr('selected','selected');
            parent.layer.close(index);
        });
        $("#searchBan").on('click',function(){
            var keyword = $.trim($("#keyword").val());

            if(keyword.length == 0){
                parent.layer.msg('请填写关键词',{icon:2});
                return false;
            }else{
                $('#info_form').submit();
            }
        });
    });

</script>
{/block}