<ul class="layui-tab-title">

    <!-- <li {if condition="$action eq 'index'"}class="layui-this"{/if}><a href="{:url('user.follow/index')}">新房</a></li> -->

    <li {if condition="$action eq 'second'"}class="layui-this"{/if}><a href="{:url('user.follow/second')}">法拍房</a></li>

    <!-- <li {if condition="$action eq 'rental'"}class="layui-this"{/if}><a href="{:url('user.follow/rental')}">出租房</a></li>

    <li {if condition="$action eq 'office'"}class="layui-this"{/if}><a href="{:url('user.follow/office')}">写字楼出售</a></li>

    <li {if condition="$action eq 'officerental'"}class="layui-this"{/if}><a href="{:url('user.follow/officeRental')}">写字楼出租</a></li>

    <li {if condition="$action eq 'shops'"}class="layui-this"{/if}><a href="{:url('user.follow/shops')}">商铺出售</a></li>

    <li {if condition="$action eq 'shopsrental'"}class="layui-this"{/if}><a href="{:url('user.follow/shopsRental')}">商铺出租</a></li>-->

    <li {if condition="$action eq 'estate'"}class="layui-this"{/if}><a href="{:url('user.follow/estate')}">小区</a></li> 

</ul>