<style>

    .page_list{background-color: #fff;padding-bottom:1rem;}

</style>

<div class="agent-survey mb20" style="background:#fff;color:#000;border-top:1px solid #eee;height:250px;">

    <div class="pic">
        <img src="{:getAvatar($userInfo['id'],90)}" alt="{$userInfo.nick_name}">
    </div>
<div style="height:150px;width:100%;">
    <div class="survey" style="float:left;height:100px;">

       
        <span style="font-size:18px;"><b>{$userInfo.nick_name}</b></span>服务专员


        <div class="desc_box" style="width:200px;float:left;line-height:25px;height:25px;">
            <p>
                <img src="../static/mobile/images/icon/xin.png" style="width:21px;height:19px;">好评率：<span style="color:red;">100%</span>
            </p>
            <p>

                    <span>从业年限：</span>

                    <span>5年</span>

            </p>
                       

        </div>
                    
                    

    </div>

    <ul class="star-level clearfix">

        
        <img src="/static/images/xx.png" style="width:35px;height:35px;">
        <a href="tel:{$userInfo.mobile}">
        <img src="/static/images/dh.png" style="width:35px;height:35px;margin-left:5px;">
        </a>

    </ul>
</div>
<div style="width:100%;height:50px;">
1的哈佛的开发的咖啡的咖啡机偶爱单间房口岸附近豆奶粉就到</div>
</div>
