{extend name='public/layout' /}

{block name='content'}

<style>

    .item,.house-show-box{font-size:.7rem;}

</style>

<div class="main" style="padding-bottom:2rem;">

    <!-- 经纪人概况 S-->

    {include file='broker/broker_info' /}

    <!-- 经纪人概况 E-->



    <!-- 点评列表 S-->

    <!-- <div class="comment-list user-comment">

        <h2>用户点评</h2>

        <ul class="item">

            {volist name='comment_lists' id='vo' empty='暂无数据'}

            <li class="clearfix">

                <div class="pic fl"><img src="{:getAvatar($vo['user_id'],90)}" alt="{$vo.user_name}"></div>

                <div class="comment-content fl">

                    <div class="username-level clearfix">

                        <div class="username fl">{$vo.user_name}</div>

                        <div class="level level-{$vo.point} fr"></div>

                    </div>

                    <div class="desc_box">

                        <p>{$vo.content}</p>

                    </div>

                    <div class="babel-list clearfix">

                        {php}$c_tags=array_filter(explode(',',$vo['tags']));{/php}

                        {volist name='c_tags' id='t'}

                        <em>{:getLinkMenuName(13,$t)}</em>

                        {/volist}

                    </div>

                    <time class="time">{$vo.create_time|date='Y-m-d H:i'}</time>

                </div>

            </li>

            {/volist}



        </ul>

        <a href="{:url('Broker/comment',['id'=>$userInfo['id']])}" class="more-house-btn">查看全部评论(<span>{$count.comment_total}</span>)</a>

    </div> -->

    <!-- 点评列表 E-->

    <!-- 在售房源 S-->

    <div class="broker-shop-house">

  <!--       <h2>在售房源</h2> -->

        <div class="old-house house-show-box">

            <ul>

                {volist name='second_lists' id='vo' empty='暂无数据'}

                <li>
                <h4 style="margin-top:-10px;margin-bottom:10px;">
                    <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}" style="font-size:18px;">{$vo.title}</a>
                </h4>

                <div class="pic" style="width:6rem;height:4rem;">

                    <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                        <img src="{:thumb($vo['img'],200,150)}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.estate_name}" />
                      
                    </a>

                </div>

                <div class="intro-text" style="width:56%;">
                    <p class="detail-text" style="color:#000;">面积：{$vo.acreage}{:config('filter.acreage_unit')}</p>
                    <p class="detail-text" style="color:#000;">市场价：{$vo.price|raw}</p>
                    <p class="detail-text" style="color:#000;">起拍价：{$vo.price|raw}(元/㎡)</p>
                    <p class="detail-text" style="color:#000;">捡漏指标：
					
					
					{if $vo.marketprice eq 1}
							

                               <img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								{/if}
								
								
								{if $vo.marketprice eq 2}
							

                               <img src="/static/images/img-14.png" style="width:15px; height:15px;">
							   <img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								{/if}
								
								{if $vo.marketprice eq 3}
							

                               <img src="/static/images/img-14.png" style="width:15px; height:15px;">
							   <img src="/static/images/img-14.png" style="width:15px; height:15px;">
							   <img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								{/if}
								
								{if $vo.marketprice eq 4}
							

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								{/if}
								
								{if $vo.marketprice eq 5}
							

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								<img src="/static/images/img-14.png" style="width:15px; height:15px;">
								
								{/if}
					
					
					
					
					
					
					
					
					</p>
                    <p class="detail-text" style="color:#000;">开拍时间：{$vo['update_time']|date="Y-m-d H:i:s"}</p>
                    <p class="good">
                        {php}$tag = array_filter(explode(',',$vo['tags']));{/php}
                        {notempty name='tag'}
                        {volist name='tag' id='val'}
                        {if condition="is_numeric($val)"}
                        <em>{:getLinkMenuName(14,$val)}</em>
                        {else /}
                        <em>{$val}</em>
                        {/if}
                        {/volist}
                        {/notempty}
                    </p>

                </div>

            </li> 

                <!-- <li>

                    <div class="pic">

                        <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                            <img src="{$vo.img}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.title}">

                        </a>

                    </div>

                    <div class="intro-text">

                        <h4>

                            <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                                {$vo.title}

                            </a>

                        </h4>

                        <p class="price"><span>{:getCityName($vo['city'])}</span><span class="price-num"><em>{$vo.price|raw}</em></span></p>

                        <p class="detail-text">{$vo.room}室{$vo.living_room}厅 {$vo.acreage} {:config('filter.acreage_unit')}&nbsp;&nbsp;{:getLinkMenuName(8,$vo['renovation'])}</p>

                        <p class="good">

                            {php}$tag = array_filter(explode(',',$vo['tags']));{/php}

                            {notempty name='tag'}

                            {volist name='tag' id='val'}

                            {if condition="is_numeric($val)"}

                            <em>{:getLinkMenuName(14,$val)}</em>

                            {else /}

                            <em>{$val}</em>

                            {/if}

                            {/volist}

                            {/notempty}

                        </p>

                    </div>

                </li> -->

                {/volist}



            </ul>

        </div>

        <a href="{:url('Broker/second',['id'=>$userInfo['id']])}" class="more-house-btn">查看房源(<span>{$count['second_total']}</span>)</a>

    </div>

    <!-- 在售房源 E-->



    <!-- 在租房源 S-->

    <!-- <div class="broker-shop-house">

        <h2>在租房源</h2>

        <div class="old-house house-show-box">

            <ul>

                {volist name='rental_lists' id='vo' empty='暂无数据'}

                <li>

                    <div class="pic">

                        <a href="{:url('Rental/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                            <img src="{$vo.img}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.title}">

                        </a>

                    </div>

                    <div class="intro-text">

                        <h4>

                            <a href="{:url('Rental/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                                {$vo.title}

                            </a>

                        </h4>

                        <p class="price"><span>{:getCityName($vo['city'])}</span><span class="price-num"><em>{$vo.price|raw}</em></span></p>

                        <p class="detail-text">{$vo.room}室{$vo.living_room}厅 {$vo.acreage} {:config('filter.acreage_unit')}&nbsp;&nbsp;{:getLinkMenuName(8,$vo['renovation'])}</p>

                        <p class="good">

                            {php}$tag = array_filter(explode(',',$vo['tags']));{/php}

                            {volist name='tag' id='val'}

                            <em>{$val}</em>

                            {/volist}

                        </p>

                    </div>

                </li>

                {/volist}



            </ul>

        </div>

        <a href="{:url('Broker/rental',['id'=>$userInfo['id']])}" class="more-house-btn">查看在租房源(<span>{$count.rental_total}</span>)</a>

    </div> -->

    <!-- 在租房源 E-->



    <!-- 导航行为 S-->

    <!-- <div class="nav-act">

        <a href="tel:{$userInfo.mobile}" class="call-tel" style="width:100%;">拨打电话</a>

    </div> -->

    <!-- 导航行为 E-->

</div>

{/block}