{extend name='public/layout' /}

{block name='content'}

<style>

    .item,.house-show-box{font-size:.7rem;}

</style>

<div class="main" style="padding-bottom:2rem;">

    <!-- 经纪人概况 S-->

    {include file='broker/broker_info' /}

    <!-- 经纪人概况 E-->



    <!-- 点评列表 S-->

    <!-- <div class="comment-list user-comment">

        <h2>用户点评</h2>

        <ul class="item">

            {volist name='comment_lists' id='vo' empty='暂无数据'}

            <li class="clearfix">

                <div class="pic fl"><img src="{:getAvatar($vo['user_id'],90)}" alt="{$vo.user_name}"></div>

                <div class="comment-content fl">

                    <div class="username-level clearfix">

                        <div class="username fl">{$vo.user_name}</div>

                        <div class="level level-{$vo.point} fr"></div>

                    </div>

                    <div class="desc_box">

                        <p>{$vo.content}</p>

                    </div>

                    <div class="babel-list clearfix">

                        {php}$c_tags=array_filter(explode(',',$vo['tags']));{/php}

                        {volist name='c_tags' id='t'}

                        <em>{:getLinkMenuName(13,$t)}</em>

                        {/volist}

                    </div>

                    <time class="time">{$vo.create_time|date='Y-m-d H:i'}</time>

                </div>

            </li>

            {/volist}



        </ul>

        <a href="{:url('Broker/comment',['id'=>$userInfo['id']])}" class="more-house-btn">查看全部评论(<span>{$count.comment_total}</span>)</a>

    </div> -->

    <!-- 点评列表 E-->

    <!-- 在售房源 S-->

    <div class="broker-shop-house">

  <!--       <h2>在售房源</h2> -->

        <div class="old-house house-show-box">

            <ul class="xinhao">

                {volist name='second_lists' id='vo' empty='暂无数据'}

                <li>
                <!-- <h4 style="margin-top:-10px;margin-bottom:10px;">
                    <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}" style="font-size:18px;">{$vo.title}</a>
                </h4> -->

                <div class="pic" style="width:6rem;height:4rem;">

                    <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                        <img src="{:thumb($vo['img'],200,150)}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.estate_name}" />
                        {if $vo.fcstatus eq 169}
                        <div class="zzjx fix abs" style="float:right;top:0; right:0; z-inde:555; position: absolute;"><img src="/static/images/status/status2.png" original="/static/images/status/status2.png" style="width:60px;height:auto; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 170}
                        <div class="zzjx fix abs" style="float:right;top:0; right:0; z-inde:555; position: absolute;"><img src="/static/images/status/status1.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 171}
                        <div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status3.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 172}
                        <div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status4.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 173}
                        <div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status5.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 174}
                        <div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status6.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>
                        {/if}
                        {if $vo.fcstatus eq 175}
                        <div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status7.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>
                        {/if}
                      
                    </a>

                </div>

                <div class="intro-text" style="width:56%;">
                <div class="detail-text" style="color:#000;line-height:.8rem;overflow:hidden;height:20px;width:100%;"><a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}" style="color:#000;font-weight:bold;font-size:0.58rem;">{$vo.title}</a></div>
                    <p class="detail-text" style="color:#000;">面积：{$vo.acreage}{:config('filter.acreage_unit')}</p>
                    <!-- <p class="detail-text" style="color:#000;">市场价：{$vo.price|raw}</p> -->
                    <p class="detail-text" style="color:#000;">起拍价：{$vo.qipai|raw}(元/㎡)</p>
                    <p class="detail-text" style="color:#000;">捡漏指标：
                    
                    
                    {if $vo.marketprice eq 1}
                            

                               <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                {/if}
                                
                                
                                {if $vo.marketprice eq 2}
                            

                               <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                               <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                {/if}
                                
                                {if $vo.marketprice eq 3}
                            

                               <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                               <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                               <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                {/if}
                                
                                {if $vo.marketprice eq 4}
                            

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                {/if}
                                
                                {if $vo.marketprice eq 5}
                            

                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                <img src="/static/images/img-14.png" style="width:15px; height:15px;">
                                
                                {/if}
                    
                    
                    
                    
                    
                    
                    
                    
                    </p>
                  
                    <p class="detail-text" style="color:#000;">开拍时间：{$vo['kptime']|date="Y-m-d H:i:s"}</p>
                    <p class="good">
                        {php}$tag = array_filter(explode(',',$vo['tags']));{/php}
                        {notempty name='tag'}
                        {volist name='tag' id='val'}
                        {if condition="is_numeric($val)"}
                        <em>{:getLinkMenuName(14,$val)}</em>
                        {else /}
                        <em>{$val}</em>
                        {/if}
                        {/volist}
                        {/notempty}
                        {php}$estate_id=$vo['estate_id'];{/php}
                    {fang:lists table='estate' where='id=$estate_id' field='years'  id='answer'}
                        <em>{$answer.years}年</em>
                    {/fang:lists}

                    </p>

                </div>

            </li> 

                <!-- <li>

                    <div class="pic">

                        <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                            <img src="{$vo.img}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.title}">

                        </a>

                    </div>

                    <div class="intro-text">

                        <h4>

                            <a href="{:url('Second/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                                {$vo.title}

                            </a>

                        </h4>

                        <p class="price"><span>{:getCityName($vo['city'])}</span><span class="price-num"><em>{$vo.price|raw}</em></span></p>

                        <p class="detail-text">{$vo.room}室{$vo.living_room}厅 {$vo.acreage} {:config('filter.acreage_unit')}&nbsp;&nbsp;{:getLinkMenuName(8,$vo['renovation'])}</p>

                        <p class="good">

                            {php}$tag = array_filter(explode(',',$vo['tags']));{/php}

                            {notempty name='tag'}

                            {volist name='tag' id='val'}

                            {if condition="is_numeric($val)"}

                            <em>{:getLinkMenuName(14,$val)}</em>

                            {else /}

                            <em>{$val}</em>

                            {/if}

                            {/volist}

                            {/notempty}

                        </p>

                    </div>

                </li> -->

                {/volist}

<input id="ids" type="text" value="{$ids}" style="display:none;">

            </ul>

        </div>

       <!-- <a href="{:url('Broker/second',['id'=>$userInfo['id']])}" class="more-house-btn">查看房源(<span>{$count['second_total']}</span>)</a>-->
		
		<div class="load-bar" id="loadmore" style="text-align:center; margin-top:8px;">
                        <a href="javascript:;" class="user-pl-more-btn loadmore"  data-type="1">加载更多</a>
                    </div>
                
                <div class="load-bar" id="tip">
                </div>

    </div>
	
	
	<!--<script src="/static/js/jquery.min.js"></script>-->
                    
  <!--<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>-->
<script type="text/javascript">
    var nameid = document.getElementById("ids").value;
    var totalHeight = $(document).height();//整个文档高度
    var totalHeight1=345*{$secondtotal};
    var seeHeight = $(window).height();//浏览器可视窗口高度
	
	//console.log(totalHeight);
	
	
    var thisBodyHeight = $(document.body).height();//浏览器当前窗口文档body的高度
    var totalBodyHeight = $(document.body).outerHeight(true);//浏览器当前窗口文档body的总高度 包括border padding margin
    var thisWidth = $(window).width(); //浏览器当前窗口可视区域宽度
    var thisDocumentWidth = $(document).width();//浏览器当前窗口文档对象宽度
    var thisBodyWidth = $(document.body).width();//浏览器当前窗口文档body的宽度
    var totalBodyWidth = $(document.body).outerWidth(true);//浏览器当前窗口文档body的总宽度 包括border padding margin
    var scrollTop = $(window).scrollTop();//浏览器可视窗口顶端距离网页顶端的高度（垂直偏移）
    //console.log(totalHeight,seeHeight,thisBodyHeight,totalBodyHeight,thisWidth,thisDocumentWidth,thisBodyWidth,totalBodyWidth,scrollTop);
    //添加滚动事件
    $(window).scroll(function(){
        scrollTop = $(window).scrollTop();
        totalHeight = $(document).height();
        console.log(scrollTop,seeHeight,totalHeight)
        if(scrollTop+seeHeight+10<totalHeight1){
        if(scrollTop+seeHeight+10>totalHeight){
            //var htmlText = '<div class="load_div2">10</div><div class="load_div2">11</div><div class="load_div2">12</div>';
			
			var nStart = 20;
			//console.log({$secondtotal});
		
            var _this = $(".xinhao");
			if(nStart >={$secondtotal}) {
                //alert('后面没有数据了！');
                $("#loadmore").text('没有数据了亲...').css({"border-top":"1px solid #d4d5d6","height":"30px","line-height":"30px"});
                return false;
            } else {
			
				//console.log(_this);
				 $("#loadmore").text('数据加载中...').css({"border-top":"1px solid #d4d5d6","height":"30px","line-height":"30px"});
			
                $.post("{:url('Broker/seconddata')}", {start:nStart,nameids:nameid}, function(res) {
					//console.log(123);
					//console.log(res);
                    $.each(res['second_lists'], function(i, item) {
					
					
						//console.log(item);
						if(item.marketprice==1){
						
							var jianlou='<img src="/static/images/img-14.png" style="width:15px; height:15px;">';
						
						}
						if(item.marketprice==2){
						
							var jianlou='<img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;">';
						
						}
						if(item.marketprice==3){
						
							var jianlou='<img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;">';
						
						}
						if(item.marketprice==4){
						
							var jianlou='<img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;">';
						
						}
						if(item.marketprice==5){
						
							var jianlou='<img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;"><img src="/static/images/img-14.png" style="width:15px; height:15px;">';
						
						}
						
						if(item.fcstatus==169){
						
							var fcstatus='<div class="zzjx fix abs" style="float:right;top:0; right:0; z-inde:555; position: absolute;"><img src="/static/images/status/status2.png" original="/static/images/status/status2.png" style="width:60px;height:auto; float:right;"></div>';
						
						}
						if(item.fcstatus==170){
						
							var fcstatus=' <div class="zzjx fix abs" style="float:right;top:0; right:0; z-inde:555; position: absolute;"><img src="/static/images/status/status1.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>';
						
						}
						if(item.fcstatus==171){
						
							var fcstatus='<div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status3.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>';
						
						}
						if(item.fcstatus==172){
						
							var fcstatus=' <div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status4.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>';
						
						}
						if(item.fcstatus==173){
						
							var fcstatus='<div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status5.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>';
						
						}
						if(item.fcstatus==174){
						
							var fcstatus='<div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status6.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>';
						
						}
						
						if(item.fcstatus==175){
						
							var fcstatus=' <div class="zzjx fix abs" style="float:right;top:1rem; right:1.8rem; z-inde:555; position: absolute;"><img src="/static/images/status/status7.png" original="/static/images/status/status3.png" style="width:60px;height:auto; float:right;"></div>';
						
						}
						
						var imgurl='/beijing/erf-'+item.id+'.html';
						
						
						
						//console.log(item.id);
						
						
						
						
					   var tag1=res['tags'];
                       var tagess=item.tags;
					   var tag=tagess.split(',');
					   
					   //console.log(tagess);
					  // console.log(tag.length);
					  	
					   if(tag.length==1){
					   
					   		var tag2=tag[0];
							var tagname=tag1[tag2]['name'];
							//console.log(tagname);
							
							var htmlText= _this.append('<ul><li><div class="pic" style="width:6rem;height:4rem;"><a href="'+imgurl+'" title="'+item.title+'"><img src="'+item.img+'" onerror="" alt="'+item.estate_name+'" />'+fcstatus+'</a></div><div class="intro-text" style="width:56%;"><div class="detail-text" style="color:#000;line-height:.8rem;overflow:hidden;height:20px;width:100%;"><a href="'+imgurl+'" title="" style="color:#000;font-weight:bold;font-size:0.58rem;">'+item.title+'</a></div> <p class="detail-text" style="color:#000;">面积：'+item.acreage+'㎡</p><p class="detail-text" style="color:#000;">起拍价：'+item.price+'(元/㎡)</p> <p class="detail-text" style="color:#000;">捡漏指标：'+jianlou+'</p> <p class="detail-text" style="color:#000;">开拍时间：'+item.kptime+'</p> <p class="good"><em>'+tagname+'</em><em>'+item.years+'年</em></p></div></li></ul>');
					   
					   }
					   if(tag.length==2){
					   
					   		var tag2=tag[0];
							var tagname=tag1[tag2]['name'];
							//console.log(tagname);
					   
					   		var tag3=tag[1];
							var tagnames=tag1[tag3]['name'];
					   
					   		//console.log(tagnames);
							
							var htmlText= _this.append('<ul><li><div class="pic" style="width:6rem;height:4rem;"><a href="'+imgurl+'" title="'+item.title+'"><img src="'+item.img+'" onerror="" alt="'+item.estate_name+'" />'+fcstatus+'</a></div><div class="intro-text" style="width:56%;"><div class="detail-text" style="color:#000;line-height:.8rem;overflow:hidden;height:20px;width:100%;"><a href="'+imgurl+'" title="" style="color:#000;font-weight:bold;font-size:0.58rem;">'+item.title+'</a></div> <p class="detail-text" style="color:#000;">面积：'+item.acreage+'㎡</p><p class="detail-text" style="color:#000;">起拍价：'+item.price+'(元/㎡)</p> <p class="detail-text" style="color:#000;">捡漏指标：'+jianlou+'</p> <p class="detail-text" style="color:#000;">开拍时间：'+item.kptime+'</p> <p class="good"><em>'+tagname+'</em><em>'+tagnames+'</em><em>'+item.years+'年</em></p></div></li></ul>');
					   
					   }
					   
					  
	
						
                   
                    });
                });
                nStart += 20;
            }
		
		
		
			
			
			
            $('body').append(htmlText);
        }}
    })
</script>
		
		
        
		
		
	
	
	

    <!-- 在售房源 E-->



    <!-- 在租房源 S-->

    <!-- <div class="broker-shop-house">

        <h2>在租房源</h2>

        <div class="old-house house-show-box">

            <ul>

                {volist name='rental_lists' id='vo' empty='暂无数据'}

                <li>

                    <div class="pic">

                        <a href="{:url('Rental/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                            <img src="{$vo.img}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.title}">

                        </a>

                    </div>

                    <div class="intro-text">

                        <h4>

                            <a href="{:url('Rental/detail',['id'=>$vo['id']])}" title="{$vo.title}">

                                {$vo.title}

                            </a>

                        </h4>

                        <p class="price"><span>{:getCityName($vo['city'])}</span><span class="price-num"><em>{$vo.price|raw}</em></span></p>

                        <p class="detail-text">{$vo.room}室{$vo.living_room}厅 {$vo.acreage} {:config('filter.acreage_unit')}&nbsp;&nbsp;{:getLinkMenuName(8,$vo['renovation'])}</p>

                        <p class="good">

                            {php}$tag = array_filter(explode(',',$vo['tags']));{/php}

                            {volist name='tag' id='val'}

                            <em>{$val}</em>

                            {/volist}

                        </p>

                    </div>

                </li>

                {/volist}



            </ul>

        </div>

        <a href="{:url('Broker/rental',['id'=>$userInfo['id']])}" class="more-house-btn">查看在租房源(<span>{$count.rental_total}</span>)</a>

    </div> -->

    <!-- 在租房源 E-->



    <!-- 导航行为 S-->

    <!-- <div class="nav-act">

        <a href="tel:{$userInfo.mobile}" class="call-tel" style="width:100%;">拨打电话</a>

    </div> -->

    <!-- 导航行为 E-->

</div>

{/block}