<link rel="stylesheet" href="__CSS__/swiper.min.css">

<style>

    .follow-h-switch li{padding: 0 10px;text-align:center;display:inline-block;font-size:.7rem;height:1.77rem;line-height: 1.77rem;}

    .follow-h-switch a.active{color:#F54848;}

    .cancel-follow{padding:0 .2rem;border:1px solid #999;color:#999;float:right;}

    .swiper-container{border-bottom:1px solid #eee;}

    .follow-h-switch{border:none;}

</style>

<!-- 我关注房子的房子切换 -->

<div class="swiper-container">

    <ul class="follow-h-switch swiper-wrapper">
        <li  class="swiper-slide" style="display:none;">

            <a {if condition='$action eq "second"'}class="active"{/if} href="{:url('user.follow/second')}">法拍房</a>

        </li>
       <!--  <li class="swiper-slide">

            <a {if condition='$action eq "index"'}class="active"{/if} href="">国有资产</a>

        </li>

        <li  class="swiper-slide">

            <a {if condition='$action eq "rental"'}class="active"{/if} href="">涉诉房产</a>

        </li>

        <li  class="swiper-slide">

            <a {if condition='$action eq "office"'}class="active"{/if} href="">社会委托</a>

        </li> -->
        <!-- <li class="swiper-slide">

            <a {if condition='$action eq "index"'}class="active"{/if} href="{:url('user.follow/index')}">新房</a>

        </li>

        <li  class="swiper-slide">

            <a {if condition='$action eq "second"'}class="active"{/if} href="{:url('user.follow/second')}">法拍房</a>

        </li>

        <li  class="swiper-slide">

            <a {if condition='$action eq "rental"'}class="active"{/if} href="{:url('user.follow/rental')}">出租房</a>

        </li>

        <li  class="swiper-slide">

            <a {if condition='$action eq "office"'}class="active"{/if} href="{:url('user.follow/office')}">写字楼出售</a>

        </li>

        <li  class="swiper-slide">

            <a {if condition='$action eq "officerental"'}class="active"{/if} href="{:url('user.follow/officeRental')}">写字楼出租</a>

        </li>

        <li  class="swiper-slide">

            <a {if condition='$action eq "shops"'}class="active"{/if} href="{:url('user.follow/shops')}">商铺出售</a>

        </li>

        <li  class="swiper-slide">

            <a {if condition='$action eq "shopsrental"'}class="active"{/if} href="{:url('user.follow/shopsRental')}">商铺出租</a>

        </li>-->

        <!-- <li  class="swiper-slide">

            <a {if condition='$action eq "estate"'}class="active"{/if} href="{:url('user.follow/estate')}">小区</a>

        </li>  -->

    </ul>

</div>

<!-- 我关注房子的房子切换 -->

<script src="__JS__/swiper.min.js"></script>

<script type="text/javascript" src="__STATIC__/js/layer/layer.js"></script>

<script type="text/javascript">

    $(function(){

        var mySwiper = new Swiper('.swiper-container', {

            slidesPerView : 'auto'

        });

        $('.cancel-follow').on('click',function(){

            var house_id = $(this).data('id'),model = $(this).data('model'),url = "{:url('Api/userCancelFollow')}";

            var param = {

                house_id : house_id,

                model    : model

            };

            layer.confirm('您确定要取消关注么？', function(){

                $.get(url,param,function(result){

                    if(result.code == 1)

                    {

                        layer.msg(result.msg,{icon:1},function(){

                            window.location.reload();

                        });

                    }else{

                        layer.msg(result.msg,{icon:2});

                    }

                });

            });

        });

    });

</script>