{extend name='public/layout' /}
{block name='header'}
<!-- header-top S-->
<div class="header-top">
    <header id="header" class="h-list-head">
        <a href="javascript:;" class="go-back"></a>
        <div class="search-box">
            <input type="text" id="keyword" placeholder="请输入楼盘名">
        </div>
        <a href="{:url('Map/index')}" class="map-find-room">地图找房</a>
    </header>
    <!-- 筛选 S -->
    <div class="lr-select-box">
        <div class="select_head" id="select_head">
            <div class="item" id="area" data-id="0">
                <span class="tit">区域</span>
                <span class="iconfont icon-xialajiantouxiangxia"></span>
            </div>
            <div class="item" id="price" data-id="0">
                <span class="tit">价格</span>
                <span class="iconfont icon-xialajiantouxiangxia"></span>
            </div>
            <div class="item" id="type" data-id="0">
                <span class="tit">类型</span>
                <span class="iconfont icon-xialajiantouxiangxia"></span>
            </div>
            <div class="item">
                <span class="tit">更多</span>
                <span class="iconfont icon-xialajiantouxiangxia"></span>
            </div>
        </div>
        <div class="select_body" id="select_body">
            <div class="item common">
                <div class="item_box">
                    <ul class="one-level" data-uri="{:url('Api/getCityChild')}">
                        <li data-id="0" class="active"><a href="javascript:;">不限</a></li>
                        {volist name='area' id='vo'}
                        <li data-id="{$vo.id}"><a href="javascript:;">{$vo.name}</a></li>
                        {/volist}
                    </ul>
                    <ul class="two-level">
                    </ul>
                </div>
            </div>
            <div class="item common">
                <div class="item_box attr">
                    <ul>
                        <li data-id="0" class="active"><a href="javascript:;">不限</a></li>
                        {volist name=':getHousePrice()' id='vo'}
                        <li data-id="{$key}"><a href="javascript:;">{$vo.name}</a></li>
                        {/volist}
                    </ul>
                </div>

            </div>
            <div class="item common">
                <div class="item_box attr">
                    <ul>
                        <li data-id="0" class="active"><a href="javascript:;">不限</a></li>
                        {volist name='type' id='vo'}
                        <li data-id="{$vo.id}"><a href="javascript:;">{$vo.name}</a></li>
                        {/volist}
                    </ul>
                </div>
            </div>
            <div class="item more"  id="more">
                <form action="">
                    <article class="select_area">
                        <div class="tit">排序</div>
                        <section class="section" id="sort">
                            <ul class="clearfix">
                                <li {if condition='$search.sort eq 0'}class="active"{/if} data-id="0">默认</li>
                                <li {if condition='$search.sort eq 1'}class="active"{/if} data-id="1">价格从低到高</li>
                                <li {if condition='$search.sort eq 2'}class="active"{/if} data-id="2">价格从高到低</li>
                                <li {if condition='$search.sort eq 3'}class="active"{/if} data-id="3">开盘时间降序</li>
                                <li {if condition='$search.sort eq 4'}class="active"{/if} data-id="4">开盘时间升序</li>
                            </ul>
                        </section>
                        <section class="section" id="special">
                            <div class="tit">特色</div>
                            <ul class="clearfix">
                                <li {if condition='$search.special eq 0'}class="active"{/if} data-id="0">全部</li>
                                {volist name='special' id='vo'}
                                <li data-id="{$vo.id}">{$vo.name}</li>
                                {/volist}
                            </ul>
                        </section>
                        <section class="section" id="status">
                            <div class="tit">状态</div>
                            <ul class="clearfix">
                                <li class="active" data-id="0">全部</li>
                                {volist name='status' id='vo'}
                                <li data-id="{$vo.id}">{$vo.name}</li>
                                {/volist}
                            </ul>
                        </section>
                        <section class="section" id="renovation">
                            <div class="tit">装修</div>
                            <ul class="clearfix">
                                <li class="active" data-id="0">全部</li>
                                {volist name='renovation' id='vo'}
                                <li data-id="{$vo.id}">{$vo.name}</li>
                                {/volist}
                            </ul>
                        </section>
                    </article>
                    <article class="submit_area">
                        <input type="reset" id="more_reset" class="reset" value="清空条件">
                        <input type="button" id="search-btn" class="submit" value="确定">
                    </article>
                </form>
            </div>
        </div>
    </div>
    <!-- 筛选 E -->
    <ul id="search-lists" data-uri="{:url('Ajax/searchHouse')}"></ul>
</div>
<div id="select_bg"></div>
<!-- header-top E-->
{/block}
{block name='content'}
<div class="main" style="background: #fff;padding-top:4.5rem;">
    <!-- 小区项目细节 S-->
    <div class="house-show-box">
        <ul id="lists" data-uri="{:url('House/getHouseLists')}" data-total="{$total_page}">
            {volist name='lists' id='vo'}
            <li>
                <a href="{:url('House/detail',['id'=>$vo['id']])}" title="{$vo.title}">
                <div class="clearfix">
                    <div class="pic">
                         <img src="{:thumb($vo['img'],200,150)}" onerror="this.src='__STATIC__/images/nopic.jpg'" alt="{$vo.title}">
                        {if condition="getSettingCache('site','red_packet') eq 1 and $vo.red_packet gt 1"}<em></em>{/if}
                        {if condition='$storage_open eq 1 and $vo.video'}<em class="video-play"></em>{/if}
                    </div>
                    <div class="intro-text">
                        <h4 class="saleing">
                            {$vo.title}
                             <span class="house-status-{$vo.sale_status}">{:getLinkMenuName(1,$vo['sale_status'])}</span>
                        </h4>
                        <p class="price"><span>{:getCityName($vo['city'],'-')}</span><span class="price-num"><em>{$vo.price}</em>{$vo.unit}</span></p>
                        <p><span>{$vo.min_acreage}-{$vo.max_acreage}{:config('filter.acreage_unit')}</span><i>|</i><span>{$vo.min_type}-{$vo.max_type}室</span></p>
                        <p class="good">
                            {php}$tags = array_filter(explode(',',$vo['tags_id']));{/php}
                            {notempty name='tags'}
                            {volist name='tags' key='n' id='val'}
                            {if condition='$n lt 4'}
                            <em>{:getLinkMenuName(3,$val)}</em>
                            {/if}
                            {/volist}
                            {/notempty}
                        </p>
                    </div>
                </div>
                {if condition='$vo.is_discount eq 1'}
                <div class="list-discount">
                    <span>惠</span>{$vo.discount}
                </div>
                {/if}
                </a>
            </li>
            {/volist}

        </ul>
        <div class="load-more">
            {notempty name='pages'}
            <a href="javascript:;" id="load-more">加载更多</a>
            {else /}
            <p>数据加载完成</p>
            {/notempty}
        </div>
    </div>
    <!--小区项目细节 E-->

    {include file='public/footer' /}
</div>
<!-- 筛选 -->
<script type="text/html" id="search-template">
    {{# for(var i = 0, len = d.length; i < len; i++){ }}
    <li><a href="{{d[i].url}}"><span>{{d[i].price}}{{d[i].unit}}</span><em>{{d[i].title}}</em></a></li>
    {{# } }}
</script>
<script type="text/html" id="template">
    {{# for(var i = 0, len = d.length; i < len; i++){ }}
    <li>
        <a href="{{d[i].url}}" title="{{d[i].title}}" class="clearfix">
        <div class="clearfix">
            <div class="pic">
                 <img src="{{d[i].img}}" alt="{{d[i].title}}" onerror="this.src='/static/images/nopic.jpg'" />
                {{# if(d[i]['has_red_packet']){ }}<em></em>{{# } }}
                {{# if(d[i]['is_video']){ }}<em class="video-play"></em>{{# } }}
            </div>
            <div class="intro-text">
                <h4 class="saleing">
                    {{d[i].title}}
                    <span class="house-status-{{d[i].sale_status}}">{{d[i].sale_status_name}}</span>
                </h4>
                <p class="price"><span>{{d[i].city}}</span><span class="price-num"><em>{{d[i].price}}</em>{{d[i].unit}}</span></p>
                <p>
                    <span>{{# if(d[i]['min_acreage'] && d[i]['max_acreage']){ }}{{d[i].min_acreage}}-{{d[i].max_acreage}}㎡{{# } }}</span><i>|</i>
                    <span>{{# if(d[i]['min_type'] && d[i]['max_type']){ }}{{d[i].min_type}}-{{d[i].max_type}}室{{# } }}</span>
                </p>
                <p class="good">{{d[i].tags}}</p>
            </div>
        </div>
        {{# if(d[i]['is_discount'] == 1){ }}
        <div class="list-discount">
            <span>惠</span>{{d[i]['discount']}}
        </div>
        {{# } }}
        </a>
    </li>
    {{# } }}

</script>
<script src="__STATIC__/js/layer/laytpl.js"></script>
<script src="__JS__/search.js"></script>
<script src="__JS__/getData.js"></script>
<script type="text/javascript">
    $(function(){
        $('#load-more').on('click',function(){
            Lists.requestParam = getParam();
            Lists.getData();
        });
    });
    function getParam()
    {
        var area = $('#area').attr('data-id'),price = $('#price').attr('data-id'),
                type = $('#type').attr('data-id'),sort = $('#sort li.active').attr('data-id'),
                special = $('#special li.active').attr('data-id'),status = $('#status li.active').attr('data-id'),
                renovation = $('#renovation li.active').attr('data-id');
        return {
                area : area,
                price : price,
                type  : type,
                sort  : sort,
                special : special,
                status  : status,
                renovation : renovation
        };
    }
</script>
{/block}