{extend name="public/layout" /}

{block name='content'}

<!--列表-->



<form class="layui-form" action="">

    <div class="layui-form layui-border-box layui-table-view">

        <table id="tree-table" class="layui-table list-table" cellspacing="0" cellpadding="0" border="0" data-uri="{:url('ajaxEdit')}">

            <colgroup>

                <col width="5%">

                <col width="10%">

                <col width="10%">

                <col width="15%">

                <col width="15%">

                <col width="25%">

                <col width="15%">


            </colgroup>

            <thead>

            <tr>

                <th>

                    <div class="layui-table-cell">

                        <input name="checkAll" lay-skin="primary" lay-filter="checkAll" type="checkbox">

                    </div>

                </th>

                <th>

                    <div class="layui-table-cell"><span>ID</span></div>

                </th>

                <th>

                    <div class="layui-table-cell"><span>昵称</span></div>

                </th>

                <th>

                    <div class="layui-table-cell"><span>联系电话</span></div>

                </th>

                <th>

                    <div class="layui-table-cell"><span>小区</span></div>

                </th>

                <th>

                    <div class="layui-table-cell"><span>详细地址</span></div>

                </th>

                <th>

                    <div class="layui-table-cell"><span>提交时间</span></div>

                </th>

                <th>

                    <div class="layui-table-cell"><span>面积</span></div>

                </th>

                <th>

                    <div class="layui-table-cell"><span>售价</span></div>

                </th>

               



            </tr>

            </thead>

            <tbody>

            {volist name="list" id="val"}

            <tr>

                <td>

                    <div class="layui-table-cell laytable-cell-checkbox">

                        <input lay-skin="primary" lay-filter="checkOne" value="{$val.id}" type="checkbox" />

                    </div>

                </td>

                <td>

                    <div class="layui-table-cell">

                        {$val.id}

                    </div>

                </td>

                <td data-field="title" date-edit="true">

                    <div class="layui-table-cell">

                        {$val.user_name}

                    </div>

                </td>

                <td>

                    <div class="layui-table-cell">

                        {$val.mobile}

                    </div>

                </td>

                <td>
                    <div class="layui-table-cell">
                        {$val.xq}
                   
                    </div>
                </td>

                <td>

                    <div class="layui-table-cell">

                        {$val.address}
                    </div>

                </td>

                <td>

                    <div class="layui-table-cell">

                        {$val.create_time|date='Y-m-d H:i:s'}

                    </div>

                </td>

                <td>

                    <div class="layui-table-cell">

                        {$val.mj}

                    </div>

                </td>

                <td class="kaifazhe-switch">

                    {$val.price}

                </td>

                

            </tr>

            {/volist}

            </tbody>

        </table>

    </div>

    <div class="kaifazhe-fix-bottom layui-clear">

        <div class="kaifazhe-list-option layui-fl">

            <input name="checkAll" lay-filter="checkAll" lay-skin="primary" title="全选/取消" type="checkbox">

            <!-- <button type="button" lay-submit lay-filter="optionAll" data-msg="确定要删除所选项目么？" data-uri="{:url('delete')}" class="layui-btn layui-btn-danger layui-btn-sm">删除</button> -->

        </div>

        

    </div>

</form>

<script>

    layui.config({

        base: '/static/manage/js/'

    });

    //注意：选项卡 依赖 element 模块，否则无法进行功能性操作

    layui.use(['linkmenu'], function(){

        var $ = layui.jquery,menu = layui.linkmenu;

        $(".J_cate_select").select({field : 'J_cate_id',id : 'J_cate_select'});

    });

</script>

{/block}

