{extend name='user/public/layout' /}
{block name='content'}
<style>
    .edite-data span:nth-child(2){text-align:left;}
    .edite-data span:nth-child(2) input{text-align:left;}
</style>
<div class="main">
    <div class="pec-relLink edite-data mb20">
        <a><span>原&nbsp;密&nbsp;&nbsp;码</span><span class="ipt"><input type="password" placeholder="原密码" name="old_password" value=""></span></a>
        <a><span>新&nbsp;密&nbsp;&nbsp;码</span><span class="ipt"><input type="password" placeholder="新密码" name="password"></span></a>
        <a><span>确认密码</span><span class="ipt"><input type="password" placeholder="确认密码" name="password2"></span></a>
    </div>
    <div class="bt-box pt45 pb160">
        <button type="button" id="sub-btn" class="btn" data-uri="{:url('user.account/editPassword')}">确定修改</button>
    </div>

</div>
<script src="__STATIC__/js/layer/layer.js"></script>
<script>
    $(function(){
       $('#sub-btn').on('click',function(){
           var old_password = $("input[name='old_password']").val(),password = $("input[name='password']").val(),
                   password2 = $("input[name='password2']").val(),url = $(this).data('uri');
           if(password.length < 6)
           {
               layer.msg('密码至少6位');
               return false;
           }else if(password!=password2){
               layer.msg('两次密码输入不一致');
           }else{
               var param = {
                   old_password : old_password,
                   password   : password,
                   password2  : password2
               };
               $.post(url,param,function(result){
                   if(result.code == 1)
                   {
                       layer.msg(result.msg,{icon:1},function(){
                           window.location.reload();
                       });
                   }else{
                       layer.msg(result.msg,{icon:2});
                   }
               });
           }

       }) ;
    });
</script>
{/block}