{extend name="public/layout" /}
{block name='content'}
<form class="layui-form" id="info_form" action="{:url('House/addDo')}" method="post" enctype="multipart/form-data">
	<div class="layui-tab layui-tab-brief">
		<ul class="layui-tab-title">
			<li class="layui-this">楼盘信息</li>
			<li>配套信息</li>
		</ul>
		<div class="layui-tab-content">
			<div class="layui-tab-item layui-show">
				<div class="layui-form-item">
					<label class="layui-form-label"><span class="layui-form-alert">*</span>所属区域</label>
					<input type="hidden" name="city" id="J_city_id" value="" />
					<div class="layui-input-block">
						<select class="J_city_select mr10" lay-filter="J_city_select" data-pid="0" data-uri="{:url('City/ajaxGetchilds')}" data-selected="">
						</select>
					</div>

				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label"><span class="layui-form-alert">*</span>楼盘名称</label>
						<div class="layui-input-inline">
							<input type="text" name="title" lay-verify="title" placeholder="楼盘名称" value="" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label"><span class="layui-form-alert">*</span>均价</label>
						<div class="layui-input-inline" style="width:90px;">
							<input type="text" name="price"  lay-verify="price" size="10" placeholder="30000" value="" autocomplete="off" class="layui-input">
						</div>
						<div class="layui-input-inline" style="width:80px;">
							<select name="unit" id="unit">
								{volist name='unit' id='vo'}
								<option value="{$key}">{$vo}</option>
								{/volist}
							</select>
						</div>
					</div>

				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label"><span class="layui-form-alert">*</span>楼盘地址 </label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" lay-verify="address" id="address" name="address" placeholder="例：海秀路120号"  autocomplete="off" value="" >
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">售楼处地址 </label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="sale_address" placeholder="例：海秀路120号"  autocomplete="off" value="" >
						</div>
					</div>

				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">开盘时间 </label>
						<div class="layui-input-inline" style="width:110px;;">
							<input type="text" class="layui-input" id="opening_time" name="opening_time" placeholder="2016-10-22"  autocomplete="off" value="" >
						</div>
						<div class="layui-input-inline" style="width:190px;">
							<input type="text" class="layui-input" name="opening_time_memo" placeholder="1#,2#已开盘"  autocomplete="off" value="" >
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">交房时间 </label>
						<div class="layui-input-inline" style="width:110px;">
							<input type="text" class="layui-input" id="complate_time" name="complate_time" placeholder="2018-10-20"  autocomplete="off" value="" >
						</div>
						<div class="layui-input-inline" style="width:190px;">
							<input type="text" class="layui-input" name="complate_time_memo" placeholder="1#,2#已交房"  autocomplete="off" value="" >
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">售楼电话 </label>
						<div class="layui-input-inline" style="width:200px;">
							<input type="text" class="layui-input" name="sale_phone[phone]" placeholder="0898-32266803"  autocomplete="off" value="" >
						</div>
						<div class="layui-form-mid layui-word-aux layui-fl" style="margin-left:10px;">转</div>
						<div class="layui-input-inline" style="width:67px;">
							<input type="text" class="layui-input" name="sale_phone[extension]" placeholder="8888"  autocomplete="off" value="" >
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">预售证号 </label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="license_key" placeholder=" [2014]海房预字（0076）号"  autocomplete="off" value="" >
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">开发商 </label>
						<div class="layui-input-inline">
							<input type="hidden" name="developer_id" id="developer_id" value="222">
							<input type="text" class="layui-input" name="developer_name" id="developer_name" placeholder="富力地产"  autocomplete="off" value="" >
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">地图坐标 </label>
						<div class="layui-input-inline" style="width:200px;">
							<input type="text" class="layui-input" name="map" id="map" placeholder="115.345,22.1349"  autocomplete="off" value="" >
						</div>
						<div class="layui-input-inline">
							<button type="button" id="mark" data-autouri="{:addon_url('map://Map/getLocationByAddress')}" data-uri="{:addon_url('map://Map/updateLocation')}" class="layui-btn">标注位置</button>
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-block">
						<label class="layui-form-label">优惠楼盘 </label>
						<div class="layui-input-block">
							<input type="checkbox" lay-skin="primary" lay-filter="discount" name="is_discount" value="1" title="">
						</div>
					</div>
				</div>
				<div class="layui-form-item layui-hide" id="discount">
					<div class="layui-block">
						<label class="layui-form-label">优惠内容 </label>
						<div class="layui-input-block">
							<textarea name="discount" id="" class="layui-textarea"></textarea>
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-block">
						<label class="layui-form-label">装修情况</label>
						<div class="layui-input-block">
							{:getLinkMenu(8,'renovation','radio')}
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-block">
						<label class="layui-form-label">销售状态 </label>
						<div class="layui-input-block">
							{:getLinkMenu(1,'sale_status','radio',1)}
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-block">
						<label class="layui-form-label">楼盘类型 </label>
						<div class="layui-input-block">
							{:getLinkMenu(2,'type_id','checkbox')}
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-block">
						<label class="layui-form-label">特色标签 </label>
						<div class="layui-input-block">
							{:getLinkMenu(3,'tags_id','checkbox')}
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">缩略图</label>
					<div class="layui-input-block">
						<div class="layui-upload">
							<input type="hidden" name="img" id="img_txt">
							<button type="button" class="layui-btn" id="img">上传图片</button>
							<div id="img_preview">

							</div>
						</div>
					</div>
				</div>
				{if condition="isset($storage['open']) && $storage.open eq 1 && $storage.upload_type neq 1"}
				<div class="layui-form-item">
					<label class="layui-form-label">视频看房</label>
					<div class="layui-input-block">
						<div class="layui-upload">
							<input type="hidden" name="video" id="video">
							<div id="container">
								<button type="button" class="layui-btn" id="select-video-btn">选择视频</button>
								<button type="button" class="layui-btn" id="upload-video-btn">开始上传</button>
								<span>支持视频格式：mp4,flv,m3u8 最大可上传500M</span>
							</div>
							<div id="ossfile"></div>
							<div id="console"></div>
						</div>
					</div>
				</div>
				{/if}
				<div class="layui-form-item">
					<label class="layui-form-label">全景看房<a href="javascript:;" data-title="在720yun.com或其它全景平台创建全景相册，复制链接地址到输入框。" class="layui-icon layui-icon-tips alert"></a></label>
					<div class="layui-input-inline" style="width:600px;">
						<input name="pano_url" id="pano_url" placeholder="在720yun.com创建全景相册,复制链接地址到输入框" class="layui-input" />
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">楼盘介绍</label>
					<div class="layui-input-block">
						<script id="info" name="info" type="text/plain"></script>
					</div>
				</div>
			</div>
			<div class="layui-tab-item">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">建筑类型 </label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="attr[building_type]" placeholder="板楼"  autocomplete="off" value="" >
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">产权年限 </label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="attr[property_right]" placeholder="70年"  autocomplete="off" value="" >
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">占地面积 </label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="attr[area_covered]" placeholder="789009平米"  autocomplete="off" value="" >
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">建筑面积 </label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="attr[area_build]" placeholder="750098平米"  autocomplete="off" value="" >
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">容积率 </label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="attr[volume_ratio]" placeholder="3.3"  autocomplete="off" value="" >
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">绿化率 </label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="attr[greening_rate]" placeholder="40%"  autocomplete="off" value="" >
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">规划户数 </label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="attr[plan_number]" placeholder="800户"  autocomplete="off" value="" >
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">地下车位 </label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="attr[parking_space]" placeholder="750个"  autocomplete="off" value="" >
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">物业类型 </label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="attr[property_type]" placeholder="住宅"  autocomplete="off" value="" >
						</div>
					</div>
					<div class="layui-inline">
						<label class="layui-form-label">物业公司 </label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="attr[property_company]" placeholder="海航物业管理有限公司"  autocomplete="off" value="" >
						</div>
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">物业费 </label>
						<div class="layui-input-inline">
							<input type="text" class="layui-input" name="attr[property_fee]" placeholder="1.5元/平米/月"  autocomplete="off" value="" >
						</div>
					</div>

				</div>
				<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
					<legend>SEO优化</legend>
				</fieldset>
				<div class="layui-form-item">
					<div class="layui-block">
						<label class="layui-form-label">seo标题 </label>
						<div class="layui-input-block">
							<input type="text" class="layui-input" name="seo[seo_title]" placeholder="seo标题"  autocomplete="off" value="" >
						</div>
					</div>

				</div>
				<div class="layui-form-item">
					<div class="layui-block">
						<label class="layui-form-label">seo关键词 </label>
						<div class="layui-input-block">
							<input type="text" class="layui-input" name="seo[seo_keys]" placeholder="seo关键词"  autocomplete="off" value="" >
						</div>
					</div>

				</div>
				<div class="layui-form-item">
					<div class="layui-block">
						<label class="layui-form-label">seo描述 </label>
						<div class="layui-input-block">
							<textarea name="seo[seo_desc]" class="layui-textarea" id="seo_desc"></textarea>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">&nbsp;</label>
		<button type="submit" lay-submit="" class="layui-btn btn-submit w200">提交</button>
	</div>
</form>
<input type="hidden" id="uploadUrl" value="{:url('House/ajaxUploadImg')}" />
<input type="hidden" id="deleteUrl" value="{:url('House/deleteImg')}" />
<input type="hidden" id="deleteVideo" value="{:url('House/deleteVideo')}" />
{:hook('ueditor',['id'=>'info'])}
{if condition="isset($storage['open']) && $storage.open eq 1 && $storage.upload_type neq 1"}
{if condition='$storage.type eq "aliyun"'}
<script type="text/javascript" src="/static/storage/alioss/js/plupload.full.min.js"></script>
<script src="/static/storage/alioss/upload.js"></script>
{else /}
<script src="/static/storage/qiniuoss/plupload.full.min.js"></script>
<script src="/static/storage/qiniuoss/qiniu.min.js"></script>
<script src="/static/storage/qiniuoss/upload.js"></script>
{/if}
{else /}
<script>
	document.getElementById('select-video-btn').onclick = function(){
		alert('请先配置云存储账号再上传');
	}
</script>
{/if}
<script src="__JS__/option.js"></script>
<script>
	//注意：选项卡 依赖 element 模块，否则无法进行功能性操作
	layui.use(['form','element','upload','linkmenu','laydate'], function(){
		var $ = layui.jquery,element = layui.element,layer = layui.layer,form = layui.form,laydate = layui.laydate;
		laydate.render({
			elem: '#opening_time' //指定元素
		});
		laydate.render({
			elem: '#complate_time' //指定元素
		});
		//自定义验证规则
		form.verify({
			area : function(value){
				if(!/\d+$/.test(value)){
					return '请选择区域';
				}
			},
			title: function(value){
				if(value.length == 0){
					return '请填写楼盘名称';
				}
			},
			price : function(value){
				if(!/\d+$/.test(value)){
					return '价格只能为数';
				}
			},
			address : function(value){
				if(value.length < 5){
					return '请写正确的地址';
				}
			}

		});
		$("#developer_name").on('focus',function(){
			layer.open({
				type : 2,
				title : '选择开发商',
				area : ['500px','500px'],
				shade : 0.2,
				content : "{:url('Developer/ajaxGetDeveloper')}",
				iframeAuto:true
			});
		});
		form.on("checkbox(discount)",function(data){
			var checked = data.elem.checked;
			if(checked)
			{
				$("#discount").removeClass('layui-hide');
			}else{
				$("#discount").addClass('layui-hide').find('textarea').val('');
			}
		});
	});
</script>
{/block}