{extend name='public/layout' /}
{block name='content'}
<!--导航列表-->
<form class="layui-form" action="">
    <div class="layui-form layui-border-box layui-table-view">
        <div class="layui-table-header">
            <table class="layui-table list-table" id="J_cate_tree" cellspacing="0" cellpadding="0" border="0" data-uri="{:url('ajaxEdit')}">
                <colgroup>
                    <col width="15%">
                    <col width="10%">
                    <col width="10%">
                    <col width="20%">
                    <col width="15%">
                    <col width="10%">
                    <col width="10%">
                    <col width="10%">
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <div class="layui-table-cell"><span>导航名称</span></div>
                    </th>
                    <th>
                        <div class="layui-table-cell"><span>位置</span></div>
                    </th>
                    <th>
                        <div class="layui-table-cell"><span>打开方式</span></div>
                    </th>
                    <th>
                        <div class="layui-table-cell"><span>SEO标题</span></div>
                    </th>
                    <th>
                        <div class="layui-table-cell"><span>SEO关键词</span></div>
                    </th>
                    <th>
                        <div class="layui-table-cell"><span>排序</span></div>
                    </th>
                    <th>
                        <div class="layui-table-cell"><span>状态</span></div>
                    </th>
                    <th width="120">
                        <div class="layui-table-cell"><span>操作</span></div>
                    </th>
                </tr>
                </thead>
                <tbody>
                {volist name="list" id="val"}
                <tr id="node-{$val.id}" {if condition="$val.pid neq 0"}class="child-of-node-{$val.pid}"{/if}>
                <td style="text-align:left;padding-left:10px;">
                    {$val.name}
                </td>
                <td>
                    <div class="layui-table-cell">
                        {$val.pos==1?'页头菜单':'<span style="color:green;">页脚菜单</span>'}
                    </div>
                </td>
                <td>
                    <div class="layui-table-cell">
                        {if condition="$val['open_type'] eq '_self'"}当前页面{else /}新页面{/if}
                    </div>
                </td>
                <td>
                    {$val.seo_title}
                </td>
                <td>
                    {$val.seo_keys}
                </td>
                <td>
                    <div class="layui-table-cell">
                        <span data-tdtype="edit" data-field="ordid" data-id="{$val.id}" class="tdedit">{$val.ordid}</span>
                    </div>
                </td>
                <td class="kaifazhe-switch">
                    <div class="layui-table-cell">
                        <input type="checkbox" name="switch" lay-filter="switchStatus" lay-skin="switch" data-field="status" data-id="{$val.id}" value="{$val.status}" lay-text="正常|禁用" {if condition="$val.status eq 1"}checked{/if}>
                    </div>
                </td>
                <td align="center">
                    {:rights($options,$val['id'],$val['title'],$menuid)}
                    {if condition="$val.is_sys eq 0"}
                    <a href="javascript:void(0);" class="J_confirm layui-btn layui-btn-xs layui-btn-danger" data-uri="{:url('delete',['id'=>$val.id])}" data-msg="确定删除该导航么？">删除</a>
                    {/if}
                </td>
                </tr>
                {/volist}
                </tbody>
            </table>
        </div>
    </div>

</form>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/plugins/jquery.treetable.js"></script>
<script>
    $(function(){
        $("#J_cate_tree").treeTable({indent:20,treeColumn:0,expandable:false});
    });
    layui.use(['form'], function() {
        var form = layui.form;
    });
</script>
{/block}
